# Created by .ignore support plugin (hsz.mobi)
target/
!/.idea/vcs.xml
!/.idea/dataSources.local.xml
!/.idea/fpl.iml
!/.idea/.gitignore
!/.idea/workspace.xml
!/.idea/encodings.xml
!/.idea/dataSources.xml
!/.idea/uiDesigner.xml
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/jarRepositories.xml
!/.idea/compiler.xml
!/.idea/vcs.xml
!/.idea/inspectionProfiles/
!/.idea/dataSources/
!/.idea/fpl.iml
!/.idea/.gitignore
!/.idea/codeStyles/
!/.idea/dataSources.xml
!/.idea/uiDesigner.xml
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/jarRepositories.xml
!/.idea/compiler.xml
!/.idea/dataSources.local.xml
!/.idea/workspace.xml
!/.idea/encodings.xml
!/.idea/libraries/
/.idea/
src/main/resources/.DS_Store
fpl.iml
~/
application.yaml
