<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>字幕</title>

    <meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">

    <link href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all" rel="stylesheet"/>

    <script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.1.0/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

</head>

<style>
    .layui-table-cell, .layui-table-box, .layui-table-body {
        overflow: visible;
    }

    td .layui-form-select {
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>

<body>

<div class="layui-header header header-doc">
    <div class="layui-main">
        <a class="logo">字幕</a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <div style="margin-top: 20px"></div>

            <form class="layui-form">
                <div class="layui-form-item">

                    <div class="layui-inline" style="margin-right: -80px">
                        <label class="layui-form-label" style="margin-left: -60px">工种</label>
                        <div class="layui-input-inline" style="width: 35%">
                            <select class="layui-select" lay-filter="jobType" name="jobType">
                                <option value="">请选择</option>
                                <option value="1">翻译</option>
                                <option value="2">校对</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline" style="margin-right: -80px">
                        <label class="layui-form-label" style="margin-left: -60px">类型</label>
                        <div class="layui-input-inline" style="width: 35%">
                            <select class="layui-select" lay-filter="videoType" name="videoType">
                                <option value="">请选择</option>
                                <option value="1">Youtube</option>
                                <option value="2">Titok</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline" style="width: 110px">
                        <select class="layui-select" lay-filter="mode" name="mode">
                            <option value="1">接活时间</option>
                            <option value="2">完成时间</option>
                        </select>
                    </div>

                    <div class="layui-inline" style="margin-left: 10px;width: 120px">
                        <input autocomplete="off" class="layui-input" name="startDay" type="text">
                    </div>
                    <div class="layui-inline">
                        <div class="layui-form-mid">到</div>
                    </div>
                    <div class="layui-inline" style="margin-left: -10px;width: 120px">
                        <input autocomplete="off" class="layui-input" name="endDay" type="text">
                    </div>

                    <div class="layui-inline" style="margin-right: -80px">
                        <label class="layui-form-label" style="margin-left: -60px">状态</label>
                        <div class="layui-input-inline" style="width: 35%">
                            <select class="layui-select" lay-filter="status" name="status">
                                <option value="">请选择</option>
                                <option value="0">全部</option>
                                <option value="1">未完成</option>
                                <option value="2">已完成</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline" style="margin-left: -10px">
                        <button class="layui-btn" id="search" type="button">查询</button>
                    </div>

                </div>
            </form>

            <div style="margin-top: 20px"></div>

            <button class="layui-btn layui-btn-sm" id="addRecord" style="margin-bottom: -10px">新增</button>

            <table class="layui-table" id="subtitleTable" lay-filter="subtitleTable"></table>

            <fieldset class="layui-elem-field layui-field-title site-title"
                      style="margin-top: 30px">
                <legend><a>合成字幕（将上传的字幕合成为拉轴所需格式）</a></legend>
            </fieldset>

            <div class="layui-upload-drag" id="upload" style="margin-left: 80px">
                <p>限制：格式：txt；最大1M</p>
                <i class="layui-icon"></i>
                <p>点击或拖拽上传已翻译字幕</p>
            </div>

            <div style="margin-top: 20px"></div>

            <form class="layui-form">
                <div class="layui-form-item">

                    <label class="layui-form-label">文件名</label>
                    <div class="layui-input-inline">
                        <input autocomplete="on" class="layui-input" name="fileName" type="text">
                    </div>

                    <label class="layui-form-label">包括英文</label>
                    <input lay-filter="engSub" lay-skin="switch" lay-text="是|否" name="engSub" type="checkbox">

                    <button class="layui-btn layui-btn-sm" id="mergeSub" style="margin-left:50px;margin-top: 6px"
                            type="button">合成字幕
                    </button>

                    <button class="layui-btn layui-btn-sm" id="download" style="margin-left:20px;margin-top: 6px"
                            type="button">下载
                    </button>

                </div>

            </form>

            <fieldset class="layui-elem-field layui-field-title site-title"
                      style="margin-top: 30px">
                <legend><a>网站（常用工具网站）</a></legend>
            </fieldset>

            <a href="https://clipconverter.io/" style="font-size: 15px" target="_blank">视频下载</a>
            <br>
            <br>
            <a href="https://downsub.com/" style="font-size: 15px" target="_blank">字幕下载</a>
            <br>
            <br>
            <a href="https://musicaldown.com/en/" style="font-size: 15px" target="_blank">抖音下载</a>

            <fieldset class="layui-elem-field layui-field-title site-title"
                      style="margin-top: 30px">
                <legend><a>歌词文件（lrc转word）</a></legend>
            </fieldset>

            <div class="layui-upload-drag" id="lrcUpload" style="margin-left: 80px">
                <i class="layui-icon"></i>
                <p>点击或拖拽上传</p>
            </div>

            <div style="margin-top: 20px"></div>

            <form class="layui-form">
                <div class="layui-form-item">

                    <label class="layui-form-label">文件名</label>
                    <div class="layui-input-inline">
                        <input autocomplete="on" class="layui-input" name="lrcName" type="text">
                    </div>

                    <button class="layui-btn layui-btn-sm" id="lrcDownload" style="margin-left:20px;margin-top: 6px"
                            type="button">下载
                    </button>

                </div>

            </form>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script th:replace="layout::baseScript"></script>

<script id="barTpl" type="text/html">
    {{#  if(d.id > 0){ }}
    <a class="layui-btn layui-btn-xs" title="点击单元格编辑修改的内容" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-xs" lay-event="add">新增</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cancel">取消</a>
    {{#  } }}
</script>

<script id="toolbar" type="text/html">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="trans-titok">翻译-抖音</button>
        <button class="layui-btn layui-btn-sm" lay-event="trans-youtube">翻译-有土鳖</button>
        <button class="layui-btn layui-btn-sm" lay-event="proof-titok">校对-抖音</button>
        <button class="layui-btn layui-btn-sm" lay-event="proof-youtube">校对-有土鳖</button>
        <button class="layui-btn layui-btn-sm" lay-event="clear">清除筛选条件</button>
    </div>
</script>

<script th:inline="none">
    layui.use(['form', 'layer', 'laydate', 'table', 'soulTable', 'upload'], function () {

        let $ = layui.$, form = layui.form, layer = layui.layer, laydate = layui.laydate, table = layui.table,
            soulTable = layui.soulTable, upload = layui.upload;

        $("input[name=engSub]").val("off");

        laydate.render({
            elem: 'input[name=startDay]',
            trigger: "click",
            max: moment().format('YYYY-MM-DD')
        });

        laydate.render({
            elem: 'input[name=endDay]',
            trigger: "click",
            max: moment().format('YYYY-MM-DD')
        });

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        let jobTypeEnum = ["翻译", "校对"], videoTypeEnum = ["Titok", "Youtube"],
            statusEnum = ["已接活", "已填表", "已结算"];

        let subtitleTable, qryParam = {
            jobType: $("select[name=jobType]").siblings("div.layui-form-select").find("dl").find("dd.layui-this").text(),
            videoType: $("select[name=videoType]").siblings("div.layui-form-select").find("dl").find("dd.layui-this").text(),
            mode: $("select[name=mode]").val(),
            startDay: $("input[name=startDay]").val(),
            endDay: $("input[name=endDay]").val(),
            status: $("select[name=status]").siblings("div.layui-form-select").find("dl").find("dd.layui-this").text()
        };

        axios.post('/subtitle/qrySubtitleList', qryParam)
            .then(function (response) {
                subtitleTable = table.render({
                    elem: '#subtitleTable',
                    even: true,
                    data: response.data,
                    toolbar: '#toolbar',
                    defaultToolbar: ["filter"],
                    page: true,
                    limit: 15,
                    limits: [15, 30, 50, 100],
                    cellMinWidth: 80,
                    cols: [[
                        {fixed: 'left', type: 'numbers', title: ''},
                        {fix: 'left', field: 'title', title: '视频标题', align: 'center', width: 400, edit: true},
                        {field: 'length', title: '时长(s)', align: 'center', edit: true},
                        {
                            field: 'jobType',
                            title: '工种',
                            align: 'center',
                            width: 90,
                            templet: function (d) {
                                let select = "<select name='jobTypeSelect' lay-filter='jobTypeSelect'>";
                                if (d.jobType != null) {
                                    select += "<option value=" + d.jobType + ">" + d.jobType + "</option>";
                                    $.each(jobTypeEnum, function (index, item) {
                                        if (item !== d.jobType) {
                                            select += "<option value=" + item + ">" + item + "</option>";
                                        }
                                    })
                                } else {
                                    $.each(jobTypeEnum, function (index, item) {
                                        select += "<option value=" + item + ">" + item + "</option>";
                                    })
                                }
                                select += "</select>";
                                return select;
                            }
                        },
                        {
                            field: 'videoType',
                            title: '视频类型',
                            align: 'center',
                            width: 120,
                            templet: function (d) {
                                let select = "<select name='videoTypeSelect' lay-filter='videoTypeSelect'>";
                                if (d.videoType != null) {
                                    select += "<option value=" + d.videoType + ">" + d.videoType + "</option>";
                                    $.each(videoTypeEnum, function (index, item) {
                                        if (item !== d.videoType) {
                                            select += "<option value=" + item + ">" + item + "</option>";
                                        }
                                    })
                                } else {
                                    $.each(statusEnum, function (index, item) {
                                        select += "<option value=" + item + ">" + item + "</option>";
                                    })
                                }
                                select += "</select>";
                                return select;
                            }
                        },
                        {
                            field: 'automaticCaptions',
                            title: '字幕',
                            align: 'center',
                            templet: function (d) {
                                if (!d.automaticCaptions) {
                                    return "<select name='captionsSelect' lay-filter='captionsSelect'>" +
                                        "<option value='无'>无</option>" +
                                        "<option value='有'>有</option>" +
                                        "</select>";
                                } else {
                                    return "<select name='captionsSelect' lay-filter='captionsSelect'>" +
                                        "<option value='有'>有</option>" +
                                        "<option value='无'>无</option>" +
                                        "</select>";
                                }
                            }
                        },
                        {field: 'translator', title: '翻译', align: 'center', edit: true, filter: true},
                        {field: 'jobDate', title: '接活', align: 'center', width: 120, edit: true, filter: true},
                        {field: 'proofreader', title: '校对', align: 'center', edit: true, filter: true},
                        {field: 'proportion', title: '占比', align: 'center', width: 60, edit: true},
                        {
                            field: 'translatorLength',
                            title: '翻译时长(s)',
                            align: 'center',
                            width: 110,
                            hide: true,
                            templet: function (d) {
                                return Math.ceil(d.length * (d.proportion / 10));
                            }
                        },
                        {
                            field: 'proofreaderLength',
                            title: '校对时长(s)',
                            align: 'center',
                            width: 110,
                            hide: true,
                            templet: function (d) {
                                let translatorLength = Math.ceil(d.length * (d.proportion / 10));
                                if (translatorLength > 0) {
                                    return d.length - translatorLength;
                                } else {
                                    return '';
                                }
                            }
                        },
                        {
                            field: 'status',
                            title: '状态',
                            align: 'center',
                            width: 90,
                            templet: function (d) {
                                let select = "<select name='statusSelect' lay-filter='statusSelect'>";
                                if (d.status != null) {
                                    select += "<option value=" + d.status + ">" + d.status + "</option>";
                                    $.each(statusEnum, function (index, item) {
                                        if (item !== d.status) {
                                            select += "<option value=" + item + ">" + item + "</option>";
                                        }
                                    })
                                } else {
                                    $.each(statusEnum, function (index, item) {
                                        select += "<option value=" + item + ">" + item + "</option>";
                                    })
                                }
                                select += "</select>";
                                return select;
                            }
                        },
                        {field: 'finishDate', title: '完成日期', align: 'center', width: 120, edit: true, filter: true},
                        {fixed: 'right', title: '操作', align: 'center', width: 108, toolbar: '#barTpl'}
                    ]],
                    id: 'subtitleTable',
                    filter: {
                        items: ['data'],
                        bottom: false
                    },
                    done: function () {
                        soulTable.render(this);
                    }
                });
            })

        table.on('toolbar(subtitleTable)', function (obj) {
            switch (obj.event) {
                case 'trans-titok': {
                    qryParam.jobType = '翻译';
                    qryParam.videoType = 'Titok';
                    axios.post('/subtitle/qrySubtitleList', qryParam)
                        .then(function (response) {
                            table.reload('subtitleTable', {data: response.data});
                        })
                    break;
                }
                case 'trans-youtube': {
                    qryParam.jobType = '翻译';
                    qryParam.videoType = 'Youtube';
                    axios.post('/subtitle/qrySubtitleList', qryParam)
                        .then(function (response) {
                            table.reload('subtitleTable', {data: response.data});
                        })
                    break;
                }
                case 'proof-titok': {
                    qryParam.jobType = '校对';
                    qryParam.videoType = 'Titok';
                    axios.post('/subtitle/qrySubtitleList', qryParam)
                        .then(function (response) {
                            table.reload('subtitleTable', {data: response.data});
                        })
                    break;
                }
                case 'proof-youtube': {
                    qryParam.jobType = '校对';
                    qryParam.videoType = 'Youtube';
                    axios.post('/subtitle/qrySubtitleList', qryParam)
                        .then(function (response) {
                            table.reload('subtitleTable', {data: response.data});
                        })
                    break;
                }
                case 'clear': {
                    soulTable.clearFilter('subtitleTable');
                    qryParam.jobType = $("select[name=jobType]").siblings("div.layui-form-select").find("dl").find("dd.layui-this").text();
                    qryParam.videoType = $("select[name=videoType]").siblings("div.layui-form-select").find("dl").find("dd.layui-this").text();
                    axios.post('/subtitle/qrySubtitleList', qryParam)
                        .then(function (response) {
                            table.reload('subtitleTable', {data: response.data});
                        })
                    break;
                }
            }
        });

        $("#search").on('click', function () {
            qryParam = {
                title: $("input[name=title]").val(),
                mode: $("select[name=mode]").val(),
                startDay: $("input[name=startDay]").val(),
                endDay: $("input[name=endDay]").val(),
                status: $("select[name=status]").siblings("div.layui-form-select").find("dl").find("dd.layui-this").text()
            };
            axios.post('/subtitle/qrySubtitleList', qryParam)
                .then(function (response) {
                    subtitleTable = table.reload('subtitleTable', {data: response.data});
                })
        });

        $('#addRecord').on('click', function () {
            let config = subtitleTable.config;
            let newData = [];
            newData.push({
                id: 'new' + new Date().getTime(),
                title: '',
                jobType: '翻译',
                videoType: 'Titok',
                length: '',
                automaticCaptions: '有',
                translator: '詹林璟',
                jobDate: moment().format("YYYY-MM-DD"),
                proofreader: '',
                proportion: '9',
                status: '已接活',
                finishDate: moment().format("YYYY-MM-DD")
            });
            $.each(config.data, function (index, item) {
                newData.push(item);
            })
            subtitleTable = table.reload(config.id, $.extend(true, {data: newData}, {}));
        });

        table.on('row(subtitleTable)', function (obj) {

            form.on('select(jobTypeSelect)', function (data) {
                let tableData = table.cache["subtitleTable"]
                let id = obj.data.id;
                if (id > 0) {
                    $.each(tableData, function (index, item) {
                        if (item.id === obj.data.id) {
                            item.jobType = data.value;
                        }
                    })
                } else {
                    let title = obj.data.title;
                    if (typeof title === 'undefined') {
                        layer.msg("先填标题！", {time: 1500});
                        $("select[name=statusSelect]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='翻译']").click();
                        return false;
                    }
                    $.each(tableData, function (index, item) {
                        if (item.title === title) {
                            item.jobType = data.value;
                        }
                    })
                }
            });

            form.on('select(videoTypeSelect)', function (data) {
                let tableData = table.cache["subtitleTable"]
                let id = obj.data.id;
                if (id > 0) {
                    $.each(tableData, function (index, item) {
                        if (item.id === obj.data.id) {
                            item.videoType = data.value;
                        }
                    })
                } else {
                    let title = obj.data.title;
                    if (typeof title === 'undefined') {
                        layer.msg("先填标题！", {time: 1500});
                        $("select[name=statusSelect]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='Youtube']").click();
                        return false;
                    }
                    $.each(tableData, function (index, item) {
                        if (item.title === title) {
                            item.videoType = data.value;
                        }
                    })
                }
            });

            form.on('select(captionsSelect)', function (data) {
                let tableData = table.cache["subtitleTable"]
                let id = obj.data.id;
                if (id > 0) {
                    $.each(tableData, function (index, item) {
                        if (item.id === obj.data.id) {
                            item.automaticCaptions = data.value;
                        }
                    })
                } else {
                    let title = obj.data.title;
                    if (typeof title === 'undefined') {
                        layer.msg("先填标题！", {time: 1500});
                        $("select[name=captionsSelect]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='是']").click();
                        return false;
                    }
                    $.each(tableData, function (index, item) {
                        if (item.title === title) {
                            item.automaticCaptions = data.value;
                        }
                    })
                }
            });

            form.on('select(statusSelect)', function (data) {
                let tableData = table.cache["subtitleTable"]
                let id = obj.data.id;
                if (id > 0) {
                    $.each(tableData, function (index, item) {
                        if (item.id === obj.data.id) {
                            item.status = data.value;
                        }
                    })
                } else {
                    let title = obj.data.title;
                    if (typeof title === 'undefined') {
                        layer.msg("先填标题！", {time: 1500});
                        $("select[name=statusSelect]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='已接活']").click();
                        return false;
                    }
                    $.each(tableData, function (index, item) {
                        if (item.title === title) {
                            item.status = data.value;
                        }
                    })
                }
            });

        });

        table.on('edit(subtitleTable)', function (obj) {
            if (obj.field === 'title') {
                if (obj.value === '') {
                    layer.msg("标题不能为空！", {time: 1500});
                    let old = $(this).prev().text();
                    $(this).val(old);
                    subtitleTable.config.data[obj.data.id - 1].title = old;
                }
            }
            if (obj.field === 'length') {
                let reg = /^[0-9]*$/;
                if (obj.value.match(reg) == null) {
                    layer.msg("必须填数字", {time: 1500});
                    let old = $(this).prev().text();
                    $(this).val(old);
                    subtitleTable.config.data[obj.data.id - 1].length = old;
                }
            }
            if (obj.field === 'proportion') {
                let reg = /^[0-9]*$/;
                if (obj.value.match(reg) == null) {
                    layer.msg("必须填数字", {time: 1500});
                    let old = $(this).prev().text();
                    $(this).val(old);
                    subtitleTable.config.data[obj.data.id - 1].proportion = old;
                }
            }
            if (obj.field === 'proportion') {
                if (parseInt(obj.value) < 0 || parseInt(obj.value) > 9) {
                    layer.msg("翻译占比必须是0-9", {time: 1500});
                    let old = $(this).prev().text();
                    $(this).val(old);
                    subtitleTable.config.data[obj.data.id - 1].proportion = old;
                }
            }
            if (obj.field === 'jobDate') {
                let reg = /^[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;
                if (obj.value.match(reg) == null) {
                    layer.msg("日期格式：yyyy-MM-dd", {time: 1500});
                    let old = $(this).prev().text();
                    $(this).val(old);
                    subtitleTable.config.data[obj.data.id - 1].jobDate = old;
                }
            }
            if (obj.field === 'finishDate') {
                let reg = /^[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;
                if (obj.value.match(reg) == null) {
                    layer.msg("日期格式：yyyy-MM-dd", {time: 1500});
                    let old = $(this).prev().text();
                    $(this).val(old);
                    subtitleTable.config.data[obj.data.id - 1].finishDate = old;
                }
            }
        });

        table.on('tool(subtitleTable)', function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case 'edit': {
                    let subtitleData = {};
                    subtitleData.id = data.id;
                    subtitleData.title = data.title;
                    subtitleData.jobType = data.jobType;
                    subtitleData.videoType = data.videoType;
                    subtitleData.length = data.length;
                    subtitleData.translatorLength = data.translatorLength;
                    subtitleData.proofreaderLength = data.proofreaderLength;
                    subtitleData.automaticCaptions = data.automaticCaptions === '有';
                    subtitleData.translator = data.translator;
                    subtitleData.jobDate = data.jobDate;
                    subtitleData.proofreader = data.proofreader;
                    subtitleData.proportion = data.proportion;
                    subtitleData.status = data.status;
                    subtitleData.finishDate = data.finishDate;
                    axios.post('/subtitle/updateSubtitle', subtitleData)
                        .then(function (response) {
                            layer.msg(response, {icon: 6, time: 1500});
                        })
                        .catch(function (error) {
                            console.log(error);
                            layer.msg("修改错误，请重新尝试！", {icon: 2, time: 1500});
                        });
                    break;
                }
                case 'del': {
                    layer.confirm('确定要删除？', {title: false}, function (confirmIndex) {
                        layer.close(confirmIndex);
                        axios.get('/subtitle/removeSubtitle?id=' + data.id)
                            .then(function (response) {
                                layer.msg(response, {icon: 6, time: 1500});
                                let config = subtitleTable.config;
                                let dataTemp = config.data;
                                dataTemp.splice(obj.tr.first().data('index'), 1);
                                subtitleTable = table.reload(config.id, $.extend(true, {data: dataTemp}, {}));
                            })
                            .catch(function (error) {
                                console.log(error);
                                layer.msg("删除错误，请重新尝试！", {icon: 2, time: 1500});
                            });
                    });
                    break;
                }
                case 'add': {
                    if (typeof data.title === 'undefined') {
                        layer.msg("视频标题不能为空！", {icon: 2, time: 1500});
                        return false;
                    }
                    let subtitleData = {};
                    subtitleData.title = data.title;
                    subtitleData.jobType = data.jobType;
                    subtitleData.videoType = data.videoType;
                    subtitleData.length = data.length;
                    subtitleData.automaticCaptions = data.automaticCaptions === '有';
                    subtitleData.translator = data.translator;
                    subtitleData.jobDate = data.jobDate;
                    subtitleData.proofreader = data.proofreader;
                    subtitleData.proportion = data.proportion;
                    subtitleData.status = data.status;
                    subtitleData.finishDate = data.finishDate;
                    axios.post('/subtitle/addSubtitle', subtitleData)
                        .then(function (response) {
                            let config = subtitleTable.config;
                            let dataTemp = config.data;
                            let index = obj.tr.first().data('index');
                            dataTemp[index].id = response.id;
                            subtitleTable = table.reload(config.id, $.extend(true, {data: dataTemp}, {}));
                            layer.msg("新增成功！", {icon: 6, time: 1500});
                        })
                        .catch(function (error) {
                            console.log(error);
                            layer.msg("新增错误，请重新尝试！", {icon: 2, time: 1500});
                        });
                    break;
                }
                case 'cancel': {
                    let config = subtitleTable.config;
                    let dataTemp = config.data;
                    dataTemp.splice(obj.tr.first().data('index'), 1);
                    subtitleTable = table.reload(config.id, $.extend(true, {data: dataTemp}, {}));
                    break;
                }
            }
        });

        upload.render({
            elem: '#upload',
            url: '/subtitle/uploadSubtitleFile',
            accept: 'file',
            exts: 'txt',
            size: 1024,
            done: function (response) {
                let message = response.data;
                layer.msg(message, {time: 1500});
                let index = message.search(":");
                if (index > 0) {
                    $("input[name=fileName]").val(message.slice(index + 1, message.length));
                }
            }
        });

        form.on('switch(engSub)', function (data) {
            if (data.elem.checked) {
                $("input[name=engSub]").val("on");
            } else {
                $("input[name=engSub]").val("off");
            }
        });

        $("#mergeSub").on('click', function () {
            let fileName = $("input[name=fileName]").val(), engSub = $("input[name=engSub]").val() === 'on';
            if (fileName === '') {
                layer.msg("文件名不能为空！", {time: 1500});
                return false;
            }
            if (fileName.indexOf(".txt") < 0) {
                fileName += ".txt";
            }
            axios.get('/subtitle/mergeSubtitle', {
                params: {
                    fileName: fileName,
                    engSub: engSub
                }
            })
                .then(function (response) {
                    layer.msg(response, {time: 1500});
                })
                .catch(function (error) {
                    layer.msg(error, {time: 1500});
                });
        });

        $("#download").on('click', function () {
            let fileName = $("input[name=fileName]").val();
            if (fileName === '') {
                layer.msg("文件名不能为空！", {time: 1500});
                return false;
            }
            axios.get('/subtitle/checkDownloadFileName?fileName=' + fileName)
                .then(function (response) {
                    if (response === 'file not exists') {
                        layer.msg(response, {time: 1500});
                        return false;
                    }
                    fileName = response;
                    window.location = "/subtitle/downloadSubtitleFile?fileName=" + fileName;
                })
                .catch(function (error) {
                    layer.msg(error, {time: 1500});
                });
        });

        upload.render({
            elem: '#lrcUpload',
            url: '/subtitle/uploadLrcFile',
            accept: 'file',
            exts: 'lrc',
            size: 1024,
            done: function (response) {
                let message = response.data;
                layer.msg(message, {time: 1500});
                let index = message.search(":"), lastIndex = message.search(".lrc");
                if (index > 0) {
                    $("input[name=lrcName]").val(message.substring(index + 1, lastIndex));
                }
            }
        });

        $("#lrcDownload").on('click', function () {
            let name = $("input[name=lrcName]").val();
            if (name === '') {
                layer.msg("文件名不能为空！", {time: 1500});
                return false;
            }
            window.location = "/subtitle/downloadLrcFile?name=" + name;
        });

    });
</script>

</html>