<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{})">
    <title>队长统计-数据查询-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">

        <div class="site-content">

            <h1 style="font-size: 28px">队长统计</h1>

            <div style="margin-top: 20px"></div>

            <div class="layui-tab" lay-allowClose="true" lay-filter="entryTab">
                <ul class="layui-tab-title">
                    <li class="layui-this" th:text="${tournamentName}"></li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <table class="layui-table" id="captainTable" lay-filter="captainTable"></table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script th:replace="layout::baseScript"></script>

<script th:inline="none">
    layui.use(['element', 'table', 'layer', 'soulTable'], function () {

        let $ = layui.jquery, element = layui.element, table = layui.table,
            soulTable = layui.soulTable;

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        axios.get('/stat/qryEntryInfoByTournament', {
            params: {
                tournamentId: 1,
                season: '2021'
            }
        }).then(function (response) {
            table.render({
                elem: '#captainTable',
                data: response.data,
                page: true,
                limit: 20,
                limits: [20, 50, 100, 150],
                toolbar: '#toolbar',
                defaultToolbar: ['filter', {title: '筛选重置', layEvent: 'clearFilter', icon: 'layui-icon-refresh-3'}],
                loading: true,
                cellMinWidth: 100,
                cols: [[
                    {title: '排名', type: 'numbers', width: 50, templet: '#indexTpl'},
                    {field: 'entryName', title: '队伍名字', align: 'center', width: 200, filter: true},
                    {field: 'playerName', title: '玩家名字', align: 'center', width: 150, filter: true},
                    {field: 'overallPoints', title: '总得分', align: 'center', sort: true, filter: true},
                    {field: 'overallRank', title: '总排名', align: 'center', sort: true, filter: true},
                    {field: 'capTotalPoints', title: '队长总分', align: 'center', width: 120, sort: true},
                    {field: 'percent', title: '占比', align: 'center', sort: true, filter: true}
                ]],
                filter: {
                    items: ['data', 'condition'],
                    bottom: false
                },
                id: 'captainTable',
                done: function () {
                    soulTable.render(this);
                }
            });
        })
            .catch(function (error) {
                console.info(error.message);
            });

        table.on('toolbar(captainTable)', function (obj) {
            if (obj.event === 'clearFilter') {
                soulTable.clearFilter('captainTable');
            }
        });

        table.on('row(captainTable)', function (obj) {
            let entry = obj.data.entry, entryName = obj.data.entryName;
            // 是否存在
            if ($(".layui-tab-title li[lay-id='" + entry + "']").length > 0) {
                //选项卡已经存在
                element.tabChange('entryTab', entry);
                return false;
            }
            // 增加标签页
            let tableId = entry + "Table";
            element.tabAdd('entryTab', {
                title: entryName,
                content: '<table class="layui-table" id=' + tableId + ' lay-filter=' + tableId + '></table>',
                id: entry
            });
            // 切换
            element.tabChange('entryTab', entry);
        });

        element.on('tab(entryTab)', function () {
            let entry = $(this).attr("lay-id");
            if (entry == null) {
                return false;
            }
            let tableId = entry + "Table";
            axios.get('/stat/qryEntryCaptainList', {
                params: {
                    season: '2021',
                    entry: entry
                }
            })
                .then(function (response) {
                    table.render({
                        elem: '#' + tableId,
                        data: response.data,
                        page: true,
                        limit: 15,
                        limits: [15, 30, 40],
                        toolbar: '#toolbar',
                        defaultToolbar: ['filter', {
                            title: '筛选重置',
                            layEvent: 'clearFilter',
                            icon: 'layui-icon-refresh-3'
                        }],
                        loading: true,
                        cellMinWidth: 100,
                        cols: [[
                            {title: '排名', type: 'numbers'},
                            {field: 'event', title: '比赛周', align: 'center', sort: true, filter: true},
                            {field: 'chip', title: '开卡', align: 'center', filter: true},
                            {field: 'webName', title: '队长', align: 'center', width: 150, filter: true},
                            {field: 'points', title: '原始分', align: 'center', sort: true, filter: true},
                            {field: 'totalPoints', title: '总得分', align: 'center', sort: true, filter: true}
                        ]],
                        filter: {
                            items: ['data', 'condition'],
                            bottom: false,
                            clearFilter: true
                        },
                        done: function () {
                            soulTable.render(this);
                        },
                        id: tableId
                    });
                })
                .catch(function (error) {
                    console.info(error.message);
                });
        });

        table.on('toolbar(tabTable)', function (obj) {
            if (obj.event === 'clearFilter') {
                soulTable.clearFilter('captainTable');
            }
        });

    });
</script>

</html>