<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{})">
    <title>球员比较-数据查询-letletme</title>
</head>

<body ng-controller="testCtrl">

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main" style="min-height: 900px">

        <div style="margin-top: 20px"></div>

        <h1 style="font-size: 28px">球员比较</h1>

        <div style="margin-top: 30px"></div>

        <div class="layui-tab" lay-allowClose="true" lay-filter="widowTab">
            <ul class="layui-tab-title">
                <li class="layui-this">球员列表</li>
                <li lay-id="window">window</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend> 选择球员进行比较</legend>
                    </fieldset>

                    <div class="layui-col-md6">
                        <table class="layui-table" id="playerTable" lay-filter="playerTable"></table>
                    </div>

                    <div class="layui-col-md6" style="margin-top: 50px">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">赛季</label>
                                <div class="layui-input-block">
                                    <input checked lay-filter="seasonRadio" name="seasonRadio" title="19/20"
                                           type="radio"
                                           value="1920">
                                    <input lay-filter="seasonRadio" name="seasonRadio" title="20/21" type="radio"
                                           value="2021">
                                </div>
                            </div>
                            <div style="margin-top: 30px"></div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">球员1</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="player1" type="text">
                                </div>
                                <button class="layui-btn layui-btn-sm" id="reset1"
                                        style="margin-top: 4px;margin-left: 8px"
                                        type="button">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                </button>
                            </div>
                            <div style="margin-top: 30px"></div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">球员2</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="player2" type="text">
                                </div>
                                <button class="layui-btn layui-btn-sm" id="reset2"
                                        style="margin-top: 4px;margin-left: 8px"
                                        type="button">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                </button>
                            </div>
                            <div style="margin-top: 30px"></div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">球员3</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="player3" type="text">
                                </div>
                                <button class="layui-btn layui-btn-sm" id="reset3"
                                        style="margin-top: 4px;margin-left: 8px"
                                        type="button">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                </button>
                            </div>
                            <div style="margin-top: 30px"></div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">球员4</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="player4" type="text">
                                </div>
                                <button class="layui-btn layui-btn-sm" id="reset4"
                                        style="margin-top: 4px;margin-left: 8px"
                                        type="button">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                </button>
                            </div>
                            <div style="margin-top: 30px"></div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" id="confirmButton" lay-filter="confirmButton"
                                            lay-submit="confirmButton" type="button">确定
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="layui-tab-item">

                    <div class="layui-row">

                        <div class="layui-col-md3">
                            赛季:
                            <input id="season_input" readonly style="border: none" value="2019/2020">
                            <br>
                            球员 1:
                            <input id="playerList_1" readonly style="border: none">
                            <br>
                            球员 2:
                            <input id="playerList_2" readonly style="border: none">
                            <br>
                            球员 3:
                            <input id="playerList_3" readonly style="border: none">
                            <br>
                            球员 4:
                            <input id="playerList_4" readonly style="border: none">
                            <br><br>
                            技术统计:<br>
                            <input checked id="point" name="stats" type="radio" value="totalPoints">
                            <label>得分</label>
                            <input id="goal" name="stats" type="radio" value="goalsScored">
                            <label>进球</label>
                            <input id="assists" name="stats" type="radio" value="assists">
                            <label>助攻</label>
                            <input id="minutes" name="stats" type="radio" value="minutes">
                            <label>上场时间</label>
                            <br>
                            <input id="bonus" name="stats" type="radio" value="bonus">
                            <label>Bonus</label>
                            <input id="bps" name="stats" type="radio" value="bps">
                            <label>bps</label><br><br>
                            <input id="reset_bnt" type="button" value="重置"/>
                        </div>

                        <div class="layui-col-md4">
                            <table class="display" id="example"></table>
                        </div>

                        <div class="layui-col-md-offset1 layui-col-md4" style="margin-top: -20px">
                            <canvas height="400" id="myRadarChart" width="400"></canvas>
                        </div>

                    </div>

                    <div style="margin-top: 30px"></div>

                    <div>
                        <canvas height="40" id="myLineChart" width="150"></canvas>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>

<script th:src="@{/js/chartjs-plugin-annotation-nn.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<script src="https://www.jqueryscript.net/demo/Transpose-Table-jQuery-Plugin/scripts/jquery.table.transpose.min.js"></script>

<script>
    window.chartColors = {
        white: 'rgb(255, 255, 255)',
        black: 'rgb(0, 0, 0)',
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
    window.chartAlphaColors = {
        white: 'rgba(255, 255, 255, 0.4)',
        black: 'rgba(0, 0, 0, 0.7)',
        red: 'rgba(255, 99, 132, 0.4)',
        orange: 'rgba(255, 159, 64, 0.4)',
        yellow: 'rgba(255, 205, 86, 0.4)',
        green: 'rgba(75, 192, 192, 0.4)',
        blue: 'rgba(54, 162, 235, 0.4)',
        purple: 'rgba(153, 102, 255, 0.4)',
        grey: 'rgba(201, 203, 207, 0.4)'
    };
    dataSetColour = ['red', 'blue', 'green', 'orange'];
    entryColour = ['yellow', 'purple'];
</script>

<script>
    var player_id;
    var playerEventList = [-1, -1, -1, -1];
    var playerNameList = [-1, -1, -1, -1];
    var entry_id;
    var entry_list = [];
    var point_dict;
    var event_picks;
    var datasetOrder;
    var selectedSeason;
    var playerTable;
    var statsMode = 'totalPoints';
    var tableDataSet = [
        [" - ", " - ", " - ", " - ",],
        [" - ", " - ", " - ", " - ",],
        [" - ", " - ", " - ", " - ",],
        [" - ", " - ", " - ", " - ",],
    ];

    // Line Chart
    var gameweek_labels = [];
    for (i = 0; i < 38; i++)
        gameweek_labels[i] = "GW" + (i + 1);
    var ctx = document.getElementById('myLineChart');
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: gameweek_labels,
            datasets: []
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: '赛季得分'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            annotation: {
                annotations: []
            },
            plugins: {
                datalabels: {
                    backgroundColor: function (context) {
                        return context.dataset.borderColor;
                    },
                    color: 'white',
                    padding: 2,
                    borderRadius: 3,
                    font: {
                        weight: 'normal'
                    },
                    // formatter: function(value, context) {
                    //     return context.chart.data.labels[context.dataIndex];
                    // }
                }
            }
        }
    });

    // Radar Chart
    var radctx = document.getElementById('myRadarChart');
    var myRadarChart = new Chart(radctx, {
        type: 'radar',
        data: {
            // labels: ['Influence', 'Creativity', 'Threat', 'Bonus', 'ICT Index'],
            labels: ['Creativity', 'Threat', '上场时间', 'Bps', 'Influence'],
            datasets: [],
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: true
            },
            title: {
                display: true,
                text: 'ICT 技术统计'
            },
            scale: {
                angleLines: {
                    display: false
                },
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 1000,
                    maxTicksLimit: 8,
                }
            },
            plugins: {
                datalabels: {
                    display: false,
                    backgroundColor: function (context) {
                        return context.dataset.borderColor;
                    },
                    color: 'white',
                    padding: 2,
                    // borderRadius: 3,
                    font: {
                        size: 10,
                        weight: 'normal'
                    },
                    // formatter: function(value, context) {
                    //     return context.chart.data.labels[context.dataIndex];
                    // }
                }
            }
        },
    });
</script>

<script>
    function average(nums) {
        let total = 0;
        for (let i = 0; i < nums.length; i++)
            total += nums[i];
        return total / nums.length;
    }

    function addWindow(chart, startGW, endGW, difference) {
        pickingWindow = {
            type: 'box',
            xScaleID: 'x-axis-0',
            yscaleID: 'y-axis-0',
            xMin: startGW - 1.5,
            xMax: endGW - 0.5,
            yMax: 20,
            yMin: 0,
            borderColor: window.chartColors.grey,
            backgroundColor: window.chartAlphaColors[entryColour[entry_list.length - 1]],
            borderWidth: 2,
            // borderDash: [5, 5],
            label: {
                enabled: true,
                content: 'Diff:\r\n' + difference,
                fontSize: 11,
                fontColor: window.chartColors.black,
            }
        }
        chart.options.annotation.annotations.push(pickingWindow);
        chart.update();
    }

    function addAverage(chart, value, datasetOrder) {
        line = {
            type: 'line',
            mode: 'horizontal',
            scaleID: 'y-axis-0',
            value: value,
            // borderColor: 'rgb(75, 192, 192)',
            borderColor: window.chartColors[dataSetColour[datasetOrder]],
            borderWidth: 2,
            borderDash: [5, 5],
            label: {
                enabled: true,
                content: 'Average: ' + value,
                xPadding: 3,
                yPadding: 2,
                fontSize: 11,
                backgroundColor: window.chartAlphaColors.black,
                fontColor: window.chartColors.white,
            }
        }
        chart.options.annotation.annotations[datasetOrder] = line;
        chart.update();
    }

    function addPlayerDataForLine(chart, labels, newdata, avg, datasetOrder, playerName) {
        console.log(playerName);
        currentLength = chart.data.datasets.length;
        // console.log(datasetOrder);
        i = currentLength;
        if (currentLength < (datasetOrder)) {
            do {
                chart.data.datasets[i] = {};
                i++;
            } while (i <= (datasetOrder - currentLength));
        }
        playerDataset = {
            label: playerName,
            borderColor: window.chartColors[dataSetColour[datasetOrder]],
            borderWidth: 2,
            fill: false,
            data: newdata
        };
        chart.data.datasets[datasetOrder] = playerDataset;
        addAverage(myLineChart, avg, datasetOrder);
        chart.update();
    }

    function addPlayerDataForRadar(chart, newdata, datasetOrder, playerName) {
        currentLength = chart.data.datasets.length;
        i = currentLength;
        if (currentLength < (datasetOrder)) {
            do {
                chart.data.datasets[i] = {};
                i++;
            } while (i <= (datasetOrder - currentLength));
        }
        playerDataset = {
            label: playerName,
            borderColor: window.chartColors[dataSetColour[datasetOrder]],
            borderWidth: 2,
            // fill: false,
            data: newdata
        };
        chart.data.datasets[datasetOrder] = playerDataset;
        chart.update();
    }

    function getPlayerPoints(event_live, statsMode) {
        var point_dict = {'events': [], 'presentPoints': [], 'MathPoints': []};
        // console.log(event_live);
        for (e in event_live) {
            point_dict.events.push(event_live[e].event);
            point_dict.presentPoints.push(event_live[e][statsMode]);
        }
        if (point_dict.events.length > 38) {
            point_dict.presentPoints.splice(29, 9);
            point_dict.MathPoints = point_dict.presentPoints;
        } else if (point_dict.events[point_dict.events.length - 1] > 38) {
            point_dict.presentPoints.splice(29 - point_dict.events[0] + 1, 9);
            point_dict.MathPoints = point_dict.presentPoints;
            pad_list = [];
            for (i = 0; i <= point_dict.events.length; i++)
                pad_list[i] = NaN;
            point_dict.presentPoints = pad_list.concat(point_dict.MathPoints);
        }

        return point_dict;
    }

    function getEntryPicks(event_results) {
        console.log(event_results);
        event_picks = [];
        entry_list.push(event_results.entry);
        for (e in event_results.eventResultDatas)
            event_picks.push(event_results.eventResultDatas[e].eventPicks);
        // event_picks.splice(29, 9);
        if (event_picks.length > 38)
            event_picks.splice(29 - event_results.eventResultDatas[0].event + 1, 9);
        // console.log(event_picks);
        return event_picks;
    }

    function removePlayerData(chart, datasetOrder) {
        currentLength = chart.data.datasets.length;
        if (datasetOrder < 0) { // all removeSubtitle
            if (chart.data.datasets)
                chart.data.datasets = [];
            if ('annotation' in chart.options)
                chart.options.annotation.annotations = [];
            chart.update();
        } else if (currentLength >= datasetOrder) {
            if (chart.data.datasets)
                chart.data.datasets[datasetOrder] = {};
            if ('annotation' in chart.options)
                chart.options.annotation.annotations[datasetOrder] = NaN;
            chart.update();
            tableDataSet[datasetOrder] = [" - ", " - ", " - ", " - ",]
            updateTable(tableDataSet);
        }

    }

    function updateChartTitle() {
        let selectedSeason = "19/20";
        titleMap = {
            'totalPoints': '得分',
            'goalsScored': '进球',
            'assists': '助攻',
            'minutes': '上场时间',
            'bonus': 'bonus',
            'bps': 'bps',
        }
        myLineChart.options.title.text = '20' + selectedSeason.slice(0, 2) + '/20' + selectedSeason.slice(2, 4) + ' 赛季 ' + titleMap[statsMode] + ' 统计';
        myRadarChart.options.title.text = '20' + selectedSeason.slice(0, 2) + '/20' + selectedSeason.slice(2, 4) + ' ICT 技术统计';
        myLineChart.update();
        myRadarChart.update();
    }

    // function getAllPlayerList(selectDropdown, response) {
    //     // allPlayerList = response.data;
    //     allPlayerList = response;
    //     var len = allPlayerList.length;
    //     // console.log(len);
    //     selectDropdown.empty();
    //     selectDropdown.append("<option value=-1>- Select -</option>");
    //     for (var i = 0; i < len; i++) {
    //         var playerCode = allPlayerList[i]['code'];
    //         var player_id = allPlayerList[i]['element'];
    //         var playerName = allPlayerList[i]['webName'];
    //         selectDropdown.append("<option value='" + playerCode + "-" + player_id + "'>" + playerName + "</option>");
    //     }
    //     var selected = selectDropdown.val(); // cache selected value, before reordering
    //     var opts_list = selectDropdown.find('option');
    //     opts_list.sort(function (a, b) {
    //         return $(a).text() > $(b).text() ? 1 : -1;
    //     });
    //     selectDropdown.html('').append(opts_list);
    //     selectDropdown.val(selected);
    // }

    function selectSeason() {
        selectedSeason = "1920"
        // $.getJSON("http://letletme.top/api/qryAllPlayers", {season: selectedSeason}, function (response) {
        // }).done(function (response) {
        //     getAllPlayerList($('#playerList_select1'), response);
        //     getAllPlayerList($('#playerList_select2'), response);
        // });
        updateChartTitle();
    }

    function selectPlayer(index, season, element, code, webName) {
        let player_dict;
        let selectedSeason = season;
        let datasetOrder = index - 1;
        playerName = webName;
        playerCode = code;
        player_id = element;
        console.log(playerCode);

        var settings = {
            "url": "/api/qryPlayerData",
            "method": "POST",
            "dataType": 'json',
            "contentType": "application/json",
            "data": JSON.stringify({"code": playerCode}),
        };

        $.ajax(settings).done(function (response) {
            // console.log(response);
            if (response.historySeasonList == null) {
                alert('无数据，请重新选择');
                removePlayerData(myLineChart, datasetOrder);
                removePlayerData(myRadarChart, datasetOrder);
                playerEventList[datasetOrder] = -1;
                playerNameList[datasetOrder] = -1;
            } else {
                for (s in response.historySeasonList) {
                    if (response.historySeasonList[s].season == selectedSeason) {
                        player_dict = response.historySeasonList[s];
                        break;
                    }
                }
                playerInfo = response.infoData;
                tableDataSet[datasetOrder] = [playerInfo.webName, playerInfo.elementTypeName, playerInfo.teamName, "£" + playerInfo.price + "m"];
                updateTable(tableDataSet);

                radarData = [player_dict.creativity, player_dict.threat, player_dict.minutes, player_dict.bps, player_dict.influence];
                addPlayerDataForRadar(myRadarChart, radarData, datasetOrder, playerName);

                console.log(selectedSeason);
                $.getJSON("/api/qryEventLiveAll", {
                    season: selectedSeason,
                    element: player_id
                }, function (response) {
                    // $.getJSON("342.json", function(response){
                    // event_live = response.data;
                    event_live = response;
                    playerEventList[datasetOrder] = event_live;
                    playerNameList[datasetOrder] = playerName;
                    point_dict = getPlayerPoints(event_live, statsMode);
                    addPlayerDataForLine(myLineChart, [], point_dict.presentPoints, average(point_dict.MathPoints).toPrecision(4), datasetOrder, playerName);
                });
            }
        });
    }

    function updateTable(tableDataSet) {
        playerTable.clear();
        playerTable.rows.add(tableDataSet);
        playerTable.draw();
        $("#example").transpose("transpose");
    }

    function transposeTable() {
        if (!$("#example").is(":blk-transpose"))
            $("#example").transpose({mode: 0});
        if (!$("#example").is(":blk-transpose"))
            $("#example").transpose({mode: 1});

        var currentMode = $("#example").data("tp_mode");
        if (currentMode == undefined)
            $("#example").transpose("transpose");
        else
            $("#example").transpose("reset");
    }

    function initialiseTable() {
        playerTable = $('#example').DataTable({
            data: tableDataSet,
            "bFilter": false,
            "paging": false,
            "ordering": false,
            "info": false,
            columns: [
                {title: "球员名"},
                {title: "位置"},
                {title: "球队"},
                {title: "价格"}
            ]
        });
        transposeTable();

        return playerTable;
    }

    $(document).ready(function () {
        playerTable = initialiseTable();

        $('input:radio[name="stats"]').change(function () {
            statsMode = $(this).val();
            removePlayerData(myLineChart, -1);
            console.log(statsMode);
            updateChartTitle();
            for (p in playerEventList) {
                if (playerEventList[p] != -1) {
                    point_dict = getPlayerPoints(playerEventList[p], statsMode);
                    addPlayerDataForLine(myLineChart, [], point_dict.presentPoints, average(point_dict.MathPoints).toPrecision(4), p, playerNameList[p]);
                }
            }
        });

        $("#reset_bnt").click(function () {
            removePlayerData(myLineChart, -1);
            removePlayerData(myRadarChart, -1);
            tableDataSet = [
                [" - ", " - ", " - ", " - ",],
                [" - ", " - ", " - ", " - ",],
                [" - ", " - ", " - ", " - ",],
                [" - ", " - ", " - ", " - ",],
            ]
            updateTable(tableDataSet);
            playerEventList = [];
            playerNameList = [];
        });

    });
</script>

<script th:replace="layout::baseScript"></script>

<script th:inline="none">
    layui.use(['element', 'form', 'table', 'layer', 'soulTable'], function () {

        let $ = layui.jquery, element = layui.element, table = layui.table,
            soulTable = layui.soulTable;

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        $(document).ready(function () {
            initPlayerData("1920");
        });

        function initPlayerData(season) {
            axios.get('/stat/qryPlayerList', {
                params: {
                    season: season
                }
            })
                .then(function (response) {
                    let pageData = response.data;
                    table.render({
                        elem: '#playerTable',
                        data: pageData,
                        limit: 15,
                        limits: [15, 30, 50, 100],
                        loading: true,
                        page: true,
                        width: 550,
                        cols: [[
                            {field: 'webName', title: '名字', align: 'center'},
                            {
                                field: 'elementTypeName',
                                title: '位置',
                                align: 'center',
                                width: 120,
                                filter: true,
                                sort: true
                            },
                            {field: 'teamName', title: '球队', align: 'center', width: 120, filter: true, sort: true},
                            {field: 'price', title: '身价', align: 'center', width: 120, filter: true, sort: true}
                        ]],
                        id: 'playerTable',
                        filter: {
                            items: ['data', 'condition'],
                            bottom: false
                        },
                        done: function () {
                            soulTable.render(this);
                        }
                    });
                })
                .catch(function (error) {
                    console.info(error);
                });
        }

        $('#reset1').on('click', function () {
            $("input[name=player1]").val('');
        });

        $('#reset2').on('click', function () {
            $("input[name=player2]").val('');
        });

        $('#reset3').on('click', function () {
            $("input[name=player3]").val('');
        });

        $('#reset4').on('click', function () {
            $("input[name=player4]").val('');
        });

        $('#confirmButton').on('click', function () {
            // 切换选项卡
            element.tabChange('widowTab', 'window');
        });

        table.on('row(playerTable)', function (obj) {
            let season = "1920";
            let element = obj.data.element;
            let webName = obj.data.webName;
            let code = obj.data.code;
            // 填充球员信息
            let select1Dom = $("input[name=player1]");
            let select2Dom = $("input[name=player2]");
            let select3Dom = $("input[name=player3]");
            let select4Dom = $("input[name=player4]");
            if (select1Dom.val() != '' && select2Dom.val() != ''
                && select3Dom.val() != '' && select4Dom.val() != '') {
                select1Dom.val('');
                select2Dom.val('');
                select3Dom.val('');
                select4Dom.val('');
            }
            let player1 = select1Dom.val();
            let player2 = select2Dom.val();
            let player3 = select3Dom.val();
            let player4 = select4Dom.val();
            let playerSelected = [player1, player2, player3, player4];
            if (player1 == '') {
                select1Dom.val(webName);
                playerSelected.push(webName);
                // 回填
                let playerList_1 = $("#playerList_1");
                playerList_1.val(webName);
                playerList_1.attr("code", code);
                selectPlayer(1, season, element, code, webName);
                return false;
            } else {
                if (player2 == '' && !playerSelected.includes(webName)) {
                    select2Dom.val(webName);
                    playerSelected.push(webName);
                    // 回填
                    let playerList_2 = $("#playerList_2");
                    playerList_2.val(webName);
                    playerList_2.attr("code", code);
                    selectPlayer(2, season, element, code, webName);
                    return false;
                } else {
                    if (player3 == '' && !playerSelected.includes(webName)) {
                        select3Dom.val(webName);
                        playerSelected.push(webName);
                        // 回填
                        let playerList_3 = $("#playerList_3");
                        playerList_3.val(webName);
                        playerList_3.attr("code", code);
                        selectPlayer(3, season, element, code, webName);
                        return false;
                    } else {
                        if (player4 == '' && !playerSelected.includes(webName)) {
                            select4Dom.val(webName);
                            playerSelected.push(webName);
                            // 回填
                            let playerList_4 = $("#playerList_4");
                            playerList_4.val(webName);
                            playerList_4.attr("code", code);
                            selectPlayer(4, season, element, code, webName);
                        }
                    }
                }
            }
        });

    });
</script>

</html>