<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{::link})">
    <title>浙江联赛赛果-自定义赛事-letletme</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.css" rel="stylesheet"
          type="text/css"/>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <div class="layui-input-inline" style="margin-top: 5px">
                <button class="layui-btn layui-btn-primary layui-btn-sm" id="retrunButton" type="button">
                    <i class="layui-icon layui-icon-return"></i>
                </button>
            </div>
            <div class="layui-input-inline" style="margin-left: 10px">
                <h1 style="font-size: 28px" th:text="${tournamentInfo?.getName()}"></h1>
            </div>

            <div style="margin-top: 30px"></div>

            <div class="layui-tab layui-tab-brief" lay-filter="typeTab">

                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="rank">积分榜</li>
                    <li lay-id="result">赛果</li>
                </ul>

                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">

                        <table class="layui-table" id="zjTournamentTable" lay-filter="zjTournamentTable"></table>

                    </div>

                    <div class="layui-tab-item">

                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                            <legend><a>第一阶段</a></legend>
                        </fieldset>

                        <div class="layui-row layui-col-space30" th:each="index:${#numbers.sequence(1,pointsShowNum)}">

                            <div class="layui-col-md6 layui-hide" th:attr="id='phaseOneGroup'+((${index}*2)-1)">
                                <div th:attr="id='phaseOneGroup'+((${index}*2)-1)+'Name'"></div>
                                <table class="layui-table"
                                       th:attr="id='phaseOneGroup'+((${index}*2)-1)+'Table'"></table>
                            </div>

                            <div class="layui-col-md6 layui-hide" th:attr="id='phaseOneGroup'+${index}*2">
                                <div th:attr="id='phaseOneGroup'+${index}*2+'Name'"></div>
                                <table class="layui-table" th:attr="id='phaseOneGroup'+${index}*2+'Table'"></table>
                            </div>

                        </div>

                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                            <legend><a>第二阶段</a></legend>
                        </fieldset>

                        <div class="layui-row layui-col-space30" th:each="index:${#numbers.sequence(1,battleShowNum)}">

                            <div class="layui-col-md6 layui-hide" th:attr="id='phaseTwoGroup'+((${index}*2)-1)">
                                <div th:attr="id='phaseTwoGroup'+((${index}*2)-1)+'Name'"></div>
                                <table class="layui-table"
                                       th:attr="id='phaseTwoGroup'+((${index}*2)-1)+'Table'"></table>
                            </div>

                            <div class="layui-col-md6 layui-hide" th:attr="id='phaseTwoGroup'+${index}*2">
                                <div th:attr="id='phaseTwoGroup'+${index}*2+'Name'"></div>
                                <table class="layui-table" th:attr="id='phaseTwoGroup'+${index}*2+'Table'"></table>
                            </div>

                        </div>
                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                            <legend><a>PK赛</a></legend>
                        </fieldset>

                        <div th:each="item,stat:${knockoutResultList}">
                            <p style="font-size:16px;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;margin-top: 20px"
                               th:text="${item.matchInfo}"
                               th:title="${item.matchInfo}">
                            </p>
                        </div>

                        <div class="layui-hide" id="groupNum" th:text="${tournamentInfo?.groupNum}"></div>
                        <div class="layui-hide" id="teamPerGroup" th:text="${tournamentInfo?.teamPerGroup}"></div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script th:replace="layout::baseScript"></script>

<script id="entryTpl" type="text/html">
    <div><a href="/live/liveEntry?liveEntry={{d.entry}}" target="_blank" title="查看球员实时得分" class="layui-table-link">{{d.entry}}</a>
    </div>
</script>

<script th:inline="none">
    layui.use(['table', 'soulTable'], function () {
        let $ = layui.jquery, table = layui.table, soulTable = layui.soulTable;

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        let tournamentId = getUrlParam("id"), groupNum = parseInt($("#groupNum").text()),
            teamPerGroup = parseInt($("#teamPerGroup").text());

        <!-- 积分榜 -->
        table.render({
            elem: '#zjTournamentTable',
            url: '/tournament/qryZjTournamentResultById',
            where: {tournamentId: tournamentId},
            loading: true,
            cellMinWidth: 80,
            cols: [[
                {title: '', type: 'numbers', width: 40},
                {field: 'event', title: 'GW', align: 'center', width: 60},
                {field: 'stage', title: '阶段', align: 'center'},
                {field: 'groupName', title: '小组', align: 'center'},
                {field: 'groupPoints', title: '小组总分', align: 'center', width: 120},
                {field: 'pointsGroupPoints', title: '积分赛', align: 'center'},
                {field: 'battleGroupPoints', title: '对阵赛', align: 'center'},
                {field: 'pkPoints', title: 'PK赛', align: 'center'},
                {field: 'tournamentPoints', title: '总积分', align: 'center'}
            ]],
            id: 'zjTournamentTable',
            done: function () {
                soulTable.render(this);
            }
        });

        <!-- 第一阶段 -->
        for (let i = 1; i < groupNum + 1; i++) {
            // 展示
            $("#phaseOneGroup" + i).removeClass("layui-hide");
            // 获取数据
            axios.get('/tournament/qryGroupInfoListByGroupId', {
                params: {
                    tournamentId: tournamentId,
                    groupId: i
                }
            })
                .then(function (response) {
                    let data = response.data;
                    // 回填组名
                    let groupName = data[0].groupName;
                    $("#phaseOneGroup" + i + "Name").text(groupName);
                    // 渲染
                    let id = "phaseOneGroup" + i + "Table";
                    let elem = "#" + id;
                    table.render({
                        elem: elem,
                        data: data,
                        loading: true,
                        cellMinWidth: 60,
                        totalRow: true,
                        cols: [[
                            {
                                fixed: 'left',
                                field: 'groupRank',
                                title: '',
                                align: 'center',
                                icon: ['layui-icon layui-icon-triangle-r', 'layui-icon layui-icon-triangle-d'],
                                collapse: true,
                                children: function (d) {
                                    return [{
                                        title: "每轮赛果",
                                        url: '/tournament/qryPointsGroupResult',
                                        where: {tournamentId: tournamentId, groupId: i, entry: d.entry},
                                        page: {groups: 3, layout: ['prev', 'page', 'next', 'count', 'limit']},
                                        loading: true,
                                        limit: 5,
                                        limits: [5, 10, 15],
                                        cols: [[
                                            {field: 'event', title: 'GW', align: 'center'},
                                            {field: 'points', title: '得分', align: 'center'},
                                            {field: 'cost', title: '扣分', align: 'center'},
                                            {field: 'netPoints', title: '净得分', align: 'center'}
                                        ]],
                                        done: function () {
                                            soulTable.render(this);
                                        }
                                    }]
                                }
                            },
                            {
                                field: 'entryName',
                                title: '队伍名称',
                                align: 'center',
                                width: 150,
                                totalRowText: '小组总分'
                            },
                            {field: 'playerName', title: '玩家名称', align: 'center', width: 150},
                            {field: 'play', title: '比赛', align: 'center'},
                            {field: 'groupPoints', title: '得分', align: 'center', totalRow: true},
                            {
                                field: '', title: '积分', align: 'center', templet: function (d) {
                                    if (d.rank == '1') {
                                        return '5';
                                    } else if (d.rank == '2') {
                                        return '3';
                                    } else if (d.rank == '3') {
                                        return '2';
                                    } else if (d.rank == '4') {
                                        return '1';
                                    } else {
                                        return '0';
                                    }
                                }
                            }
                        ]],
                        id: id,
                        done: function () {
                            soulTable.render(this);
                        }
                    });
                })
                .catch(function (error) {
                    console.log(error.message);
                });
        }

        <!-- 第二阶段 -->
        for (let j = 1; j < teamPerGroup + 1; j++) {
            // 回填组名
            let groupName = getCapitalLetterFromNum(j) + "组";
            $("#phaseTwoGroup" + j + "Name").text(groupName);
            // 展示
            $("#phaseTwoGroup" + j).removeClass("layui-hide");
            // 渲染
            let id = "phaseTwoGroup" + j + "Table";
            let elem = "#" + id;
            table.render({
                elem: elem,
                url: '/tournament/qryGroupInfoListByGroupId',
                where: {tournamentId: tournamentId, groupId: groupNum + j},
                loading: true,
                cellMinWidth: 60,
                cols: [[
                    {
                        fixed: 'left',
                        field: 'groupRank',
                        title: '',
                        align: 'center',
                        icon: ['layui-icon layui-icon-triangle-r', 'layui-icon layui-icon-triangle-d'],
                        collapse: true,
                        children: function (d) {
                            return [{
                                title: "每轮赛果",
                                url: '/tournament/qryPointsGroupResult',
                                where: {tournamentId: tournamentId, groupId: j, entry: d.entry},
                                page: {groups: 3, layout: ['prev', 'page', 'next', 'count', 'limit']},
                                loading: true,
                                limit: 5,
                                limits: [5, 10, 15],
                                cols: [[
                                    {field: 'event', title: 'GW', align: 'center'},
                                    {field: 'points', title: '得分', align: 'center'},
                                    {field: 'cost', title: '扣分', align: 'center'},
                                    {field: 'netPoints', title: '净得分', align: 'center'}
                                ]],
                                done: function () {
                                    soulTable.render(this);
                                }
                            }]
                        }
                    },
                    {
                        field: 'entryName', title: '队伍名称', align: 'center', width: 150, templet: function (d) {
                            if (d.entry <= 0) {
                                let entry = -1 * d.entry;
                                let group = Math.round(entry / 10);
                                let index = entry - group * 10;
                                return getCapitalLetterFromNum(group) + '组' + index + '号位';
                            } else {
                                return d.entryName;
                            }
                        }
                    },
                    {
                        field: 'playerName', title: '玩家名称', align: 'center', width: 150, templet: function (d) {
                            if (d.entry <= 0) {
                                let entry = -1 * d.entry;
                                let group = Math.round(entry / 10);
                                let index = entry - group * 10;
                                return getCapitalLetterFromNum(group) + '组' + index + '号位';
                            } else {
                                return d.playerName;
                            }
                        }
                    },
                    {field: 'play', title: '比赛', align: 'center'},
                    {field: 'groupPoints', title: '得分', align: 'center'},
                    {
                        field: '', title: '积分', align: 'center', templet: function (d) {
                            if (d.rank == '1') {
                                return '5';
                            } else if (d.rank == '2') {
                                return '3';
                            } else if (d.rank == '3') {
                                return '2';
                            } else if (d.rank == '4') {
                                return '1';
                            } else {
                                return '0';
                            }
                        }
                    }
                ]],
                id: id,
                done: function () {
                    soulTable.render(this);
                }
            });
        }

    });
</script>

</html>