<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{::link})">
    <title>赛果-浙江联赛-letletme</title>
    <link rel="stylesheet" th:href="@{/css/steps.css}"/>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <div class="layui-input-inline" style="margin-top: 5px">
                <button class="layui-btn layui-btn-primary layui-btn-sm" id="retrunButton" type="button">
                    <i class="layui-icon layui-icon-return"></i>
                </button>
            </div>
            <div class="layui-input-inline" style="margin-left: 10px">
                <h1 style="font-size: 28px" th:text="${tournamentInfo?.getName()}"></h1>
            </div>

            <div style="margin-top: 30px"></div>

            <div id="stage"></div>

            <div class="layui-tab layui-tab-brief" lay-filter="typeTab">

                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="rank">积分榜</li>
                    <li lay-id="result">赛果</li>
                </ul>

                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">

                        <table class="layui-table" id="zjTournamentTable" lay-filter="zjTournamentTable"></table>

                    </div>

                    <div class="layui-tab-item">

                        <div id="phaseOne">

                            <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                                <legend><a>第一阶段</a></legend>
                            </fieldset>

                            <div class="layui-row layui-col-space30"
                                 th:each="index:${#numbers.sequence(1,phaseOneShowNum)}">

                                <div class="layui-col-md6 layui-hide" th:attr="id='phaseOneGroup'+((${index}*2)-1)">
                                    <div th:attr="id='phaseOneGroup'+((${index}*2)-1)+'Name'"></div>
                                    <table class="layui-table"
                                           th:attr="id='phaseOneGroup'+((${index}*2)-1)+'Table'"></table>
                                </div>

                                <div class="layui-col-md6 layui-hide" th:attr="id='phaseOneGroup'+${index}*2">
                                    <div th:attr="id='phaseOneGroup'+${index}*2+'Name'"></div>
                                    <table class="layui-table" th:attr="id='phaseOneGroup'+${index}*2+'Table'"></table>
                                </div>

                            </div>

                        </div>

                        <div class="layui-hide" id="phaseTwo">

                            <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                                <legend><a>第二阶段</a></legend>
                            </fieldset>

                            <div class="layui-row layui-col-space30"
                                 th:each="index:${#numbers.sequence(1,phaseTwoShowNum)}">

                                <div class="layui-col-md6 layui-hide" th:attr="id='phaseTwoGroup'+((${index}*2)-1)">
                                    <div th:attr="id='phaseTwoGroup'+((${index}*2)-1)+'Name'"></div>
                                    <table class="layui-table"
                                           th:attr="id='phaseTwoGroup'+((${index}*2)-1)+'Table'"></table>
                                </div>

                                <div class="layui-col-md6 layui-hide" th:attr="id='phaseTwoGroup'+${index}*2">
                                    <div th:attr="id='phaseTwoGroup'+${index}*2+'Name'"></div>
                                    <table class="layui-table" th:attr="id='phaseTwoGroup'+${index}*2+'Table'"></table>
                                </div>

                            </div>

                        </div>

                        <div class="layui-hide" id="pk">

                            <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                                <legend><a>PK赛</a></legend>
                            </fieldset>

                            <div th:each="item,stat:${knockoutResultList}">
                                <p style="font-size:16px;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;margin-top: 20px"
                                   th:text="${item.matchInfo}"
                                   th:title="${item.matchInfo}">
                                </p>
                            </div>

                        </div>

                        <div class="layui-hide" id="groupNum" th:text="${tournamentInfo?.groupNum}"></div>
                        <div class="layui-hide" id="teamPerGroup" th:text="${tournamentInfo?.teamPerGroup}"></div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script th:src="@{/js/steps.js}"></script>

<script th:replace="layout::baseScript"></script>

<script id="entryTpl" type="text/html">
    <div><a href="/live/liveEntry?liveEntry={{d.entry}}" target="_blank" title="查看球员实时得分" class="layui-table-link">{{d.entry}}</a>
    </div>
</script>

<script th:inline="none">

    layui.use(['table', 'soulTable'], function () {
        let $ = layui.jquery, table = layui.table, soulTable = layui.soulTable;

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        let tournamentId = getUrlParam("id"), groupNum = parseInt($("#groupNum").text()),
            teamPerGroup = parseInt($("#teamPerGroup").text());

        <!-- 积分榜 -->
        axios.get('/tournament/qryZjTournamentResultById?tournamentId=' + tournamentId)
            .then(function (response) {
                let data = response.data;
                // 步骤条
                steps({
                    el: '#stage',
                    data: [
                        {title: '一阶段积分赛', description: ''},
                        {title: '二阶段积分赛', description: ''},
                        {title: 'PK赛', description: ''}
                    ],
                    center: true,
                    space: 300,
                    iconType: "bullets",
                    active: data[0].step
                });
                // 渲染表格
                table.render({
                    elem: '#zjTournamentTable',
                    data: data,
                    loading: true,
                    cellMinWidth: 100,
                    cols: [[
                        {title: '', type: 'numbers', width: 30},
                        {field: 'groupName', title: '小组', align: 'center', width: 150},
                        {field: 'phaseOneGroupPoints', title: '一阶段积分', align: 'center'},
                        {field: 'phaseTwoGroupPoints', title: '二阶段积分', align: 'center'},
                        {field: 'pkPoints', title: 'PK赛积分', align: 'center'},
                        {field: 'tournamentTotalPoints', title: '小组总分', align: 'center', width: 120},
                        {field: 'tournamentPoints', title: '总积分', align: 'center'}
                    ]],
                    id: 'zjTournamentTable',
                    initSort: {
                        field: 'tournamentPoints',
                        type: 'desc'
                    },
                    done: function () {
                        soulTable.render(this);
                    }
                });
            })
            .catch(function (error) {
                console.log(error.message);
            });

        <!-- 第一阶段 -->
        for (let i = 1; i < groupNum + 1; i++) {
            // 展示
            $("#phaseOneGroup" + i).removeClass("layui-hide");
            // 获取数据
            axios.get('/tournament/qryGroupInfoListByGroupId', {
                params: {
                    tournamentId: tournamentId,
                    groupId: i,
                    groupNum: groupNum
                }
            })
                .then(function (response) {
                    let data = response.data;
                    // 回填组名
                    let groupName = data[0].groupName + '组';
                    $("#phaseOneGroup" + i + "Name").text(groupName);
                    // 渲染
                    let id = "phaseOneGroup" + i + "Table";
                    let elem = "#" + id;
                    table.render({
                        elem: elem,
                        data: data,
                        loading: true,
                        cellMinWidth: 60,
                        totalRow: true,
                        cols: [[
                            {
                                fixed: 'left',
                                field: 'groupRank',
                                title: '',
                                align: 'center',
                                icon: ['layui-icon layui-icon-triangle-r', 'layui-icon layui-icon-triangle-d'],
                                collapse: true,
                                children: function (d) {
                                    return [{
                                        title: "每轮赛果",
                                        url: '/tournament/qryPointsGroupResult',
                                        where: {tournamentId: tournamentId, groupId: i, entry: d.entry},
                                        page: {groups: 3, layout: ['prev', 'page', 'next', 'count', 'limit']},
                                        loading: true,
                                        limit: 5,
                                        limits: [5, 10, 15],
                                        cols: [[
                                            {field: 'event', title: 'GW', align: 'center'},
                                            {field: 'points', title: '得分', align: 'center'},
                                            {field: 'cost', title: '扣分', align: 'center'},
                                            {field: 'netPoints', title: '净得分', align: 'center'}
                                        ]],
                                        done: function () {
                                            soulTable.render(this);
                                        }
                                    }]
                                }
                            },
                            {
                                field: 'entryName',
                                title: '队伍名称',
                                align: 'center',
                                width: 180,
                                totalRowText: '小组总分'
                            },
                            {field: 'playerName', title: '玩家名称', align: 'center', width: 160},
                            {field: 'play', title: '比赛', align: 'center'},
                            {field: 'groupPoints', title: '得分', align: 'center', width: 75, totalRow: true}
                        ]],
                        id: id,
                        done: function () {
                            soulTable.render(this);
                        }
                    });
                })
                .catch(function (error) {
                    console.log(error.message);
                });
        }

        <!-- 第二阶段 -->
        for (let j = 1; j < teamPerGroup + 1; j++) {
            // 回填组名
            let groupName = getCapitalLetterFromNum(j) + "组";
            $("#phaseTwoGroup" + j + "Name").text(groupName);
            // 展示
            $("#phaseTwoGroup" + j).removeClass("layui-hide");
            // 渲染
            let id = "phaseTwoGroup" + j + "Table";
            let elem = "#" + id;
            table.render({
                elem: elem,
                url: '/tournament/qryGroupInfoListByGroupId',
                where: {tournamentId: tournamentId, groupId: groupNum + j, groupNum: groupNum},
                loading: true,
                cellMinWidth: 60,
                cols: [[
                    {
                        fixed: 'left',
                        field: 'groupRank',
                        title: '',
                        align: 'center',
                        icon: ['layui-icon layui-icon-triangle-r', 'layui-icon layui-icon-triangle-d'],
                        collapse: true,
                        children: function (d) {
                            return [{
                                title: "每轮赛果",
                                url: '/tournament/qryPointsGroupResult',
                                where: {tournamentId: tournamentId, groupId: j, entry: d.entry},
                                page: {groups: 3, layout: ['prev', 'page', 'next', 'count', 'limit']},
                                loading: true,
                                limit: 5,
                                limits: [5, 10, 15],
                                cols: [[
                                    {field: 'event', title: 'GW', align: 'center'},
                                    {field: 'points', title: '得分', align: 'center'},
                                    {field: 'cost', title: '扣分', align: 'center'},
                                    {field: 'netPoints', title: '净得分', align: 'center'}
                                ]],
                                done: function () {
                                    soulTable.render(this);
                                }
                            }]
                        }
                    },
                    {
                        field: 'entryName', title: '队伍名称', align: 'center', width: 150, templet: function (d) {
                            if (d.entry <= 0) {
                                return d.groupName;
                            } else {
                                return d.entryName;
                            }
                        }
                    },
                    {
                        field: 'playerName', title: '玩家名称', align: 'center', width: 140, templet: function (d) {
                            if (d.entry <= 0) {
                                return d.groupName;
                            } else {
                                return d.playerName;
                            }
                        }
                    },
                    {field: 'play', title: '比赛', align: 'center'},
                    {field: 'groupPoints', title: '得分', align: 'center'},
                    {
                        field: '', title: '积分', align: 'center', templet: function (d) {
                            if (d.groupRank == '1') {
                                return '5';
                            } else if (d.groupRank == '2') {
                                return '3';
                            } else if (d.groupRank == '3') {
                                return '2';
                            } else if (d.groupRank == '4') {
                                return '1';
                            } else {
                                return '0';
                            }
                        }
                    }
                ]],
                id: id,
                done: function () {
                    soulTable.render(this);
                }
            });
        }

    });
</script>

</html>