<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{::link})">
    <title>分组-浙江联赛-letletme</title>
    <link rel="stylesheet" th:href="@{/css/timeTo.css}"/>
    <link rel="stylesheet" th:href="@{/css/steps.css}"/>
</head>

<style>
    .layui-table-cell, .layui-table-box, .layui-table-body {
        overflow: visible;
    }

    td .layui-form-select {
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <div style="font-size: 28px">分组</div>

            <div style="margin-top: 20px"></div>

            <div class="layui-tab layui-tab-brief" lay-filter="phaseTab">

                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="phaseTwo">第二阶段</li>
                    <li class="" lay-id="pk">PK阶段</li>
                </ul>

                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">

                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                            <legend><a id="phaseTwoCommitDeadline">提交死线</a></legend>
                        </fieldset>

                        <div class="layui-hide" id="phaseTwoDeadline"></div>

                        <div class="timeTo timeTo-blue" id="phaseTwoCountdown" style="margin-left: 20px"></div>

                        <div style="margin-top: 80px"></div>

                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                            <legend><a id="phaseTwoGroupName"></a></legend>
                        </fieldset>

                        <div class="layui-hide" id="currentGroupName"></div>
                        <div class="layui-hide" id="currentGroupId"></div>
                        <table class="layui-table" id="currentGroupTable" lay-filter="currentGroupTable"></table>

                        <div style="margin-top: 20px"></div>

                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                            <legend><a>第二阶段分组</a></legend>
                        </fieldset>

                        <form class="layui-form layui-hide" id="disCloseForm">
                            <div class="layui-form-item">

                                <label class="layui-form-label" style="margin-left: -40px">查看小组</label>
                                <div class="layui-input-inline">
                                    <select lay-filter='disCloseGroupName' name='disCloseGroupName'>
                                        <option value=''></option>
                                        <option th:each="item,userStat:${groupNameMap}"
                                                th:text="${userStat.current.value}"
                                                th:value="${userStat.current.key}"></option>
                                    </select>
                                </div>

                                <label class="layui-form-label" style="margin-left: -20px">队伍名称</label>
                                <div class="layui-input-inline">
                                    <select lay-filter='disCloseEntryName' name='disCloseEntryName'>
                                        <option value=''></option>
                                    </select>
                                </div>

                                <label class="layui-form-label" style="margin-left: -20px">玩家名称</label>
                                <div class="layui-input-inline">
                                    <input autocomplete="off" class="layui-input" name="disClosePlayerName"
                                           placeholder="请选择小组和队伍"
                                           readonly type="text">
                                </div>

                                <div class="layui-inline" style="margin-left:20px">
                                    <button class="layui-btn" id="disCloseButton" type="button">揭牌</button>
                                </div>

                            </div>
                        </form>

                        <div style="margin-top: 20px"></div>

                        <div class="layui-row layui-col-space30"
                             th:each="index:${#numbers.sequence(1,phaseTwoShowNum)}">

                            <div class="layui-col-md6 layui-hide"
                                 th:attr="id='phaseTwoGroup'+(${tournamentInfo?.groupNum}+((${index}*2)-1))">
                                <div th:attr="id='phaseTwoGroup'+(${tournamentInfo?.groupNum}+((${index}*2)-1))+'Name'"></div>
                                <table class="layui-table"
                                       th:attr="id='phaseTwoGroup'+(${tournamentInfo?.groupNum}+((${index}*2)-1))+'Table'"></table>
                            </div>

                            <div class="layui-col-md6 layui-hide"
                                 th:attr="id='phaseTwoGroup'+(${tournamentInfo?.groupNum}+(${index}*2))">
                                <div th:attr="id='phaseTwoGroup'+(${tournamentInfo?.groupNum}+(${index}*2))+'Name'"></div>
                                <table class="layui-table"
                                       th:attr="id='phaseTwoGroup'+(${tournamentInfo?.groupNum}+(${index}*2))+'Table'"></table>
                            </div>

                        </div>

                        <div style="margin-top: 20px"></div>

                        <button class="layui-btn" id="updatePhaseTwoGroup" type="button">完成分组</button>

                        <div class="layui-hide" id="groupNum" th:text="${tournamentInfo?.groupNum}"></div>
                        <div class="layui-hide" id="teamPerGroup" th:text="${tournamentInfo?.teamPerGroup}"></div>

                    </div>

                    <div class="layui-tab-item">

                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 20px">
                            <legend><a id="pkCommitDeadline">提交死线</a></legend>
                        </fieldset>

                        <div class="layui-hide" id="pkDeadline"></div>

                        <div class="timeTo timeTo-blue" id="pkCountdown" style="margin-left: 30px"></div>

                        <div style="margin-top: 80px"></div>

                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 20px">
                            <legend><a>分配进度</a></legend>
                        </fieldset>

                        <div style="margin-top: 30px"></div>

                        <div id="stage"></div>

                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 20px">
                            <legend><a id="pkGroupName"></a></legend>
                        </fieldset>

                        <table class="layui-table" id="pkGroupTable" lay-filter="pkGroupTable"></table>

                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 20px">
                            <legend><a>可选择对手</a></legend>
                        </fieldset>

                        <table class="layui-table" id="pkPickableTable" lay-filter="pkPickableTable"></table>

                        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                            <legend><a>已分配对阵</a></legend>
                        </fieldset>

                        <div style="font-size: 16px" th:each="item,stat:${pkPickList}">
                            <p style="margin-top: 20px" th:text="${item.getShowMessage()}"></p>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>

<script th:src="@{/js/jquery.time-to.js}"></script>

<script th:src="@{/js/steps.js}"></script>

<script th:replace="layout::baseScript"></script>

<script th:inline="javascript">
    layui.use(['element', 'layer'], function () {
        let $ = layui.jquery, element = layui.element, layer = layui.layer;

        let check = false, captainDataList = [[${captainDataList}]], tabId = [[${manageZjTabId}]];

        element.tabChange('phaseTab', tabId);

        element.on('tab(phaseTab)', function () {
            let tabId = $(this).attr("lay-id");
            axios.get('/saveSession?key=manageZjTabId&&value=' + tabId)
        });

        $.each(captainDataList, function (index, item) {
            if ([[${session.entry}]] === item.captainEntry) {
                check = true;
                $("#currentGroupId").val(item.groupId);
                // phase two deadline
                let phaseTwoDeadline = getLocalTime(item.phaseTwoDeadline);
                $("#phaseTwoDeadline").val(phaseTwoDeadline);
                $("#phaseTwoCommitDeadline").text('提交死线 - ' + phaseTwoDeadline.toLocaleDateString() + " " + phaseTwoDeadline.toLocaleTimeString());
                // pk deadline
                let pkDeadline = getLocalTime(item.pkDeadline);
                $("#pkDeadline").val(pkDeadline);
                $("#pkCommitDeadline").text('提交死线 - ' + pkDeadline.toLocaleDateString() + " " + pkDeadline.toLocaleTimeString());
                return false;
            }
        });

        if (check === false) {
            layer.msg("不是队长不让进！", {
                icon: 2,
                time: 1500,
                end() {
                    layer.prompt({
                        title: '队长team_id',
                        offset: '100px',
                        shade: 0.8,
                        success: function (layero) {
                            layer.setTop(layero);
                            // 回车
                            this.enterConfirm = function (event) {
                                if (event.keyCode === 13) {
                                    $(".layui-layer-btn0").click();
                                    return false;
                                }
                            };
                            // esc
                            this.escQuit = function (event) {
                                if (event.keyCode === 0x1B) {
                                    layer.close(index);
                                    return false;
                                }
                            }
                            $(document).on('keyup', this.enterConfirm);
                            $(document).on('keyup', this.escQuit);
                            // 确认按钮
                            $(".layui-layer-btn0").on("click", function () {
                                // 校验
                                let entry = layero.find("input").val();
                                if (!new RegExp("^[1-9]\\d*$").test(entry)) {
                                    layer.msg('team_id需为正整数', {
                                        offset: '100px',
                                        shade: 0,
                                        shadeClose: true,
                                        time: 1000
                                    });
                                    layero.find("input").val('');
                                    return false;
                                }
                                // 保存
                                axios.get('/saveSession?key=entry&&value=' + entry)
                                    .then(function () {
                                        layer.close();
                                        // 刷新
                                        window.location.reload();
                                    })
                                    .catch(function (error) {
                                        console.info(error.message);
                                    });
                            });
                            $(".layui-layer-btn1").on("click", function () {
                                window.location.replace('/tournament/manage');
                            })
                        },
                        cancel: function () {
                            window.location.reload('/tournament/manage');
                        },
                        end: function () {
                            $(document).off('keydown', this.enterConfirm);
                            $(document).off('keydown', this.escQuit);
                        }
                    });
                }
            });
        }

        let phaseTwoDeadline = $("#phaseTwoDeadline").val();
        $("#phaseTwoCountdown").timeTo({
            timeTo: phaseTwoDeadline,
            displayDays: 2,
            displayCaptions: true,
            fontSize: 48,
            captionSize: 20,
            lang: 'cn'
        });

        let pkDeadline = $("#pkDeadline").val();
        $("#pkCountdown").timeTo({
            timeTo: pkDeadline,
            displayDays: 2,
            displayCaptions: true,
            fontSize: 48,
            captionSize: 20,
            lang: 'cn'
        });

    });

</script>

<script id="barTpl" type="text/html">
    {{# if(d.pkDraw){ }}
    <a class="layui-btn layui-btn-xs layui-btn-disabled">分配</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-xs" lay-event="draw">分配</a>
    {{#  } }}
</script>

<script th:inline="none">
    layui.use(['form', 'table', 'soulTable'], function () {

        let $ = layui.jquery, form = layui.form, table = layui.table, soulTable = layui.soulTable;

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        let tournamentId = getUrlParam("id"), currentGroupId = $("#currentGroupId").val(),
            groupNum = parseInt($("#groupNum").text()), teamPerGroup = parseInt($("#teamPerGroup").text());

        <!-- 揭牌 -->
        axios.get('/tournament/qryZjTournamentPhaseOneRankByGroupId', {
            params: {
                tournamentId: tournamentId,
                currentGroupId: currentGroupId
            }
        })
            .then(function (response) {
                let disCloseFormDom = $("#disCloseForm");
                if (response === 1) {
                    disCloseFormDom.removeClass("layui-hide");
                } else {
                    disCloseFormDom.addClass("layui-hide");
                }
            })
            .catch(function (error) {
                console.log(error.message);
            });

        form.on('select(disCloseGroupName)', function (data) {
            let disCloseEntryNameDom = $("select[name=disCloseEntryName]");
            axios.get('/tournament/qryGroupEntryInfoList', {
                params: {
                    tournamentId: tournamentId,
                    groupId: data.value
                }
            })
                .then(function (response) {
                    disCloseEntryNameDom.html("");
                    disCloseEntryNameDom.append("<option value=''></option>")
                    $.each(response, function (index, item) {
                        let optionStr = "<option value='" + item.entry + "'>" + item.entryName + "</option>";
                        disCloseEntryNameDom.append(optionStr);
                    })
                    form.render('select');
                })
                .catch(function (error) {
                    console.log(error.message);
                });
        });

        form.on('select(disCloseEntryName)', function (data) {
            let entry = data.value;
            if (entry === "") {
                return false;
            }
            axios.get('/tournament/qryEntryInfo?entry=' + entry)
                .then(function (response) {
                    $("input[name=disClosePlayerName]").val(response.playerName);
                })
                .catch(function (error) {
                    console.log(error.message);
                });
        });

        $("#disCloseButton").on('click', function () {
            let entry = $("select[name=disCloseEntryName]").val();
            if (entry === '') {
                layer.msg("请选择要揭牌的队员！", {time: 1500});
                return false;
            }
            layer.confirm('只有一次机会，确定揭这个牌？', {title: false}, function (index) {
                axios.get('/tournament/qryDiscloseGroupData', {
                    params: {
                        tournamentId: tournamentId,
                        entry: entry,
                        currentGroupId: currentGroupId
                    }
                })
                    .then(function (response) {
                        if (response.entry <= 0) {
                            layer.msg("此队员还未被分组，请暴揍他们队长！", {icon: 2, time: 1500});
                            return false;
                        }
                        let discloseList = response.discloseList;
                        if (discloseList.length > 0 && discloseList[0] !== entry) {
                            layer.msg("揭过牌了，不要贪心！", {icon: 2, time: 1500});
                            return false;
                        }
                        let tableId = "phaseTwoGroup" + response.groupId + "Table";
                        let tableData = table.cache[tableId];
                        $.each(tableData, function (index) {
                            if (tableData[index]["groupName"] === response.groupName) {
                                tableData[index]["entry"] = response.entry;
                                tableData[index]["entryName"] = response.entryName;
                                tableData[index]["playerName"] = response.playerName;
                                tableData[index]["discloseList"] = discloseList;
                                table.reload(tableId, {data: tableData});
                            }
                        });
                    })
                    .catch(function (error) {
                        console.log(error.message);
                    });
                layer.close(index);
            });

        });

        <!-- 当前小组 -->
        axios.get('/tournament/qryGroupInfoListByGroupId', {
            params: {
                tournamentId: tournamentId,
                groupId: currentGroupId
            }
        })
            .then(function (response) {
                let data = response.data;
                // 回填组名
                $("#currentGroupName").text(data[0].groupName);
                $("#phaseTwoGroupName").text('当前小组 - ' + data[0].groupName + '组');
                $("#pkGroupName").text('当前小组 - ' + data[0].groupName + '组');

                // 第二阶段页表格
                table.render({
                    elem: '#currentGroupTable',
                    data: data,
                    loading: true,
                    width: 610,
                    cols: [[
                        {field: 'groupRank', title: '排名', align: 'center', width: 60},
                        {field: 'entryName', title: '队伍名称', align: 'center', width: 200},
                        {field: 'playerName', title: '玩家名称', align: 'center', width: 200},
                        {field: 'groupPoints', title: '得分', align: 'center', width: 60},
                        {
                            field: '', title: '分配到', align: 'center', templet: function () {
                                let select = "<select name='phaseTwoGroupSelect' lay-filter='phaseTwoGroupSelect'>";
                                select += "<option value=''></option>";
                                for (let i = 1; i < teamPerGroup + 1; i++) {
                                    select += "'<option value='" + i + "'>" + getCapitalLetterFromNum(i) + "组</option>";
                                }
                                select += "</select>";
                                return select;
                            }
                        }
                    ]],
                    id: 'currentGroupTable'
                });

                // pk页表格
                table.render({
                    elem: '#pkGroupTable',
                    data: data,
                    cellMinWidth: 60,
                    loading: true,
                    cols: [
                        [
                            {field: 'groupRank', title: '排名', align: 'center', rowspan: 2},
                            {field: 'entryName', title: '队伍名称', align: 'center', width: 200, rowspan: 2},
                            {field: 'playerName', title: '玩家名称', align: 'center', width: 200, rowspan: 2},
                            {
                                field: 'playerName',
                                title: '已分配',
                                align: 'center',
                                width: 80,
                                rowspan: 2,
                                templet: function (d) {
                                    if (d.pkDraw) {
                                        return "是";
                                    } else {
                                        return "否";
                                    }
                                }
                            },
                            {title: '选择对手', align: 'center', width: 200, colspan: 3},
                            {fixed: 'right', title: '操作', align: 'center', rowspan: 2, toolbar: '#barTpl'}
                        ],
                        [{
                            field: 'pkGroupName', title: '小组', align: 'center', width: 140, templet: function (d) {
                                if (d.pkDraw) {
                                    return d.pkGroupName;
                                } else {
                                    let select = "<select name='pkGroup" + d.groupRank + "Name' lay-filter='pkGroup" + d.groupRank + "Name' lay-search=''>";
                                    select += "<option value=''></option>";
                                    $.each(d.tournamentGroupNameMap, function (index, item) {
                                        if (d.groupName !== item) {
                                            select += "'<option value='" + index + "'>" + item + "</option>";
                                        }
                                    })
                                    select += "</select>";
                                    return select;
                                }
                            }
                        },
                            {
                                field: 'pkEntryName',
                                title: '队伍名称',
                                align: 'center',
                                width: 200,
                                templet: function (d) {
                                    if (d.pkDraw) {
                                        return d.pkEntryName;
                                    } else {
                                        let select = "<select name='pkEntry" + d.groupRank + "Name' lay-filter='pkEntry" + d.groupRank + "Name' lay-search=''>";
                                        select += "<option value=''></option>";
                                        select += "</select>";
                                        return select;
                                    }
                                }
                            },
                            {
                                field: 'pkPlayerName',
                                title: '玩家名称',
                                align: 'center',
                                width: 200,
                                templet: function (d) {
                                    if (d.pkDraw) {
                                        return d.pkPlayerName;
                                    } else {
                                        return "";
                                    }
                                }
                            }
                        ]],
                    id: 'pkGroupTable'
                });

            })
            .catch(function (error) {
                console.log(error.message);
            });

        <!-- 监听分组选择 -->
        table.on('row(currentGroupTable)', function (obj) {
            form.on('select(phaseTwoGroupSelect)', function (data) {
                let currentTableData = table.cache["currentGroupTable"],
                    phaseTwoGroupId = groupNum + parseInt(data.value), selectCheck = true;
                // 校验选项
                $.each(currentTableData, function (index) {
                    if (currentTableData[index]["phaseTwoGroup"] === phaseTwoGroupId && currentTableData[index]["entry"] !== obj.data.entry) {
                        layer.msg("不能分配到同一组！", {icon: 2, time: 1000});
                        data.othis.find("dl").find("dd[lay-value='']").click();
                        selectCheck = false;
                        return false;
                    }
                });
                if (selectCheck === false) {
                    return false;
                }
                // 存选项
                currentTableData[obj.data.groupRank - 1]["phaseTwoGroup"] = phaseTwoGroupId;
                // 重载二阶段表格
                let entry = obj.data.entry, entryName = obj.data.entryName, playerName = obj.data.playerName,
                    groupName = obj.data.groupName;
                for (let i = 1; i < teamPerGroup + 1; i++) {
                    let tableId = "phaseTwoGroup" + (groupNum + i) + "Table";
                    let tableData = table.cache[tableId];
                    if ((groupNum + i) === phaseTwoGroupId) {
                        $.each(tableData, function (index) {
                            if (tableData[index]["groupName"] === groupName) {
                                tableData[index]["entry"] = entry;
                                tableData[index]["entryName"] = entryName;
                                tableData[index]["playerName"] = playerName;
                                tableData[index]["drawPhaseTwo"] = true;
                                table.reload(tableId, {data: tableData});
                            }
                        });
                    } else {
                        $.each(tableData, function (index) {
                            if (tableData[index]["groupName"] === groupName && tableData[index]["entry"] === entry) {
                                tableData[index]["entry"] = -1;
                                tableData[index]["entryName"] = entryName;
                                tableData[index]["playerName"] = playerName;
                                tableData[index]["drawPhaseTwo"] = false;
                                table.reload(tableId, {data: tableData});
                            }
                        });
                    }
                }
            });
        });

        <!-- 二阶段小组 -->
        for (let i = 1; i < teamPerGroup + 1; i++) {
            // 回填组名
            let groupName = getCapitalLetterFromNum(i) + "组";
            let phaseTwoGroupId = groupNum + i;
            $("#phaseTwoGroup" + phaseTwoGroupId + "Name").text(groupName);
            // 展示
            $("#phaseTwoGroup" + phaseTwoGroupId).removeClass("layui-hide");
            // 渲染
            let id = "phaseTwoGroup" + phaseTwoGroupId + "Table";
            let elem = "#" + id;
            // 获取数据
            axios.get('/tournament/qrySeeableGroupInfoListByGroupId', {
                params: {
                    tournamentId: tournamentId,
                    currentGroupId: currentGroupId,
                    groupId: phaseTwoGroupId
                }
            })
                .then(function (response) {
                    let data = response.data;
                    table.render({
                        elem: elem,
                        data: data,
                        cellMinWidth: 80,
                        cols: [[
                            {
                                field: 'groupName', title: '小组', align: 'center', width: 120, templet: function (d) {
                                    return d.groupName + '组';
                                }
                            },
                            {
                                field: 'entryName',
                                title: '队伍名称',
                                align: 'center',
                                width: 180,
                                templet: function (d) {
                                    if (d.entry <= 0) {
                                        return d.groupName + '组队员';
                                    } else {
                                        return d.entryName;
                                    }
                                }
                            },
                            {
                                field: 'playerName',
                                title: '玩家名称',
                                align: 'center',
                                width: 160,
                                templet: function (d) {
                                    if (d.entry <= 0) {
                                        return d.groupName + '组队员';
                                    } else {
                                        return d.playerName;
                                    }
                                }
                            },
                            {
                                title: '已分组', align: 'center', templet: function (d) {
                                    if (d.drawPhaseTwo) {
                                        return '是';
                                    } else {
                                        return '否';
                                    }
                                }
                            },
                        ]],
                        id: id,
                        done: function (res) {
                            soulTable.render(this);
                            let that = this.elem.next();
                            $.each(res.data, function (rowIndex, row) {
                                $.each(row.discloseList, function (index, item) {
                                    if (row.entry === item) {
                                        setTableRowColor(that, index, "#5FB878");
                                    }
                                })
                            });
                        }
                    });
                })
                .catch(function (error) {
                    console.log(error.message);
                });
        }

        <!-- 更新二阶段分组 -->
        $("#updatePhaseTwoGroup").on('click', function () {
            let currentGroupName = $("#currentGroupName").text();
            let groupDataList = [], commitCheck = true;

            for (let i = 1; i < teamPerGroup + 1; i++) {
                let tournamentGroupData = {};
                let tableId = "phaseTwoGroup" + (groupNum + i) + "Table";
                let tableData = table.cache[tableId];
                $.each(tableData, function (index, item) {
                    if (tableData[index]["groupName"] === currentGroupName) {
                        // 校验
                        if (item.entry <= 0) {
                            commitCheck = false;
                            layer.msg("还有队员未分配！", {icon: 2, time: 1000});
                            return false;
                        }
                        // 拼装
                        tournamentGroupData.tournamentId = tournamentId;
                        tournamentGroupData.groupId = groupNum + i;
                        tournamentGroupData.groupName = currentGroupName;
                        tournamentGroupData.entry = item.entry;
                        groupDataList.push(tournamentGroupData);
                    }
                });
                if (commitCheck === false) {
                    return false;
                }
            }
            if (commitCheck === false) {
                return false;
            }

            // 校验死线
            let phaseTwoDeadline = $("#phaseTwoDeadline").val();
            if (new Date().getTime() > getLocalTime(phaseTwoDeadline)) {
                layer.msg("死线已过，提交不了！", {icon: 2, time: 1500});
                return false;
            }

            // 禁用提交按钮
            $(this).attr("disabled", "");
            // 提交到接口
            layer.confirm("确认提交第二阶段分组？", {closeBtn: 0, title: ""}, function () {
                axios.post('/tournament/updateZjTournamentPhaseTwoGroupData', groupDataList)
                    .then(function (response) {
                        layer.msg(response, {icon: 6, time: 1500}, function () {
                            window.location.reload();
                        });
                    })
                    .catch(function (error) {
                        console.info(error.message);
                        layer.msg("更新失败，请重新尝试！", {icon: 2, time: 1500});
                    });
            }, function (index) {
                layer.close(index);
                return false;
            });
            $(this).removeAttr("disabled");
            return false;
        });

        <!-- pk赛分配进度 -->
        axios.get('/tournament/qryZjTournamentPkPickSteps?tournamentId=' + tournamentId)
            .then(function (response) {
                steps({
                    el: '#stage',
                    data: response.dataList,
                    center: true,
                    space: 200,
                    iconType: "bullets",
                    active: response.active
                });
            })
            .catch(function (error) {
                console.log(error.message);
            });

        <!-- pk赛可选择对手 -->
        table.render({
            elem: '#pkPickableTable',
            url: '/tournament/qryZjTournamentPkPickableList/',
            where: {tournamentId: tournamentId, currentGroupId: currentGroupId},
            loading: true,
            width: 500,
            cols: [[
                {field: 'groupName', title: '小组', align: 'center', width: 100},
                {field: 'entryName', title: '队伍名称', align: 'center', width: 200},
                {field: 'playerName', title: '玩家名称', align: 'center', width: 200}
            ]],
            id: 'pkPickableTable'
        });

        <!-- 监听pk对手选择 -->
        table.on('row(pkGroupTable)', function (obj) {
            let groupRank = obj.data.groupRank;

            form.on('select(pkGroup' + groupRank + 'Name)', function (data) {
                let pkEntryNameDom = $("select[name=pkEntry" + groupRank + "Name]");
                axios.get('/tournament/qryGroupEntryInfoList', {
                    params: {
                        tournamentId: tournamentId,
                        groupId: data.value
                    }
                })
                    .then(function (response) {
                        pkEntryNameDom.html("");
                        pkEntryNameDom.append("<option value=''></option>")
                        $.each(response, function (index, item) {
                            let optionStr = "<option value='" + item.entry + "'>" + item.entryName + "</option>";
                            pkEntryNameDom.append(optionStr);
                        })
                        form.render('select');
                    })
                    .catch(function (error) {
                        console.log(error.message);
                    });
            });

            form.on('select(pkEntry' + groupRank + 'Name)', function (data) {
                let pkEntry = data.value;
                if (pkEntry === "") {
                    return false;
                }
                obj.update({
                    pkEntry: pkEntry
                });
                axios.get('/tournament/qryEntryInfo?entry=' + pkEntry)
                    .then(function (response) {
                        obj.update({
                            pkDraw: true,
                            pkPlayerName: response.playerName
                        });
                    })
                    .catch(function (error) {
                        console.log(error.message);
                    });
            });

        });

        <!-- 更新pk分组 -->
        table.on('tool(pkGroupTable)', function (obj) {
            let data = obj.data;
            axios.get('/tournament/updateZjTournamentPkData', {
                params: {
                    tournamentId: tournamentId,
                    entry: data.entry,
                    pkEntry: data.pkEntry
                }
            })
                .then(function (response) {
                    layer.msg(response, {area: '450px', time: 3000});
                    if (response.indexOf("分配成功") > 0) {
                        window.location.reload();
                    }
                })
                .catch(function (error) {
                    console.log(error.message);
                });
        });

    });
</script>

</html>