h1, h2, h3 {
    font-size: 14px;
}

::-webkit-input-placeholder {
    color: #999
}

/* 布局 */
.site-inline {
    font-size: 0;
}

.site-tree, .site-content {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    font-size: 14px;
}

.site-tree {
    width: 220px;
    min-height: 900px;
    padding: 5px 0 20px;
}

.site-content {
    width: 899px;
    min-height: 900px;
    padding: 20px 0 10px 20px;
}

/* 头部 */
.header {
    height: 59px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
}

.logo {
    position: absolute;
    left: 0;
    top: 18px;
    color: white;
    font-size: x-large;
}

.header .layui-nav {
    position: absolute;
    right: 20px;
    top: 0;
    padding: 0;
    background: none;
}

.header .layui-nav .layui-nav-item {
    margin: 0 20px;
}

.header .layui-nav .layui-nav-item[mobile] {
    display: none;
}

.header .layui-container .logo {
    left: 15px;
}

.header .layui-container .layui-nav {
    right: 5px;
}

.header .nav-icon {
    position: absolute;
    top: 5px;
    left: -155px;
}

.header .nav-teamId {
    font-size: 25px;
    color: white;
    position: absolute;
    margin-left: 25px;
    top: 12px;
    left: -150px;
}

.component {
    position: absolute;
    width: 160px;
    left: 120px;
    top: 16px;
}

.component .layui-input {
    height: 30px;
    padding-left: 12px;
    background-color: #424652;
    background-color: rgba(255, 255, 255, .05);
    border: none 0;
    color: #fff;
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
}

.component .layui-form-select .layui-edge {
    display: none;
    border-top-color: #999;
}

.component .layui-form-select dl {
    top: 36px;
    background-color: rgba(255, 255, 255, .9)
}

.footer {
    background: #dedede;
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
    color: #000000;
    font-weight: 300;
}

.layui-text {
    margin-bottom: 5px;
}

.label-required:before {
    top: 8px;
    right: 5px;
    color: red;
    content: '*';
    position: absolute;
    margin-left: 4px;
    font-weight: 700;
    line-height: 1.8em;
}

.layui-icon:before {
    position: absolute;
    margin-left: 4px;
    margin-top: 11px;
}
