<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{::link})">
    <title>查看赛果-自定义赛事-letletme</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.css" rel="stylesheet"
          type="text/css"/>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <div class="layui-input-inline" style="margin-top: 5px">
                <button class="layui-btn layui-btn-primary layui-btn-sm" id="retrunButton" type="button">
                    <i class="layui-icon layui-icon-return"></i>
                </button>
            </div>
            <div class="layui-input-inline" style="margin-left: 10px">
                <h1 style="font-size: 28px" th:text="${tournamentInfo?.getName()}+' - GW'+${currentGw}"></h1>
            </div>

            <div style="margin-top: 30px"></div>

            <div class="layui-tab" lay-filter="stageTab">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="groupTab">小组赛</li>
                    <li lay-id="knockoutTab">淘汰赛</li>
                    <li lay-id="eventResultTab">本轮战绩</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div th:replace="layout::tournamentContent(${tournamentInfo?.getId()},${showNum})"></div>
                    </div>
                    <div class="layui-tab-item">

                        <div class="layui-hide" id="config">
                            <form class="layui-form">

                                <div class="layui-form-item">
                                    <label class="layui-form-label">比分详情</label>
                                    <div class="layui-input-inline">
                                        <input lay-filter="infoSwitch" lay-skin="switch"
                                               lay-text="开|关" name="infoSwitch" type="checkbox">
                                    </div>
                                    <label class="layui-form-label">队伍：</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" name="entryName" readonly
                                               style="border: none" th:value="${entryInfo?.entryName}" type="text">
                                    </div>

                                    <label class="layui-form-label">玩家：</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" name="playerName" readonly
                                               style="border: none" th:value="${entryInfo?.playerName}" type="text">
                                    </div>
                                </div>

                            </form>

                            <div class="layui-row layui-hide" id="info">
                                <div class="layui-col-sm1" style="width:4%;margin-top:-5px">
                                    <button class="layui-btn layui-btn-sm layui-btn-primary" id="reset"
                                            style="border: none" type="reset">
                                        <i class="layui-icon layui-icon-refresh"></i>
                                    </button>
                                </div>
                                <div class="layui-col-sm2" style="margin-right:-25px">
                                    <div style="font-size:16px">比分详情：</div>
                                </div>
                                <div class="layui-col-sm8" style="margin-left:-40px">
                                    <div id="matchInfo" style="font-size:16px;color:red"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div id="bracket"></div>

        </div>
    </div>

</div>

<div th:replace="layout::footer"></div>

</body>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.js"></script>

<script th:replace="layout::baseScript"></script>

<script th:replace="layout::groupScript(${tournamentInfo?.getGroupNum()})"></script>

<script th:inline="none">

    function initBracket() {
        let tournamentId = getUrlParam('id');
        axios.get('/tournament/qryKnockoutResultByTournament?tournamentId=' + tournamentId)
            .then(function (response) {
                if (response.length == 0) {
                    layer.msg("当前比赛周无淘汰赛数据", {time: 1500});
                    return false;
                }
                $("#config").removeClass("layui-hide");
                let bracketData = parseBracketData(response);
                $('#bracket').bracket({
                    teamWidth: 150,
                    scoreWidth: 30,
                    matchMargin: 20,
                    roundMargin: 50,
                    init: bracketData,
                    onMatchClick: onclick,
                    onMatchHover: onhover,
                    skipConsolationRound: true
                })
            })
            .catch(function (error) {
                console.info(error.message);
            });
    }

    function parseBracketData(data) {
        let teams = [];
        let results = [];
        let bracketData = {teams, results};
        $.each(data, function (index, item) {
            let team = [];
            if (item.homeEntry < 0) {
                team.push(null);
            } else {
                team.push(item.homeEntryName);
            }
            if (item.awayEntry < 0) {
                team.push(null);
            } else {
                team.push(item.awayEntryName);
            }
            teams.push(team);
            let rusult = [];
            rusult.push(item.homeEntryNetPoint);
            rusult.push(item.awayEntryNetPoint);
            rusult.push(item.matchInfo);
            results.push(rusult);
        });
        return bracketData;
    }

    function onclick(data) {
        $('#matchInfo').text(data);
    }

    function onhover(data, hover) {
        if (hover == true) {
            $('#matchInfo').text(data);
        }
    }

</script>

<script th:inline="javascript">
    layui.use(['element', 'table', 'layer', 'form'], function () {
        let $ = layui.jquery, element = layui.element, layer = layui.layer, form = layui.form;

        $(document).ready(function () {
            let bracketDom = $("#bracket");
            // 无小组赛关闭小组赛tab
            let groupNum = [[${tournamentInfo?.getGroupNum()}]];
            if (groupNum == 0) {
                element.tabDelete('stageTab', 'groupTab');
                // 渲染对阵图
                bracketDom.removeClass("layui-hide");
                initKnockoutResult();
                return false;
            }
            bracketDom.addClass("layui-hide");
            // 无淘汰赛关闭淘汰赛tab
            let knockoutNum = [[${tournamentInfo?.getKnockoutTeam()}]];
            if (knockoutNum == 0) {
                element.tabDelete('stageTab', 'knockoutTab');
            }
        });

        $("#retrunButton").on('click', function () {
            window.location.replace("/tournament/result");
        });

        element.on('tab(stageTab)', function (data) {
            $("#config").addClass("layui-hide");
            let bracketDom = $("#bracket");
            if (data.index == 1) {
                bracketDom.removeClass("layui-hide");
                if (bracketDom.children().length == 0) {
                    initKnockoutResult();
                }
            } else {
                bracketDom.addClass("layui-hide");
            }
        });

        element.on('tab(knockoutTab)', function () {
            $("#config").removeClass("layui-hide");
        });

        element.on('tab(eventResultTab)', function () {
            $("#config").addClass("layui-hide");
        });

        form.on('switch(infoSwitch)', function () {
            if (this.checked) {
                $("#info").removeClass("layui-hide");
            } else {
                $("#info").addClass("layui-hide");
            }
        });

        $('#reset').on('click', function () {
            $("#matchInfo").text('');
        });

        function initKnockoutResult() {
            let currentGw = [[${currentGw}]];
            let knockoutStartGw = [[${tournamentInfo?.getKnockoutStartGw()}]];
            if (knockoutStartGw > currentGw) {
                layer.msg("淘汰赛开始时间：GW" + knockoutStartGw, {time: 1500});
            }
            let index = layer.load(2);
            initBracket();
            layer.close(index);
        }

    });

</script>

</html>