<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<div th:replace="layout::topnav">
</div>

<div class="layui-fluid">
    <div class="layui-main" id="main">
        <div class="site-content">

            <h1 style="margin-bottom: 20px;font-size: 28px">创建自定义赛事</h1>

            <form action="" class="layui-form" lay-filter="tournamentForm" method="post">

                <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                    <legend><a name="compatibility">赛事信息</a></legend>
                </fieldset>

                <!-- 基本设定 -->
                <div id="baseConfig">

                    <div class="layui-form-item" id="url">
                        <label class="layui-form-label label-required">官方联赛</label>
                        <div class="layui-input-block" style="width: 50%">
                            <input autocomplete="on" class="layui-input" lay-reqtext="url不能为空" lay-verify="required"
                                   name="url" placeholder="https://fantasy.premierleague.com/leagues/***/standings/*"
                                   type="text">
                        </div>
                    </div>

                    <div class="layui-form-item" id="totalTeam">
                        <label class="layui-form-label">联赛队伍</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="totalTeam" readonly style="border: none">
                        </div>
                        <div class="layui-hide" id="totalTeamTips">
                            <div class="layui-icon layui-icon-loading"></div>
                            <div class="layui-form-mid layui-word-aux" style="margin-left: 25px">稍候，统计中...
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item" id="name">
                        <label class="layui-form-label label-required">赛事名称</label>
                        <div class="layui-input-inline">
                            <input autocomplete="on" class="layui-input" lay-reqtext="赛事名称不能为空" lay-verify="required"
                                   name="tournamentName" type="text">
                        </div>
                        <i class="layui-hide layui-icon layui-icon-ok" id="nameTipsIcon" style="color:black"></i>
                    </div>

                    <div class="layui-form-item" id="creator">
                        <label class="layui-form-label label-required">创建人</label>
                        <div class="layui-input-inline">
                            <input autocomplete="on" class="layui-input" lay-reqtext="赛事创建人不能为空" lay-verify="required"
                                   name="creator" type="text">
                        </div>
                    </div>

                </div>

                <!-- 小组赛设定 -->
                <div class="layui-hide" id="groupConfig">

                    <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                        <legend><a name="compatibility">小组赛设定</a></legend>
                    </fieldset>

                    <div class="layui-form-item" id="groupMode">
                        <div class="layui-inline">
                            <label class="layui-form-label label-required">小组赛模式</label>
                            <div class="layui-input-block">
                                <select lay-filter="groupMode" lay-reqtext="请选择小组赛模式" lay-verify="required"
                                        name="groupMode">
                                    <option value=""></option>
                                    <option value="0">无小组赛</option>
                                    <option value="1">积分赛</option>
                                    <option value="2">对阵赛</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-hide layui-form-item" id="groupGw">
                        <div class="layui-inline" id="groupStartGw">
                            <label class="layui-form-label label-required">开始时间</label>
                            <div class="layui-input-block">
                                <select lay-filter="groupStartGw" lay-search="" name="groupStartGw">
                                    <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                                            th:value="${userStat.current.key}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline" id="groupEndGw">
                            <label class="layui-form-label label-required">结束时间</label>
                            <div class="layui-input-block">
                                <select lay-filter="groupEndGw" lay-search="" name="groupEndGw">
                                    <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                                            th:value="${userStat.current.key}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-hide layui-form-item" id="groupTeamsPerGroup">
                        <label class="layui-form-label label-required">每组队伍</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" lay-verify="number" name="groupTeamsPerGroup" type="number">
                        </div>
                        <div class="layui-form-mid layui-word-aux">每个小组分配的队伍数量</div>
                    </div>

                    <div class="layui-hide layui-form-item" id="groupNum">
                        <label class="layui-form-label">小组数量</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="groupNum" readonly style="border: none">
                        </div>
                        <div class="layui-form-mid layui-word-aux">小组赛分组数量</div>
                    </div>

                    <div class="layui-hide layui-form-item" id="groupFillAverage">
                        <div class="layui-row">
                            <div class="layui-col-sm1" style="margin-right: 35px">
                                <label class="layui-form-label">加入平均分</label>
                            </div>
                            <div class="layui-col-sm2" style="margin-right: 48px">
                                <input lay-skin="switch" lay-text="是|否" name="groupFillAverage" type="checkbox" value=1>
                            </div>
                            <div class="layui-col-sm6">
                                <div class="layui-form-mid layui-word-aux">是否在小组内加入平均分average，使得每个小组的队伍数量一样</div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-hide layui-form-item" id="groupQualifiers">
                        <label class="layui-form-label label-required">出线数量</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="groupQualifiers" type="number">
                        </div>
                        <div class="layui-form-mid layui-word-aux">每个小组出线的队伍数量</div>
                    </div>

                </div>

                <!-- 淘汰赛设定 -->
                <div class="layui-hide" id="knockoutConfig">

                    <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                        <legend><a name="compatibility">淘汰赛设定</a></legend>
                    </fieldset>

                    <div class="layui-form-item" id="knockoutMode">
                        <div class="layui-inline">
                            <label class="layui-form-label label-required">淘汰赛模式</label>
                            <div class="layui-input-block">
                                <select lay-filter="knockoutMode" lay-reqtext="请选择淘汰赛模式" lay-verify="required"
                                        name="knockoutMode">
                                    <option value=""></option>
                                    <option value="0">无淘汰赛</option>
                                    <option value="1">单循环</option>
                                    <option value="2">主客场</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item" id="knockoutGw">
                        <div class="layui-inline layui-hide" id="knockoutStartGwSelect">
                            <label class="layui-form-label label-required">开始时间</label>
                            <div class="layui-input-block">
                                <select lay-filter="knockoutStartGwSelect" lay-search="" name="knockoutStartGwSelect">
                                    <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                                            th:value="${userStat.current.key}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline layui-hide" id="knockoutStartGw">
                            <label class="layui-form-label">开始时间</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="knockoutStartGw" readonly style="border: none">
                            </div>
                        </div>
                        <div class="layui-inline layui-hide" id="knockoutEndGw">
                            <label class="layui-form-label">结束时间</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="knockoutEndGw" readonly style="border: none">
                            </div>
                        </div>
                    </div>

                    <div class="layui-hide layui-form-item" id="knockoutTeams">
                        <label class="layui-form-label">队伍数量</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="knockoutTeams" readonly style="border: none">
                        </div>
                        <div class="layui-form-mid layui-word-aux">淘汰赛球队总数</div>
                    </div>

                    <div class="layui-hide layui-form-item" id="knockoutRounds">
                        <label class="layui-form-label">轮次</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="knockoutRounds" readonly style="border: none">
                        </div>
                        <div class="layui-form-mid layui-word-aux">淘汰赛总轮次</div>
                    </div>

                    <!-- 提交 -->
                    <div class="layui-hide layui-form-item" id="createButton">
                        <div class="layui-input-block">
                            <button class="layui-btn" id="submitButton" lay-filter="createTournament" lay-submit
                                    type="submit">
                                创建赛事
                            </button>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>

<div th:replace="layout::footer">

</div>

</body>

<script>
    layui.use(['form', 'element', 'layer', 'util'], function () {
        let $ = layui.jquery, form = layui.form, layer = layui.layer, util = layui.util;

        /**
         * 底部固定块
         *
         * @author tong 2020.08.12
         */
        util.fixbar({
            bar1: "&#xe607;", click: function (type) {
                if (type == 'bar1') {
                    layer.open({
                        type: 2,
                        title: '',
                        area: ['700px', '400px'],
                        shade: 0,
                        maxmin: true,
                        content: ['/tournament/rule', '#main'],
                        offset: 'r',
                        zIndex: layer.zIndex,
                        success: function (layero) {
                            layer.setTop(layero);
                        }
                    });
                }
            }
        });

        /**
         * 监听url输入框（失去焦点）
         * a.校验url
         * b.计算联赛队伍数量
         * c.有数量时，展示小组赛设置
         *
         * @author tong 2020.08.08
         */
        $("input[name=url]").on('focusout', function () {
            // div
            let totalTeamTipsDiv = $("#totalTeamTips");
            let groupConfigDiv = $("#groupConfig");
            // dom
            let urlDom = $("input[name=url]");
            let totalTeamDom = $("input[name=totalTeam]");

            // 校验url
            let url = urlDom.val();
            if (url == '') {
                totalTeamDom.val('');
                totalTeamTipsDiv.addClass("layui-hide");
                groupConfigDiv.addClass("layui-hide");
                return false;
            }
            if (!new RegExp("^https://fantasy.premierleague.com/leagues/.*/standings/[c|h]$").test(url)) {
                layer.tips('联赛url格式错误，请重试', urlDom, {time: 1500});
                urlDom.val('');
                totalTeamDom.val('');
                totalTeamTipsDiv.addClass("layui-hide");
                groupConfigDiv.addClass("layui-hide");
                return false;
            }
            // 计算联赛队伍数量
            totalTeamTipsDiv.removeClass("layui-hide");
            axios.get('/tournament/countLeagueTeams', {
                params: {
                    url: url
                }
            })
                .then(function (response) {
                    totalTeamDom.val(response.data);
                    totalTeamTipsDiv.addClass("layui-hide");
                    // 展示小组赛设置
                    groupConfigDiv.removeClass("layui-hide");
                })
                .catch(function () {
                    layer.tips("联赛url读取错误，请重试", urlDom, {time: 1500});
                    urlDom.val('');
                    totalTeamTipsDiv.addClass("layui-hide");
                    groupConfigDiv.removeClass("layui-hide");
                });
        });

        /**
         * 监听赛事名称输入框（失去焦点）
         * a.校验赛事名称
         * b.查询是否重复
         *
         * @author tong 2020.08.11
         */
        $("input[name=tournamentName]").on('focusout', function () {
            // div
            let nameTipsIconDiv = $("#nameTipsIcon");
            // dom
            let nameDom = $("input[name=tournamentName]");

            // 校验赛事名称
            let name = nameDom.val();
            if (name == '') {
                nameTipsIconDiv.addClass("layui-hide");
                return false;
            }
            // 查询是否重复
            axios.get('/tournament/checkTournamentName', {
                params: {
                    name: name
                }
            })
                .then(function (response) {
                    if (response.data == true) {
                        nameTipsIconDiv.removeClass("layui-hide");
                    } else if (response.data == false) {
                        layer.tips("赛事名称已存在，请更换", nameDom, {time: 1500});
                        nameTipsIconDiv.addClass("layui-hide");
                        nameDom.val('');
                    }
                })
                .catch(function () {
                    layer.tips("赛事名称查询错误，请重试", nameDom, {time: 1500});
                    nameDom.val('');
                });
        });

        /**
         * 监听小组赛模式下拉框（下拉）
         * a.清除淘汰赛配置
         * b.无小组赛：A.展示淘汰赛设置；B.隐藏小组赛设置；C.根据淘汰赛模式：D1.不能无淘汰赛；D2.有淘汰赛时，计算淘汰赛队伍数量，展示淘汰赛开始时间下拉框并设置淘汰赛开始时间必填
         * c.积分赛和对阵赛：A.展示淘汰赛设置；B.展示小组赛设置（对阵赛单独展示平均分占位）；
         * C.根据淘汰赛模式：C1:无淘汰赛时，隐藏小组赛出线数量，隐藏淘汰赛配置；C2.有小组赛时，显示小组赛出线数量；
         * C3.淘汰赛开始时间下拉框改输入框；C4.计算淘汰赛队伍数量和淘汰赛轮次
         * d.请选择时：A.隐藏淘汰赛配置；B.隐藏并重置小组赛配置
         *
         * @author tong 2020.08.08
         */
        form.on('select(groupMode)', function (data) {
            // div
            let groupGwDiv = $("#groupGw");
            let groupTeamsPerGroupDiv = $("#groupTeamsPerGroup");
            let groupNumDiv = $("#groupNum");
            let groupFillAverageDiv = $("#groupFillAverage");
            let groupQualifiersDiv = $("#groupQualifiers");
            let knockoutConfigDiv = $("#knockoutConfig");
            let knockoutStartGwSelectDiv = $("#knockoutStartGwSelect");
            let knockoutStartGwDiv = $("#knockoutStartGw");
            let knockouEndGwDiv = $("#knockoutEndGw");
            // dom
            let totalTeamDom = $("input[name=totalTeam]");
            let knockoutModeDom = $("select[name=knockoutMode]");
            let knockoutStartGwDom = $("input[name=knockoutStartGw]");
            let knockoutTeamsDom = $("input[name=knockoutTeams]");
            let knockoutRoundsDom = $("input[name=knockoutRounds]");
            // val
            let groupMode = data.value;
            let knockoutMode = knockoutModeDom.val();

            // 清除淘汰赛配置
            clearKnockoutConfig();
            // 小组赛模式
            switch (groupMode) {
                case "0": { // 无小组赛
                    // 展示淘汰赛设置
                    knockoutConfigDiv.removeClass("layui-hide");
                    // 隐藏小组赛设置
                    hideGroupConfig();
                    // 根据淘汰赛模式
                    switch (knockoutMode) {
                        case "0": { // 无淘汰赛
                            // 不能无淘汰赛
                            layer.msg("没有小组赛又没有淘汰赛还弄个啥", {icon: 5, time: 1000});
                            break;
                        }
                        case "1": // 单循环
                        case "2": { // 主客场
                            // 计算淘汰赛队伍数量
                            let totalTeam = totalTeamDom.val();
                            knockoutTeamsDom.val(totalTeam);
                            // 展示淘汰赛开始时间下拉框并设置淘汰赛开始时间必填
                            knockoutStartGwSelectDiv.addClass("label-required");
                            knockoutStartGwDom.attr("lay-search", "");
                            form.render("select", "knockoutStartGwSelect");
                        }
                    }
                    break;
                }
                case "1": // 积分赛
                case "2": { // 对阵赛
                    // 展示淘汰赛设置
                    knockoutConfigDiv.removeClass("layui-hide");
                    // 展示小组赛设置（对阵赛单独展示平均分占位）
                    groupGwDiv.removeClass("layui-hide");
                    groupTeamsPerGroupDiv.removeClass("layui-hide");
                    groupNumDiv.removeClass("layui-hide");
                    if (knockoutMode == "2") {
                        groupFillAverageDiv.removeClass("layui-hide");
                    } else {
                        groupFillAverageDiv.addClass("layui-hide");
                    }
                    // 根据淘汰赛模式
                    switch (knockoutMode) { // 有淘汰赛
                        case "1":
                        case "2": {
                            // 显示小组赛出线数量
                            groupQualifiersDiv.removeClass("layui-hide");
                            // 淘汰赛开始时间下拉框改输入框
                            knockoutStartGwSelectDiv.addClass("layui-hide");
                            knockoutStartGwDiv.removeClass("layui-hide");
                            knockouEndGwDiv.removeClass("layui-hide");
                            // 计算淘汰赛队伍数量
                            let knockoutTeams = knockoutTeamsDom.val();
                            if (knockoutTeams != '') {
                                knockoutTeamsDom.val('');
                            }
                            // 计算淘汰赛轮次
                            let knockoutRounds = knockoutRoundsDom.val();
                            if (knockoutRounds != '') {
                                knockoutRoundsDom.val('');
                            }
                            break;
                        }
                        default: { // 无淘汰赛
                            groupQualifiersDiv.addClass("layui-hide");
                            hideKnockoutConfig();
                        }
                    }
                    break;
                }
                default: { // 请选择
                    // 隐藏淘汰赛配置
                    knockoutConfigDiv.addClass("layui-hide");
                    // 隐藏并重置小组赛配置
                    hideGroupConfig();
                    clearGroupConfig();
                }
            }
        });

        /**
         * 监听淘汰赛模式下拉框（下拉）
         * a.无淘汰赛时：A.淘汰赛配置重置；B.隐藏淘汰赛配置；C.不能无小组赛；D.有小组赛时，展示创建按钮
         * b.有淘汰赛时：A.展示创建按钮；B.展示淘汰赛队伍数量和淘汰赛轮次；
         * C.根据小组赛模式：
         * C1.无小组赛时：a)展示淘汰赛开始时间下拉项；b)展示淘汰赛队伍数量；c)计算淘汰赛轮次；d)有淘汰赛开始时间时，计算淘汰赛结束时间；
         * C2.有小组赛时：a)展示每组出线数量；b展示淘汰赛开始时间和结束时间；c)有每组队伍和小组数时，计算淘汰赛数量；d)计算淘汰赛轮次；e)有淘汰赛开始时间时，计算淘汰赛结束时间；
         * c.请选择时：A.隐藏小组出线数量；B.隐藏提交按钮；C.隐藏并重置淘汰赛配置
         *
         * @author tong 2020.08.08
         */
        form.on('select(knockoutMode)', function (data) {
                // div
                let groupQualifiersDiv = $("#groupQualifiers");
                let createButtonDiv = $("#createButton");
                let knockoutStartGwSelectDiv = $("#knockoutStartGwSelect");
                let knockoutStartGwDiv = $("#knockoutStartGw");
                let knockoutEndGwDiv = $("#knockoutEndGw");
                let knockoutTeamsDiv = $("#knockoutTeams");
                let knockoutRoundsDiv = $("#knockoutRounds");
                // dom
                let totalTeamDom = $("input[name=totalTeam]");
                let groupModeDom = $("select[name=groupMode]");
                let groupNumDom = $("input[name=groupNum]");
                let groupQualifiersDom = $("input[name=groupQualifiers]");
                let knockoutStartGwSelectDom = $("select[name=knockoutStartGwSelect]");
                let knockoutStartGwDom = $("input[name=knockoutStartGw]");
                let knockoutEndGwDom = $("input[name=knockoutEndGw]");
                let knockoutTeamsDom = $("input[name=knockoutTeams]");
                let knockoutRoundsDom = $("input[name=knockoutRounds]");
                // val
                let groupMode = groupModeDom.val();
                let knockoutMode = data.value;

                switch (knockoutMode) {
                    case "0": { // 无淘汰赛
                        // 相关配置值重置
                        clearKnockoutConfig();
                        // 隐藏淘汰赛配置
                        groupQualifiersDiv.addClass("layui-hide");
                        knockoutStartGwSelectDiv.addClass("layui-hide");
                        knockoutStartGwDiv.addClass("layui-hide");
                        knockoutEndGwDiv.addClass("layui-hide");
                        knockoutTeamsDiv.addClass("layui-hide");
                        knockoutRoundsDiv.addClass("layui-hide");
                        // 不能无小组赛
                        if (groupMode == "0") {
                            layer.msg("没有小组赛又没有淘汰赛还弄个啥", {icon: 5, time: 1000});
                            createButtonDiv.addClass("layui-hide");
                            return false;
                        }
                        // 有小组赛时，展示创建按钮
                        createButtonDiv.removeClass("layui-hide");
                        break;
                    }
                    case "1": // 单循环
                    case "2": { // 主客场
                        // 展示创建按钮
                        createButtonDiv.removeClass("layui-hide");
                        // 展示淘汰赛队伍数量和淘汰赛轮次
                        knockoutTeamsDiv.removeClass("layui-hide");
                        knockoutRoundsDiv.removeClass("layui-hide");
                        if (groupMode == "0") { // 无小组赛
                            // 展示淘汰赛开始时间下拉项和淘汰赛结束时间
                            knockoutStartGwSelectDiv.removeClass("layui-hide");
                            knockoutEndGwDiv.removeClass("layui-hide");
                            // 展示淘汰赛队伍数量
                            let totalTeam = totalTeamDom.val();
                            knockoutTeamsDom.val(totalTeam);
                            // 计算淘汰赛轮次
                            let roundNum = Math.ceil(Math.log(totalTeam) / Math.log(2)) * knockoutMode;
                            knockoutRoundsDom.val(roundNum);
                            // 计算淘汰赛结束时间
                            let knockoutStartGw = getGwValue(knockoutStartGwSelectDom.val());
                            if (knockoutStartGw != '') {
                                let knockoutEndGw = parseInt(knockoutStartGw) + roundNum - 1;
                                if (knockoutEndGw > 38) {
                                    layer.tips("淘汰赛打不完啦，最晚开始时间为：" + setGwStr(38 - roundNum + 1), knockoutEndGwDiv, {time: 1500});
                                    knockoutStartGwSelectDom.siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
                                    knockoutEndGwDom.val('');
                                    return false;
                                }
                                knockoutEndGwDom.val(setGwStr(knockoutEndGw));
                            }
                        }
                        if (groupMode == "1" || groupMode == "2") { // 有小组赛
                            // 展示每组出线数量
                            groupQualifiersDiv.removeClass("layui-hide");
                            // 展示淘汰赛开始时间和淘汰赛结束时间
                            knockoutStartGwSelectDiv.addClass("layui-hide");
                            knockoutStartGwDiv.removeClass("layui-hide");
                            knockoutEndGwDiv.removeClass("layui-hide");
                            // 计算淘汰赛开始时间
                            let groupEndGw = groupNumDom.val();
                            if (groupEndGw != '') {
                                let knockoutStartGw = parseInt(groupEndGw) + 1;
                                knockoutStartGwDom.val(knockoutStartGw);
                            }
                            // 计算淘汰赛球队数量
                            let groupQualifiers = groupQualifiersDom.val();
                            if (groupQualifiers == '') {
                                return false;
                            }
                            let groupNum = groupNumDom.val();
                            if (groupNum == '') {
                                return false;
                            }
                            let knockoutTeam = parseInt(groupQualifiers) * parseInt(groupNum);
                            knockoutTeamsDom.val(knockoutTeam);
                            // 计算淘汰赛轮次
                            let roundNum = Math.ceil(Math.log(knockoutTeam) / Math.log(2)) * knockoutMode;
                            knockoutRoundsDom.val(roundNum);
                            // 计算淘汰赛结束时间
                            let knockoutStartGw = getGwValue(knockoutStartGwDom.val());
                            if (knockoutStartGw != '') {
                                let knockoutEndGw = parseInt(knockoutStartGw) + roundNum - 1;
                                if (knockoutEndGw > 38) {
                                    layer.tips("淘汰赛打不完啦，最晚开始时间为：" + setGwStr(38 - roundNum + 1), knockoutEndGwDiv, {time: 1500});
                                    knockoutStartGwDom.val('');
                                    knockoutEndGwDom.val('');
                                    return false;
                                }
                                knockoutEndGwDom.val(setGwStr(knockoutEndGw));
                            }
                        }
                        break;
                    }
                    default: { // 请选择
                        // 隐藏小组出线数量
                        groupQualifiersDiv.addClass("layui-hide");
                        // 隐藏提交按钮
                        createButtonDiv.addClass("layui-hide");
                        // 隐藏并重置淘汰赛配置
                        hideKnockoutConfig();
                        clearKnockoutConfig();
                    }
                }
            }
        );

        /**
         * 监听小组赛开始时间下拉框（下拉）
         * a.校验开始时间
         *
         * @author tong 2020/08/09
         */
        form.on('select(groupStartGw)', function () {
            // div
            let groupStartGwDiv = $("#groupStartGw");
            // dom
            let groupStartGwDom = $("select[name=groupStartGw]");
            let groupEndGwDom = $("select[name=groupEndGw]");

            let groupStartGw = getGwValue(groupStartGwDom.val());
            if (groupStartGw == '') {
                return false;
            }
            // 校验开始时间
            let groupEndGw = getGwValue(groupEndGwDom.val());
            if (groupEndGw != '' && groupStartGw >= groupEndGw) {
                layer.tips("开始时间必须早于结束时间！", groupStartGwDiv, {time: 1500});
                groupStartGwDom.siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
            }
        });

        /**
         * 监听小组赛结束时间下拉框（下拉）
         * a.校验结束时间
         * b.有淘汰赛时：A.有每组出线数量，计算淘汰赛队伍数量和淘汰赛轮次；B.有淘汰赛轮次，计算淘汰赛开始时间；C.计算淘汰赛结束时间
         *
         * @author tong 2020/08/09
         */
        form.on('select(groupEndGw)', function () {
            // div
            let groupEndGwDiv = $("#groupEndGw");
            let knockoutStartGwDiv = $("#knockoutStartGw");
            let knockoutEndGwDiv = $("#knockoutEndGw");
            // dom
            let groupStartGwDom = $("select[name=groupStartGw]");
            let groupEndGwDom = $("select[name=groupEndGw]");
            let groupQualifiersDom = $("input[name=groupQualifiers]");
            let knockoutModeDom = $("select[name=knockoutMode]");
            let knockoutStartGwDom = $("input[name=knockoutStartGw]");
            let knockoutEndGwDom = $("input[name=knockoutEndGw]");
            let knockoutTeamsDom = $("input[name=knockoutTeams]");
            let knockoutRoundsDom = $("input[name=knockoutRounds]");

            let groupEndGw = getGwValue(groupEndGwDom.val());
            if (groupEndGw == '') {
                return false;
            }
            // 计算淘汰赛队伍数量和淘汰赛轮次
            let groupQualifiers = groupQualifiersDom.val();
            if (groupQualifiers == '') {
                return false;
            }
            let knockoutTeams = knockoutTeamsDom.val();
            knockoutTeamsDom.val(knockoutTeams);
            let knockoutRounds = knockoutRoundsDom.val();
            knockoutRoundsDom.val(knockoutRounds);
            // 校验结束时间
            let groupStartGw = getGwValue(groupStartGwDom.val());
            if (groupStartGw != '' && groupStartGw >= groupEndGw) {
                layer.tips("结束时间必须晚于开始时间！", groupEndGwDiv, {time: 1500});
                groupEndGwDom.siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
                return false;
            }
            let knockoutMode = knockoutModeDom.val();
            if (knockoutMode == "1" || knockoutMode == "2") { // 有淘汰赛
                let knockoutRounds = knockoutRoundsDom.val();
                if (knockoutRounds == '') {
                    return false;
                }
                // 计算淘汰赛开始时间
                let knockoutStartGw = groupEndGw + 1;
                if (knockoutStartGw > 38) {
                    layer.tips("淘汰赛打不完啦，请修改小组赛起始时间", knockoutStartGwDiv, {time: 1500});
                    knockoutStartGwDom.val('');
                    knockoutEndGwDom.val('');
                    return false;
                }
                knockoutStartGwDom.val(setGwStr(knockoutStartGw));
                // 计算淘汰赛结束时间
                let knockoutEndGw = knockoutStartGw + parseInt(knockoutRounds) - 1;
                if (knockoutEndGw > 38) {
                    layer.tips("淘汰赛打不完啦，请修改小组赛起始时间", knockoutEndGwDiv, {time: 1500});
                    knockoutStartGwDom.val('');
                    knockoutEndGwDom.val('');
                    return false;
                }
                knockoutEndGwDom.val(setGwStr(knockoutEndGw));
            }
        });

        /**
         * 监听每组队伍数量（失去焦点）
         * a.校验每组队伍人数
         * b.校验每组出线队伍数量
         * c.计算小组数量
         * d.计算淘汰赛队伍数量和淘汰赛轮次
         * e.校验小组结束时间
         * f.计算小组赛结束时间
         * g.计算淘汰赛时间
         *
         * @author tong 2020.08.09
         */
        $("input[name=groupTeamsPerGroup]").on('focusout', function () {
            // div
            let groupTeamsPerGroupDiv = $("#groupTeamsPerGroup");
            let groupQualifiersDiv = $("#groupQualifiers");
            let knockoutStartGwDiv = $("#knockoutStartGw");
            let knockoutEndGwDiv = $("#knockoutEndGw");
            // dom
            let totalTeamDom = $("input[name=totalTeam]");
            let groupEndGwDom = $("select[name=groupEndGw]");
            let groupNumDom = $("input[name=groupNum]");
            let groupTeamsPerGroupDom = $("input[name=groupTeamsPerGroup]");
            let groupQualifiersDom = $("input[name=groupQualifiers]");
            let knockoutModeDom = $("select[name=knockoutMode]");
            let knockoutTeamsDom = $("input[name=knockoutTeams]");
            let knockoutRoundsDom = $("input[name=knockoutRounds]")
            let knockoutStartGwDom = $("input[name=knockoutStartGw]");
            let knockoutEndGwDom = $("input[name=knockoutEndGw]");

            // 校验每组队伍人数
            let groupTeamsPerGroup = groupTeamsPerGroupDom.val();
            if (groupTeamsPerGroup == '') {
                groupNumDom.val('');
                return false;
            }
            if (parseInt(groupTeamsPerGroup) <= 0) {
                layer.tips("每组队伍数量需为正整数", groupTeamsPerGroupDiv, {time: 1500});
                groupQualifiersDom.val('');
                knockoutEndGwDom.val('');
                knockoutTeamsDom.val('');
                knockoutRoundsDom.val('');
                return false;
            }
            let totalTeam = totalTeamDom.val();
            if (parseInt(groupTeamsPerGroup) > parseInt(totalTeam)) {
                layer.tips("每组队伍数量不能大于联赛队伍总数", groupTeamsPerGroupDiv, {time: 1500});
                return false;
            }
            // 校验每组出线队伍数量
            let groupQualifiers = groupQualifiersDom.val();
            if (parseInt(groupQualifiers) > parseInt(groupTeamsPerGroup)) {
                layer.tips("每组出线数量不能大于每组队伍数量", groupQualifiersDiv, {time: 1500});
                return false;
            }
            // 计算小组数量
            let groupNum = Math.ceil(parseInt(totalTeam) / parseInt(groupTeamsPerGroup));
            groupNumDom.val(groupNum);
            // d
            let knockoutMode = knockoutModeDom.val();
            if (knockoutMode != "1" && knockoutMode != "2") {
                return false;
            }
            if (groupQualifiers == '') {
                return false;
            }
            // 计算淘汰赛队伍数量和淘汰赛轮次
            let knockoutTeams = groupQualifiers * groupNum;
            knockoutTeamsDom.val(knockoutTeams);
            let knockoutRounds = Math.ceil(Math.log(knockoutTeams) / Math.log(2)) * knockoutMode;
            knockoutRoundsDom.val(knockoutRounds);
            // 校验小组结束时间
            let groupEndGw = getGwValue(groupEndGwDom.val());
            if (groupEndGw != '') {
                // 计算淘汰赛开始时间
                let knockoutStartGw = groupEndGw + 1;
                if (knockoutStartGw > 38) {
                    layer.tips("淘汰赛打不完啦，请修改小组赛配置", knockoutStartGwDiv, {time: 1500});
                    return false;
                }
                knockoutStartGwDom.val(setGwStr(knockoutStartGw));
                // 计算淘汰赛结束时间
                let knockoutEndGw = groupEndGw + knockoutRounds;
                if (knockoutEndGw > 38) {
                    layer.tips("淘汰赛打不完啦，请修改小组赛起始时间", knockoutEndGwDiv, {time: 1500});
                    knockoutStartGwDom.val('');
                    knockoutEndGwDom.val('');
                    return false;
                }
                knockoutEndGwDom.val(setGwStr(knockoutEndGw));
            }
        });

        /**
         * 监听每组出线数量(失去焦点)
         * 有每组出线数量，一定得是有淘汰赛
         * a.校验每组出线数量
         * b.有小组数量时，计算淘汰赛球队数量和淘汰赛轮次
         * c.有小组赛结束时间，计算淘汰赛开始时间
         * d.有淘汰赛开始时间，计算淘汰赛结束时间
         *
         * @author tong 2020.08.08
         */
        $("input[name=groupQualifiers]").on('focusout', function () {
            // div
            let groupQualifiersDiv = $("#groupQualifiers");
            // dom
            let groupNumDom = $("input[name=groupNum]");
            let groupEndGwDom = $("select[name=groupEndGw]");
            let groupTeamsPerGroupDom = $("input[name=groupTeamsPerGroup]");
            let groupQualifiersDom = $("input[name=groupQualifiers]");
            let knockoutModeDom = $("select[name=knockoutMode]");
            let knockoutStartGwDom = $("input[name=knockoutStartGw]");
            let knockoutEndGwDom = $("input[name=knockoutEndGw]");
            let knockoutTeamsDom = $("input[name=knockoutTeams]");
            let knockoutRoundsDom = $("input[name=knockoutRounds]");

            // 校验每组出线数量
            let groupQualifiers = groupQualifiersDom.val();
            if (groupQualifiers == '') {
                knockoutEndGwDom.val('');
                knockoutTeamsDom.val('');
                knockoutRoundsDom.val('');
                return false;
            }
            if (parseInt(groupQualifiers) <= 0) {
                layer.tips("小组出线数量需为正整数", groupQualifiersDiv, {time: 1500});
                groupQualifiersDom.val('');
                knockoutEndGwDom.val('');
                knockoutTeamsDom.val('');
                knockoutRoundsDom.val('');
                return false;
            }
            let groupTeamsPerGroup = groupTeamsPerGroupDom.val();
            if (groupQualifiers > groupTeamsPerGroup) {
                layer.tips("小组出线数量不能大于小组队伍数量", groupQualifiersDiv, {time: 1500});
                return false;
            }
            // 计算淘汰赛球队数量
            let groupNum = groupNumDom.val();
            if (groupNum == '') {
                return false;
            }
            let knockoutTeams = parseInt(groupQualifiers) * parseInt(groupNum);
            knockoutTeamsDom.val(knockoutTeams);
            // 计算淘汰赛轮次
            let knockoutMode = knockoutModeDom.val();
            let knockoutRounds = Math.ceil(Math.log(knockoutTeams) / Math.log(2)) * knockoutMode;
            knockoutRoundsDom.val(knockoutRounds);
            // 计算淘汰赛开始时间
            let groupEndGw = getGwValue(groupEndGwDom.val());
            if (groupEndGw == '') {
                return false;
            }
            let knockoutStartGw = groupEndGw + 1;
            knockoutStartGwDom.val(setGwStr(knockoutStartGw));
            // 计算淘汰赛结束时间
            let knockoutEndGw = knockoutStartGw + knockoutRounds - 1;
            knockoutEndGwDom.val(setGwStr(knockoutEndGw));
        });

        /**
         * 监听淘汰赛开始时间下拉框（下拉）
         * a.淘汰赛开始时间为空，设置淘汰赛结束时间为空
         * b.淘汰赛伦次为空，设置淘汰赛结束时间为空
         * c.校验淘汰赛结束时间
         * d.设置淘汰赛结束时间
         *
         * @author tong 2020.08.09
         */
        form.on('select(knockoutStartGwSelect)', function (data) {
            // div
            let knockoutStartGwSelectDiv = $("#knockoutStartGwSelect");
            // dom
            let knockoutEndGwDom = $("input[name=knockoutEndGw]");
            let knockoutStartGwSelectDom = $("select[name=knockoutStartGwSelect]");

            // 淘汰赛开始时间为空，设置淘汰赛结束时间为空
            if (data.value == '') {
                knockoutEndGwDom.val('');
                return false;
            }
            // 淘汰赛轮次为空，设置淘汰赛结束时间为空
            let roundNum = $("input[name=knockoutRounds]").val();
            if (roundNum == '') {
                knockoutEndGwDom.val('');
                return false;
            }
            // 校验淘汰赛结束时间
            let knockoutEndGw = getGwValue(data.value) + parseInt(roundNum) - 1;
            if (knockoutEndGw > 38) {
                layer.tips("淘汰赛最晚开始时间为：GW" + (38 - parseInt(roundNum) + 1), knockoutStartGwSelectDiv, {time: 1500});
                // 重置淘汰赛开始时间和结束时间
                knockoutStartGwSelectDom.siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
                knockoutEndGwDom.val('');
                return false;
            }
            // 设置淘汰赛结束时间
            knockoutEndGwDom.val(setGwStr(knockoutEndGw));
        });

        /**
         * 监听表单提交
         *
         * @author 2020.08.08
         */
        form.on('submit(createTournament)', function (data) {
            // div
            let submitButtonDiv = $("#submitButton");
            // dom
            let knockoutStartGwDom = $("input[name=knockoutStartGw]");
            let knockoutStartGwSelectDom = $("select[name=knockoutStartGwSelect]");
            // val
            let knockoutStartGw = getGwValue(knockoutStartGwDom.val());
            let knockoutStartGwSelect = knockoutStartGwSelectDom.val();
            let formData = data.field;
            // 设置时间
            formData.groupStartGw = getGwValue(formData.groupStartGw);
            formData.groupEndGw = getGwValue(formData.groupEndGw);
            if (knockoutStartGw != '') {
                formData.knockoutStartGw = knockoutStartGw;
            } else {
                formData.knockoutStartGw = getGwValue(knockoutStartGwSelect);
            }
            formData.knockoutEndGw = getGwValue(formData.knockoutEndGw);
            // 设置小组加入平均分
            formData.groupFillAverage == '1' ? formData.groupFillAverage = true : formData.groupFillAverage = false;
            // 禁用提交按钮
            submitButtonDiv.attr("disabled", "");
            // 提交到接口
            layer.confirm("确认创建？", {closeBtn: 0, title: ""}, function () {
                axios.post('/tournament/createNewTournament', formData)
                    .then(function (response) {
                        layer.msg(response.data, {icon: 6, time: 1000}, function () {
                            window.location.replace("/tournament/create");
                        });
                    })
                    .catch(function (error) {
                        layer.msg(error.data + "请重新尝试！", {icon: 2, time: 1500});
                        submitButtonDiv.removeAttr("disabled");
                    });
            });
            return false;
        });

    });
</script>

<script>

    function getGwValue(gwStr) {
        if (gwStr == '') {
            return '';
        }

        if (gwStr.indexOf("GW") != -1) {
            let gw = gwStr.substr(2, gwStr.length);
            parseInt(gw);
        }
        return parseInt(gwStr);
    }

    function setGwStr(value) {
        if (value == '') {
            return '';
        }
        return "GW" + value;
    }

    function hideGroupConfig() {
        let $ = layui.jquery;
        $("#groupGw").addClass("layui-hide");
        $("#groupTeamsPerGroup").addClass("layui-hide");
        $("#groupNum").addClass("layui-hide");
        $("#groupFillAverage").addClass("layui-hide");
        $("#groupQualifiers").addClass("layui-hide");
    }

    function hideKnockoutConfig() {
        let $ = layui.jquery;
        $("#knockoutStartGwSelect").addClass("layui-hide");
        $("#knockoutStartGw").addClass("layui-hide");
        $("#knockoutEndGw").addClass("layui-hide");
        $("#knockoutTeams").addClass("layui-hide");
        $("#knockoutRounds").addClass("layui-hide");
    }

    function clearGroupConfig() {
        let $ = layui.jquery;
        $("select[name=groupStartGw]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
        $("select[name=groupEndGw]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
        $("input[name=groupTeamsPerGroup]").val('');
        $("input[name=groupNum]").val('');
        $("input[name=groupFillAverage]").val('');
        $("input[name=groupQualifiers]").val('');
    }

    function clearKnockoutConfig() {
        let $ = layui.jquery;
        $("select[name=knockoutStartGwSelect]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
        $("input[name=knockoutStartGw]").val('');
        $("input[name=knockoutEndGw]").val('');
    }


</script>

</html>