<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<div th:replace="layout::topnav">
</div>

<div class="layui-fluid">
    <div class="layui-main" id="main">
        <div class="site-content">

            <h1 style="margin-bottom: 20px;font-size: 28px">创建自定义赛事</h1>

            <form action="" class="layui-form" lay-filter="tournamentForm" method="post">

                <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                    <legend><a name="compatibility">赛事信息</a></legend>
                </fieldset>

                <!-- 基本设定 -->
                <div id="baseConfig">

                    <div class="layui-form-item" id="url">
                        <label class="layui-form-label label-required">官方联赛</label>
                        <div class="layui-input-block" style="width: 50%">
                            <input autocomplete="on" class="layui-input" lay-reqtext="url不能为空" lay-verify="required"
                                   name="url" placeholder="https://fantasy.premierleague.com/leagues/***/standings/*"
                                   type="text">
                        </div>
                    </div>

                    <div class="layui-form-item" id="totalTeam">
                        <label class="layui-form-label">联赛队伍</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="totalTeam" readonly>
                        </div>
                        <div class="layui-hide" id="totalTeamTips">
                            <div class="layui-icon layui-icon-loading"></div>
                            <div class="layui-form-mid layui-word-aux" style="margin-left: 25px">稍候，统计中...
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item" id="name">
                        <label class="layui-form-label label-required">赛事名称</label>
                        <div class="layui-input-inline">
                            <input autocomplete="on" class="layui-input" lay-reqtext="赛事名称不能为空" lay-verify="required"
                                   name="tournamentName" type="text">
                        </div>
                        <i class="layui-hide layui-icon layui-icon-ok" id="nameTipsIcon" style="color:black"></i>
                    </div>

                    <div class="layui-form-item" id="creator">
                        <label class="layui-form-label label-required">创建人</label>
                        <div class="layui-input-inline">
                            <input autocomplete="on" class="layui-input" lay-reqtext="赛事创建人不能为空" lay-verify="required"
                                   name="creator" type="text">
                        </div>
                    </div>

                </div>

                <!-- 小组赛设定 -->
                <div class="layui-hide" id="groupConfig">

                    <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                        <legend><a name="compatibility">小组赛设定</a></legend>
                    </fieldset>

                    <div class="layui-form-item" id="groupMode">
                        <div class="layui-inline">
                            <label class="layui-form-label label-required">小组赛模式</label>
                            <div class="layui-input-block">
                                <select lay-filter="groupMode" lay-reqtext="请选择小组赛模式" lay-verify="required"
                                        name="groupMode">
                                    <option value=""></option>
                                    <option value="0">无小组赛</option>
                                    <option value="1">积分赛</option>
                                    <option value="2">对阵赛</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-hide layui-form-item" id="groupGw">
                        <div class="layui-inline" id="groupStartGw">
                            <label class="layui-form-label label-required">开始时间</label>
                            <div class="layui-input-block">
                                <select lay-filter="groupStartGw" lay-search="" name="groupStartGw">
                                    <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                                            th:value="${userStat.current.key}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline" id="groupEndGw">
                            <label class="layui-form-label label-required">结束时间</label>
                            <div class="layui-input-block">
                                <select lay-filter="groupEndGw" lay-search="" name="groupEndGw">
                                    <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                                            th:value="${userStat.current.key}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-hide layui-form-item" id="groupTeamsPerGroup">
                        <label class="layui-form-label label-required">每组队伍</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="groupTeamsPerGroup" type="number">
                        </div>
                        <div class="layui-form-mid layui-word-aux">每个小组分配的队伍数量</div>
                    </div>

                    <div class="layui-hide layui-form-item" id="groupNum">
                        <label class="layui-form-label">小组数量</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="groupNum" readonly>
                        </div>
                        <div class="layui-form-mid layui-word-aux">小组赛分组数量</div>
                    </div>

                    <div class="layui-hide layui-form-item" id="groupFillAverage">
                        <div class="layui-row">
                            <div class="layui-col-sm1" style="margin-right: 35px">
                                <label class="layui-form-label">加入平均分</label>
                            </div>
                            <div class="layui-col-sm2" style="margin-right: 48px">
                                <input lay-skin="switch" lay-text="是|否" name="groupFillAverage" type="checkbox" value=1>
                            </div>
                            <div class="layui-col-sm6">
                                <div class="layui-form-mid layui-word-aux">是否在小组内加入平均分average，使得每个小组的队伍数量一样</div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-hide layui-form-item" id="groupQualifiers">
                        <label class="layui-form-label label-required">出线数量</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="groupQualifiers" type="number">
                        </div>
                        <div class="layui-form-mid layui-word-aux">每个小组出线的队伍数量</div>
                    </div>

                </div>

                <!-- 淘汰赛设定 -->
                <div class="layui-hide" id="knockoutConfig">

                    <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                        <legend><a name="compatibility">淘汰赛设定</a></legend>
                    </fieldset>

                    <div class="layui-form-item" id="knockoutMode">
                        <div class="layui-inline">
                            <label class="layui-form-label label-required">淘汰赛模式</label>
                            <div class="layui-input-block">
                                <select lay-filter="knockoutMode" lay-reqtext="请选择淘汰赛模式" lay-verify="required"
                                        name="knockoutMode">
                                    <option value=""></option>
                                    <option value="0">无淘汰赛</option>
                                    <option value="1">单循环</option>
                                    <option value="2">主客场</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item" id="knockoutGw">
                        <div class="layui-inline layui-hide" id="knockoutStartGwSelect">
                            <label class="layui-form-label label-required">开始时间</label>
                            <div class="layui-input-block">
                                <select lay-filter="knockoutStartGwSelect" lay-reqtext="请选择淘汰赛开始时间" lay-search=""
                                        lay-verify="required" name="knockoutStartGwSelect">
                                    <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                                            th:value="${userStat.current.key}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline layui-hide" id="knockoutStartGw">
                            <label class="layui-form-label">开始时间</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="knockoutStartGw" readonly>
                            </div>
                        </div>
                        <div class="layui-inline layui-hide" id="knockoutEndGw">
                            <label class="layui-form-label">结束时间</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="knockoutEndGw" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="layui-hide layui-form-item" id="knockoutTeams">
                        <label class="layui-form-label">队伍数量</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="knockoutTeams" readonly>
                        </div>
                        <div class="layui-form-mid layui-word-aux">淘汰赛球队总数</div>
                    </div>

                    <div class="layui-hide layui-form-item" id="knockoutRounds">
                        <label class="layui-form-label">轮次</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="knockoutRounds" readonly>
                        </div>
                        <div class="layui-form-mid layui-word-aux">淘汰赛总轮次</div>
                    </div>

                    <!-- 提交 -->
                    <div class="layui-hide layui-form-item" id="createButton">
                        <div class="layui-input-block">
                            <button class="layui-btn" id="submitButton" lay-filter="createTournament" lay-submit=""
                                    type="submit">
                                创建赛事
                            </button>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>

<div th:replace="layout::footer">

</div>

</body>

<script>
    layui.use(['form', 'element', 'layer', 'util'], function () {
        let $ = layui.jquery, form = layui.form, layer = layui.layer, util = layui.util;

        /**
         * 底部固定块
         * 1.返回顶部
         * 2.‘？’，打开新窗口展示规则'/tournament/rule'
         *
         * @author tong 2020.08.13
         */
        util.fixbar({
            bar1: "&#xe607;", click: function (type) {
                if (type == 'bar1') {
                    layer.open({
                        type: 2,
                        title: '',
                        area: ['700px', '400px'],
                        shade: 0,
                        maxmin: true,
                        content: ['/tournament/rule', '#main'],
                        offset: 'r',
                        zIndex: layer.zIndex,
                        success: function (layero) {
                            layer.setTop(layero);
                        }
                    });
                }
            }
        });

        /**
         * 监听url输入框：失去焦点
         * 1.校验url，不合法时，清空联赛队伍数量
         * 2.计算联赛队伍数量
         *
         * @author tong 2020.08.13
         */
        $("input[name=url]").on('focusout', function () {
            let totalTeamTipsDiv = $("#totalTeamTips");
            let totalTeamDom = $("input[name=totalTeam]");
            // 校验url
            let url = $(this).val();
            if (url == '') {
                totalTeamDom.val('');
                totalTeamDom.trigger("focusout");
                totalTeamTipsDiv.addClass("layui-hide");
                return false;
            }
            if (!new RegExp("^https://fantasy.premierleague.com/leagues/.*/standings/[c|h]$").test(url)) {
                layer.tips('联赛url格式错误，请重试', this, {time: 1500});
                $(this).val('');
                totalTeamDom.val('');
                totalTeamDom.trigger("focusout");
                totalTeamTipsDiv.addClass("layui-hide");
                return false;
            }
            // 计算联赛队伍数量
            totalTeamTipsDiv.removeClass("layui-hide");
            axios.get('/tournament/countLeagueTeams', {
                params: {
                    url: url
                }
            })
                .then(function (response) {
                    totalTeamDom.val(response.data);
                    totalTeamDom.trigger("focusout");
                    totalTeamTipsDiv.addClass("layui-hide");
                })
                .catch(function () {
                    layer.tips("联赛url读取错误，请重试", this, {time: 1500});
                    $(this).val('');
                    totalTeamDom.val('');
                    totalTeamDom.trigger("focusout");
                    totalTeamTipsDiv.addClass("layui-hide");
                });
        });

        /**
         * 监听联赛队伍数量输入框（不可操作）：失去焦点
         * 1.没有联赛队伍数量时，隐藏小组赛配置，重置小组赛配置
         * 2.有联赛队伍数量时，展示小组赛配置
         *
         * @author tong 2020.08.13
         */
        $("input[name=totalTeam]").on('focusout', function () {
            let groupConfigDiv = $("#groupConfig");
            let totalTeam = $(this).val();
            if (totalTeam == '') {
                groupConfigDiv.addClass("layui-hide");
                clearGroupConfig();
                return false;
            }
            groupConfigDiv.removeClass("layui-hide");
        });

        /**
         * 监听赛事名称输入框：失去焦点
         * 1.校验赛事名称
         * 2.查询是否重复
         *
         * @author tong 2020.08.13
         */
        $("input[name=tournamentName]").on('focusout', function () {
            let nameTipsIconDiv = $("#nameTipsIcon");
            // 校验赛事名称
            let name = $(this).val();
            if (name == '') {
                nameTipsIconDiv.addClass("layui-hide");
                return false;
            }
            // 查询是否重复
            axios.get('/tournament/checkTournamentName', {
                params: {
                    name: name
                }
            })
                .then(function (response) {
                    if (response.data == true) {
                        nameTipsIconDiv.removeClass("layui-hide");
                    } else if (response.data == false) {
                        layer.tips("赛事名称已存在，请更换", this, {time: 1500});
                        nameTipsIconDiv.addClass("layui-hide");
                        $(this).val('');
                    }
                })
                .catch(function () {
                    layer.tips("赛事名称查询错误，请重试", this, {time: 1500});
                    $(this).val('');
                });
        });

        /**
         * 监听小组赛模式下拉框：下拉
         * 1.清除淘汰赛配置
         * 2.展示小组赛配置
         * 3.根据小组赛模式：
         * a.无小组赛时：A.隐藏小组赛配置；B.不能无淘汰赛；
         * b.有小组赛时：A.展示小组赛配置；
         * c.请选择时：A.隐藏淘汰赛配置；B.隐藏并重置小组赛配置
         *
         * @author tong 2020.08.13
         */
        form.on('select(groupMode)', function (data) {
            // div
            let knockoutConfigDiv = $("#knockoutConfig");
            // val
            let groupMode = data.value;
            let knockoutMode = $("select[name=knockoutMode]").val();

            // 重置淘汰赛配置
            clearKnockoutConfig();
            // 展示淘汰赛设置
            knockoutConfigDiv.removeClass("layui-hide");
            // 小组赛模式
            switch (groupMode) {
                case "0": { // 无小组赛
                    // 隐藏小组赛设置
                    hideGroupConfig();
                    // 不能无淘汰赛
                    if (knockoutMode == "0") {
                        // 隐藏创建按钮
                        $("#createButton").addClass("layui-hide");
                        layer.msg("没有小组赛又没有淘汰赛还弄个啥", {icon: 5, time: 1000});
                    }
                    break;
                }
                case "1": // 积分赛
                case "2": { // 对阵赛
                    // 展示小组赛设置
                    showGroupConfig();
                    break;
                }
                default: { // 请选择
                    // 隐藏淘汰赛配置
                    knockoutConfigDiv.addClass("layui-hide");
                    // 隐藏小组赛配置
                    hideGroupConfig();
                    // 重置小组赛配置
                    clearGroupConfig();
                }
            }
        });

        /**
         * 监听每组队伍数量输入框:失去焦点
         * 1.校验每组队伍数量
         * 2.需为正整数
         * 3.校验联赛队伍数量
         * 4.校验每组出线队伍数量
         * 5.计算小组数量
         *
         * @author tong 2020.08.13
         */
        $("input[name=groupTeamsPerGroup]").on('focusout', function () {
            let groupNumDom = $("input[name=groupNum]");
            // 校验每组队伍数量
            let groupTeamsPerGroup = $(this).val();
            if (groupTeamsPerGroup == '') {
                $(this).val('');
                groupNumDom.val('');
                return false;
            }
            // 需为正整数
            if (parseInt(groupTeamsPerGroup) <= 0) {
                layer.tips("需为正整数", this, {time: 1500});
                $(this).val('');
                groupNumDom.val('');
                return false;
            }
            // 校验联赛队伍数量
            let totalTeam = $("input[name=totalTeam]").val();
            if (parseInt(groupTeamsPerGroup) > parseInt(totalTeam)) {
                layer.tips("不能大于联赛队伍总数", this, {time: 1500});
                $(this).val('');
                groupNumDom.val('');
                return false;
            }
            // 校验每组出线队伍数量
            let groupQualifiers = $("input[name=groupQualifiers]").val();
            if (parseInt(groupQualifiers) > parseInt(groupTeamsPerGroup)) {
                layer.tips("不能大于每组队伍数量", this, {time: 1500});
                $(this).val('');
                return false;
            }
            // 计算小组数量
            let groupNum = Math.ceil(parseInt(totalTeam) / parseInt(groupTeamsPerGroup));
            groupNumDom.val(groupNum);
        });

        /**
         * 监听每组出线数量(失去焦点)
         * tips：有每组出线数量，一定得是有淘汰赛
         * 1.校验每组出线数量
         * 2.需为正整数
         * 3.校验每组队伍数量
         * 4.计算淘汰赛球队数量并触发事件
         *
         * @author tong 2020.08.13
         */
        $("input[name=groupQualifiers]").on('focusout', function () {
            let knockoutTeamsDom = $("input[name=knockoutTeams]");
            // 校验每组出线数量
            let groupQualifiers = $(this).val();
            if (groupQualifiers == '') {
                knockoutTeamsDom.val('');
                knockoutTeamsDom.trigger('focusout');
                return false;
            }
            // 需为正整数
            if (parseInt(groupQualifiers) <= 0) {
                layer.tips("小组出线数量需为正整数", this, {time: 1500});
                $(this).val('');
                knockoutTeamsDom.val('');
                knockoutTeamsDom.trigger('focusout');
                return false;
            }
            // 校验每组队伍数量
            let groupTeamsPerGroup = $("input[name=groupTeamsPerGroup]").val();
            if (groupTeamsPerGroup == '' || groupQualifiers > groupTeamsPerGroup) {
                layer.tips("每组出线数量不能大于每组队伍数量", this, {time: 1500});
                $(this).val('');
                knockoutTeamsDom.val('');
                knockoutTeamsDom.trigger('focusout');
                return false;
            }
            // 计算淘汰赛球队数量并触发事件
            let groupNum = $("input[name=groupNum]").val();
            let knockoutTeams = parseInt(groupQualifiers) * parseInt(groupNum);
            knockoutTeamsDom.val(knockoutTeams);
            knockoutTeamsDom.trigger('focusout');
        });

        /**
         * 监听小组赛开始时间下拉框：下拉
         * 1.校验开始时间
         *
         * @author tong 2020.08.13
         */
        form.on('select(groupStartGw)', function (data) {
            // 校验开始时间
            let groupStartGw = getGwValue(data.value);
            let groupEndGw = getGwValue($("select[name=groupEndGw]").val());
            if (groupStartGw != '' && groupStartGw >= groupEndGw) {
                layer.tips("开始时间必须早于结束时间！", this, {time: 1500});
                $("select[name=groupStartGw]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
            }
        });

        /**
         * 监听小组赛结束时间下拉框：下拉
         * 1.校验结束时间
         * 2.触发淘汰赛开始时间事件
         *
         * @author tong 2020.08.13
         */
        form.on('select(groupEndGw)', function (data) {
            // 校验结束时间
            let groupStartGw = getGwValue($("select[name=groupStartGw]").val());
            let groupEndGw = getGwValue(data.value);
            if (groupStartGw != '' && groupStartGw >= groupEndGw) {
                layer.tips("结束时间必须晚于开始时间！", this, {time: 1500});
                $("select[name=groupEndGw]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
                return false;
            }
            // 触发淘汰赛开始时间事件
            let knockoutMode = $("select[name=knockoutMode]").val();
            if (knockoutMode == "1") {
                $("select[name=knockoutStartGwSelect]").click();
            } else if (knockoutMode == "2") {
                $("input[name=knockoutStartGw]").trigger('focusout');
            }
        });

        /**
         * 监听淘汰赛模式下拉框：下拉
         * 1.无淘汰赛时：a.重置淘汰赛配置；b.隐藏淘汰赛配置；c.不能无小组赛；d.有小组赛时，展示创建按钮
         * 2.有淘汰赛时：a.展示创建按钮；b.展示淘汰赛队伍数量和淘汰赛轮次
         * c.根据小组赛模式：
         * A.无小组赛时：A1.展示淘汰赛开始时间和结束时间；A2.展示淘汰赛队伍数量；
         * B.有小组赛时：B1.展示淘汰赛开始时间和结束时间；B2.展示每组出线数量，触发每组出线数量事件；
         * 3.请选择时：A.隐藏并重置淘汰赛配置；B.隐藏提交按钮
         *
         * @author tong 2020.08.13
         */
        form.on('select(knockoutMode)', function (data) {
                // div
                let createButtonDiv = $("#createButton");
                // dom
                let knockoutTeamsDom = $("input[name=knockoutTeams]");
                // val
                let groupMode = $("select[name=groupMode]").val();
                let knockoutMode = data.value;

                switch (knockoutMode) {
                    case "0": { // 无淘汰赛
                        // 重置淘汰赛配置
                        clearKnockoutConfig();
                        // 隐藏淘汰赛配置
                        hideKnockoutConfig();
                        // 不能无小组赛
                        if (groupMode == "0") {
                            layer.msg("没有小组赛又没有淘汰赛还弄个啥", {icon: 5, time: 1000});
                            createButtonDiv.addClass("layui-hide");
                            return false;
                        }
                        // 有小组赛时，展示创建按钮
                        createButtonDiv.removeClass("layui-hide");
                        break;
                    }
                    case "1": // 单循环
                    case "2": { // 主客场
                        // 展示创建按钮
                        createButtonDiv.removeClass("layui-hide");
                        // 展示淘汰赛队伍数量和淘汰赛轮次
                        $("#knockoutTeams").removeClass("layui-hide");
                        $("#knockoutRounds").removeClass("layui-hide");
                        // 根据小组赛模式
                        switch (groupMode) { // 无小组赛
                            case "0": {
                                // 隐藏淘汰赛开始时间输入框
                                $("#knockoutStartGw").addClass("layui-hide");
                                // 展示淘汰赛开始时间下拉框和淘汰赛结束时间输入框
                                $("#knockoutStartGwSelect").removeClass("layui-hide");
                                $("#knockoutEndGw").removeClass("layui-hide");
                                // 计算淘汰赛队伍数量，即联赛队伍数量
                                let knockoutTeams = $("input[name=totalTeam]").val();
                                knockoutTeamsDom.val(knockoutTeams);
                                knockoutTeamsDom.trigger("focusout");
                                break;
                            }
                            case "1":
                            case "2": {
                                // 隐藏淘汰赛开始时间下拉框
                                $("#knockoutStartGwSelect").addClass("layui-hide");
                                // 展示淘汰赛开始时间输入框和淘汰赛结束时间输入框
                                $("#knockoutStartGw").removeClass("layui-hide");
                                $("#knockoutEndGw").removeClass("layui-hide");
                                // 展示每组出线数量事件
                                $("#groupQualifiers").removeClass("layui-hide");
                                // 触发每组出线数量事件
                                $("input[name=groupQualifiers]").trigger('focusout');
                            }
                        }
                        break;
                    }
                    default: { // 请选择
                        // 隐藏并重置淘汰赛配置
                        hideKnockoutConfig();
                        // 隐藏提交按钮
                        createButtonDiv.addClass("layui-hide");
                        clearKnockoutConfig();
                    }
                }
            }
        );

        /**
         * 监听淘汰赛开始时间下拉框：下拉
         * tips：只有无小组赛且有淘汰赛时出现
         * 1.校验淘汰赛开始时间
         * 2.触发淘汰赛轮次失去焦点事件
         *
         * @author tong 2020.08.13
         */
        form.on('select(knockoutStartGwSelect)', function (data) {
            // 校验淘汰赛开始时间
            let knockoutStartGwSelect = getGwValue(data.value);
            if (knockoutStartGwSelect == '') {
                // 清空淘汰赛结束时间
                $("input[name=knockoutEndGw]").val('');
                return false;
            }
            // 触发淘汰赛轮次失去焦点事件
            let groupMode = $("select[name=groupMode]").val();
            let knockoutMode = $("select[name=knockoutMode]").val();
            if (groupMode == "0" && (knockoutMode == "1" || knockoutMode == "2")) {
                $("input[name=knockoutRounds]").trigger('focusout');
            }
        });

        /**
         * 监听淘汰赛开始时间输入框：失去焦点
         * tips：只有既有小组赛又有淘汰赛时出现
         * 1.校验淘汰赛开始时间
         * 2.触发淘汰赛轮次失去焦点事件
         *
         * @author tong 2020.08.13
         */
        $("input[name=knockoutStartGw]").on('focusout', function () {
            // 校验淘汰赛开始时间
            let knockoutStartGw = getGwValue($(this).val());
            if (knockoutStartGw == '') {
                // 清空淘汰赛结束时间
                $("input[name=knockoutEndGw]").val('');
                return false;
            }
            // 触发淘汰赛轮次失去焦点事件
            let groupMode = $("select[name=groupMode]").val();
            let knockoutMode = $("select[name=knockoutMode]").val();
            if ((groupMode == "1" || groupMode == "2") && (knockoutMode == "1" || knockoutMode == "2")) {
                $("input[name=knockoutRounds]").trigger('focusout');
            }
        });

        /**
         * 监听淘汰赛队伍数量输入框（不可操作）：失去焦点
         * tips：淘汰赛队伍数量变化必定触发淘汰赛轮次变化
         * 1.没有淘汰赛队伍数量时，重置淘汰赛轮次
         * 2.有淘汰赛队伍数量时，计算淘汰赛轮次
         *
         * @author tong 2020.08.13
         */
        $("input[name=knockoutTeams]").on('focusout', function () {
            let knockoutRoundsDomDom = $("input[name=knockoutRounds]");
            let knockoutTeams = $(this).val();
            if (knockoutTeams == '') {
                // 重置淘汰赛轮次
                knockoutRoundsDomDom.val('');
                return false;
            }
            // 计算淘汰赛轮次
            let knockoutMode = $("select[name=knockoutMode]").val();
            let knockoutRounds = Math.ceil(Math.log(knockoutTeams) / Math.log(2)) * knockoutMode;
            knockoutRoundsDomDom.val(knockoutRounds);
            knockoutRoundsDomDom.trigger('focusout');
        });

        /**
         * 监听淘汰赛队伍轮次输入框（不可操作）：失去焦点
         * 1.计算淘汰赛结束时间
         *
         * @author tong 2020.08.13
         */
        $("input[name=knockoutRounds]").on('focusout', function () {
            let knockoutEndGwDom = $("input[name=knockoutEndGw]");
            // 计算淘汰赛结束时间
            let knockoutStartGw = getKnockoutStartGw();
            if (knockoutStartGw == '') {
                return false;
            }
            let knockoutRounds = $(this).val();
            let knockoutEndGw = knockoutStartGw + parseInt(knockoutRounds) - 1;
            if (knockoutEndGw > 38) {
                layer.tips("淘汰赛打不完啦，最晚开始时间为：" + setGwStr(38 - knockoutRounds + 1), this, {time: 1500});
                $(this).val('');
                knockoutEndGwDom.val('');
                return false;
            }
            knockoutEndGwDom.val(setGwStr(knockoutEndGw));
        });

        /**
         * 监听表单提交
         *
         * @author 2020.08.13
         */
        form.on('submit(createTournament)', function (data) {
            let formData = data.field;
            // 设置时间
            formData.groupStartGw = getGwValue(formData.groupStartGw);
            formData.groupEndGw = getGwValue(formData.groupEndGw);
            formData.knockoutStartGw = getKnockoutStartGw();
            formData.knockoutEndGw = getGwValue(formData.knockoutEndGw);
            // 设置小组加入平均分
            formData.groupFillAverage == '1' ? formData.groupFillAverage = true : formData.groupFillAverage = false;
            // 禁用提交按钮
            $(this).attr("disabled", "");
            // 提交到接口
            layer.confirm("确认创建？", {closeBtn: 0, title: ""}, function () {
                axios.post('/tournament/createNewTournament', formData)
                    .then(function (response) {
                        layer.msg(response.data, {icon: 6, time: 1500}, function () {
                            window.location.replace("/tournament/create");
                        });
                    })
                    .catch(function (error) {
                        layer.msg(error.data + "请重新尝试！", {icon: 2, time: 1500});
                        $(this).removeAttr("disabled");
                    });
            });
            return false;
        });

    });
</script>

<script>

    function getGwValue(gwStr) {
        if (gwStr == '') {
            return '';
        }

        if (gwStr.indexOf("GW") != -1) {
            let gw = gwStr.substr(2, gwStr.length);
            parseInt(gw);
        }
        return parseInt(gwStr);
    }

    function setGwStr(value) {
        if (value == '') {
            return '';
        }
        return "GW" + value;
    }

    function hideGroupConfig() {
        let $ = layui.jquery;
        $("#groupGw").addClass("layui-hide");
        $("#groupTeamsPerGroup").addClass("layui-hide");
        $("#groupNum").addClass("layui-hide");
        $("#groupFillAverage").addClass("layui-hide");
        $("#groupQualifiers").addClass("layui-hide");
    }

    function showGroupConfig() {
        let $ = layui.jquery;
        $("#groupGw").removeClass("layui-hide");
        $("#groupTeamsPerGroup").removeClass("layui-hide");
        $("#groupNum").removeClass("layui-hide");
        if ($("select[name=groupMode]").val() == "2") {
            $("#groupFillAverage").removeClass("layui-hide");
        }
    }

    function hideKnockoutConfig() {
        let $ = layui.jquery;
        $("#groupQualifiers").addClass("layui-hide");
        $("#knockoutStartGwSelect").addClass("layui-hide");
        $("#knockoutStartGw").addClass("layui-hide");
        $("#knockoutEndGw").addClass("layui-hide");
        $("#knockoutTeams").addClass("layui-hide");
        $("#knockoutRounds").addClass("layui-hide");
    }

    function clearGroupConfig() {
        let $ = layui.jquery;
        $("select[name=groupStartGw]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
        $("select[name=groupEndGw]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
        $("input[name=groupTeamsPerGroup]").val('');
        $("input[name=groupNum]").val('');
        $("input[name=groupFillAverage]").val('');
        $("input[name=groupQualifiers]").val('');
    }

    function clearKnockoutConfig() {
        let $ = layui.jquery;
        $("select[name=knockoutStartGwSelect]").siblings("div.layui-form-select").find("dl").find("dd[lay-value='']").click();
        $("input[name=knockoutStartGw]").val('');
        $("input[name=knockoutEndGw]").val('');
    }

    function getKnockoutStartGw() {
        let $ = layui.jquery;
        let knockoutStartGw = $("select[name=knockoutStartGwSelect]").val();
        if (knockoutStartGwSelect == '') {
            knockoutStartGw = $("input[name=knockoutStartGw]").val();
        }
        return getGwValue(knockoutStartGw);
    }

</script>

</html>