<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<div th:replace="layout::topnav">
</div>

<div class="layui-main">
    <div class="site-content">

        <h1 style="margin-bottom: 20px;font-size: 28px">创建自定义赛事</h1>

        <form action="" class="layui-form" lay-filter="tournamentForm" method="post">

            <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                <legend><a name="compatibility">赛事信息</a></legend>
            </fieldset>

            <!-- 基本设定 -->
            <div class="layui-form-item">
                <label class="layui-form-label">官方联赛url</label>
                <div class="layui-input-block">
                    <input autocomplete="on" class="layui-input" lay-reqtext="url不能为空" lay-verify="required|url"
                           name="url"
                           placeholder="https://fantasy.premierleague.com/leagues/***/standings/*" type="text">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">赛事名称</label>
                <div class="layui-input-inline">
                    <input autocomplete="on" class="layui-input" lay-reqtext="赛事名称不能为空" lay-verify="required"
                           name="tournamentName" type="text">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">创建人</label>
                <div class="layui-input-inline">
                    <input autocomplete="on" class="layui-input" lay-reqtext="赛事创建人不能为空" lay-verify="required"
                           name="creator" type="text">
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                <legend><a name="compatibility">小组赛设定</a></legend>
            </fieldset>

            <!-- 小组赛设定 -->
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">小组赛模式</label>
                    <div class="layui-input-block">
                        <select lay-filter="groupMode" lay-reqtext="请选择小组赛模式" lay-verify="required"
                                name="groupMode">
                            <option value=""></option>
                            <option value="0">无小组赛</option>
                            <option value="1">积分赛</option>
                            <option value="2">对阵赛</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" id="groupGw">
                <div class="layui-inline" id="groupStartGw">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-block">
                        <select lay-search="" name="groupStartGw">
                            <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                                    th:value="${userStat.current.key}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline" id="groupEndgw">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-block">
                        <select lay-search="" name="groupEndGw">
                            <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                                    th:value="${userStat.current.key}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" id="groupTeamsPerGroup">
                <label class="layui-form-label">每组队伍</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" name="teamsPerGroup" type="number">
                </div>
                <div class="layui-form-mid layui-word-aux">每个小组分配的队伍数量</div>
            </div>

            <div class="layui-form-item" id="groupQualifiers">
                <label class="layui-form-label">出线数量</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" name="groupQualifiers" type="number">
                </div>
                <div class="layui-form-mid layui-word-aux">每个小组出线的队伍数量</div>
            </div>

            <div class="layui-form-item" id="groupFillAverage">
                <div class="layui-row">
                    <div class="layui-col-sm1" style="margin-right: 35px">
                        <label class="layui-form-label">加入平均分</label>
                    </div>
                    <div class="layui-col-sm2" style="margin-right: 48px">
                        <input lay-skin="switch" lay-text="是|否" name="groupFillAverage" type="checkbox">
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-form-mid layui-word-aux">是否在小组内加入平均分average，使得每个小组的队伍数量一样</div>
                    </div>
                </div>
            </div>

            <!-- 淘汰赛设定 -->
            <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
                <legend><a name="compatibility">淘汰赛设定</a></legend>
            </fieldset>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">淘汰赛模式</label>
                    <div class="layui-input-block">
                        <select lay-filter="knockoutMode" lay-reqtext="请选择淘汰赛模式" lay-verify="required"
                                name="knockoutMode">
                            <option value=""></option>
                            <option value="0">无淘汰赛</option>
                            <option value="1">单循环</option>
                            <option value="2">主客场</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" id="knockoutGw">
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-block">
                        <select lay-search="" name="knockoutStartGw">
                            <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                                    th:value="${userStat.current.key}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-block">
                        <select lay-search="" name="knockoutEndGw">
                            <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                                    th:value="${userStat.current.key}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-filter="createTournament" lay-submit="" type="submit">创建赛事
                    </button>
                    <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                </div>
            </div>

        </form>

    </div>
</div>

<div th:replace="layout::footer">

</div>

</body>

<script>
    layui.use(['form', 'element', 'layer'], function () {
        var $ = layui.jquery;
        var form = layui.form;

        form.on('select(groupMode)', function (data) {
            var groupMode = data.value;
            switch (groupMode) {
                case "0": { // 无小组赛
                    $("#groupGw").hide();
                    $("#groupTeamsPerGroup").hide();
                    $("#groupQualifiers").hide();
                    $("#groupFillAverage").hide();
                    break;
                }
                case "1": { // 积分赛
                    $("#groupGw").show();
                    $("#groupTeamsPerGroup").show();
                    $("#groupQualifiers").show();
                    $("#groupFillAverage").hide();
                    break;
                }
                case "2": { // 对阵赛
                    $("#groupGw").show();
                    $("#groupTeamsPerGroup").show();
                    $("#groupQualifiers").show();
                    $("#groupFillAverage").show();
                    break;
                }
                default: {
                    $("#groupGw").show();
                    $("#groupTeamsPerGroup").show();
                    $("#groupQualifiers").show();
                    $("#groupFillAverage").show();
                }
            }
        });

        form.on('select(knockoutMode)', function (data) {
            if (data.value == 0 && data.value != '') { // 无淘汰赛
                $("#knockoutGw").hide();
                $("#groupQualifiers").hide();
            } else { // 有淘汰赛
                $("#knockoutGw").show();
                $("#groupQualifiers").show();
            }
        });

        form.verify({
            url: function (value) {
                if (!new RegExp("^https://fantasy.premierleague.com/.*").test(value)) {
                    return "输入的官方联赛链接形式错误，请重新检查！"
                }
            }
        });

        form.on('submit(createTournament)', function (data) {
            if (data.field.groupMode == 0 && data.field.knockoutMode == 0) {
                alert("!!!");
                return false;
            }
            axios.post('/tournament/createNewTournament', data.field)
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
            return false;
        });

    });

</script>

</html>