<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header(~{::title},~{::link})">
    <title>letletme</title>
    <link rel="stylesheet" th:href="@{/css/timeTo.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid" th:fragment="main">
    <div class="layui-main">
        <div class="site-content">

            <div class="layui-row">

                <div class="layui-col-md8 layui-col-md-offset4">

                    <div class="layui-col-md12 layui-col-md-offset4" id="letletme">
                        <img style="width: 150px;height: 150px" th:src="@{/img/begbeg.jpg}">
                    </div>

                    <div class="layui-col-md12" style="margin-top: 30px">
                        <div class="layui-form-item layui-col-md-offset3">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="knockoutRounds" placeholder="请输入球队id">
                            </div>
                            <button class="layui-btn" id="submitButton" lay-filter="startnament"
                                    lay-submit="createTournament" type="submit">开始
                            </button>
                        </div>
                    </div>

                    <div class="layui-col-md12 layui-col-md-offset1" style="font-size: 30px;margin-top: 30px"
                         th:text="'GW'+${nextGw}+' deadline：'+${deadline}"></div>

                    <div class="layui-col-md12 layui-col-md-offset2 timeTo timeTo-blue" id="countdown"
                         style="margin-top: 30px"></div>
                </div>

                <div class="layui-col-md12 layui-col-md-offset5" style="margin-top: 100px">
                    <div class="layui-anim layui-anim-scaleSpring layui-anim-loop"
                         style="font-size: 30px;color: red;">
                        让让我吧
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div th:replace="layout::footer">

</div>

</body>

<script th:replace="layout::baseScript"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.time-to.js}"></script>

<script th:inline="javascript">
    $('#countdown').timeTo({
        timeTo: new Date(Date.parse([[${deadline}]].replace(/-/g, "/"))),
        displayDays: 2,
        displayCaptions: true,
        fontSize: 48,
        captionSize: 20,
        lang: 'cn'
    });
</script>

<script>
    $("#submitButton").on('click', function () {
        $("#teamIdBtn").trigger("click");
    });
</script>

</html>