<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header(~{::title},~{::link})">
    <title>letletme</title>
    <link id="a" rel="stylesheet" th:href="@{/css/timeTo.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid" th:fragment="main">
    <div class="layui-main">
        <div class="site-content">

            <div class="layui-anim layui-anim-scaleSpring layui-anim-loop" style="font-size: 30px;color: red">让让我吧</div>

            <div class="index-content">


                <br>
                <br>
                <br>
                <br>
                <div style="font-size: 30px" th:text="'下一个比赛周：GW'+${nextGw}"></div>
                <br>
                <div style="font-size: 30px" th:text="'deadline：'+${deadline}"></div>
                <br>

                <div class="timeTo timeTo-blue" id="countdown"></div>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <form class="layui-form" lay-filter="startForm">

                    <div class="layui-form-item">
                        <label class="layui-form-label">team_id</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="knockoutRounds" placeholder="请输入球队id"
                                   type="number">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" id="submitButton" lay-filter="startnament"
                                    lay-submit="createTournament" type="submit">开始
                            </button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<div th:replace="layout::footer">

</div>

</body>

<script th:replace="layout::baseScript"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.time-to.js}"></script>

<script th:inline="javascript">
    $('#countdown').timeTo({
        timeTo: new Date(Date.parse([[${deadline}]].replace(/-/g, "/"))),
        displayDays: 2,
        displayCaptions: true,
        fontSize: 48,
        captionSize: 20,
        lang: 'cn'
    });
</script>

</html>