<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title th:text="${title}"></title>

    <meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/timeTo.css}"/>

    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.time-to.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
</head>

<body>
<!-- header -->
<div class="layui-header header header-doc" th:fragment="topnav">
    <div class="layui-main">
        <a class="logo" href="/">let let me</a>

        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="javascript:">自定义赛事</a>
                <dl class="layui-nav-child">
                    <dd><a href="/tournament/create">创建赛事</a></dd>
                    <dd><a href="">管理赛事</a></dd>
                    <dd><a href="">查看赛果</a></dd>
                    <dd><a href="/tournament/rule">规则</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:">我的fpl</a>
                <dl class="layui-nav-child">
                    <dd><a href="/my_fpl/pick">阵容选择</a></dd>
                    <dd><a href="">得分查看</a></dd>
                    <dd><a href="">历史分析</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:">实时结果</a>
                <dl class="layui-nav-child">
                    <dd><a href="">实时得分</a></dd>
                    <dd><a href="">小联赛实时排名</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:">数据查询</a>
                <dl class="layui-nav-child">
                    <dd><a href="">比赛数据</a></dd>
                    <dd><a href="">球员数据</a></dd>
                    <dd><a href="">fpl数据</a></dd>
                    <dd><a href="">身价变化</a></dd>
                </dl>
            </li>

            <li class="nav-icon">
                <a class="layui-icon layui-icon-username" style="font-size: 25px;color: white"></a>
            </li>

            <li class="nav-teamId">
                <span style="margin-left: 5px">team_id:</span>
                <button class="layui-btn layui-badge" id="teamIdBtn" style="top:19px;text-align: center"
                        th:text="${entry}" title="点击更换team_id" type="button"></button>
            </li>
        </ul>

    </div>
</div>

<!-- footer -->
<div class="layui-footer footer footer-doc" th:fragment="footer">
    <div class="layui-main">
        <p>&copy; 2020 <a href="/">letletme.top</a></p>
        <p>
            <a href="http://beian.miit.gov.cn" rel="nofollow" target="_blank">粤ICP备20026680号</a>
        </p>
    </div>
</div>
</body>

<script th:fragment="baseScript">
    layui.use(['element', 'layer'], function () {
        let $ = layui.jquery;
        $("#teamIdBtn").on('click', function () {
            layer.prompt({title: '更换team_id'}, function (value, index) {
                // 校验
                let current = $("#teamIdBtn").html();
                if (value == current) {
                    layer.msg('team_id没有改变', {time: 1500});
                    layer.close(index);
                    return false;
                } else if (!new RegExp("^[1-9]\\d*$").test(value)) {
                    layer.msg('team_id需为正整数', {time: 1500});
                    layer.close(index);
                    return false;
                }
                $("#teamIdBtn").text(value);
            });
        });
    });
</script>

</html>