<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{})">
    <title>小联赛排名-实时结果-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <h1 style="font-size: 28px">小联赛排名</h1>

            <div style="margin-top: 20px"></div>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script th:replace="layout::baseScript"></script>

</html>