<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header(~{::title},~{})">
    <title>阵容选择-我的FPL-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid" th:fragment="main">
    <div class="layui-main">
        <div class="site-content">

            <table class="layui-table"
                   lay-data="{height:315, url:'/my_fpl/qryPlayerDataList?current=1&size=20', page:true, id:'playerTable'}"
                   lay-filter="playerTable">
                <thead>
                <tr>
                    <th lay-data="{field: 'webName', width: 80, sort: true}">名字</th>
                    <th lay-data="{field: 'elementTypeName', width: 80, sort: true}">位置</th>
                    <th lay-data="{field: 'teamName', width: 80, sort: true}">球队</th>
                    <th lay-data="{field: 'value', width: 80, sort: true}">身价</th>
                </tr>
                </thead>
            </table>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

<script th:replace="layout::baseScript"></script>

<script>
    layui.use('table', function () {

    });
</script>

</body>

</html>