<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header(~{::title},~{})">
    <title>阵容选择-我的FPL-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid" th:fragment="main">
    <div class="layui-main">
        <div class="site-content">

            <table class="layui-table" id="playerTable" lay-filter="playerTable"></table>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

<script th:replace="layout::baseScript"></script>

<script th:inline="none">
    layui.use(['form', 'table', 'soulTable'], function () {
        let table = layui.table, soulTable = layui.soulTable;
        table.render({
            elem: '#playerTable',
            height: 500,
            toolbar: '#toolbar',
            page: true,
            url: '/my_fpl/qryPlayerDataList',
            request: {
                pageName: 'current',
                limitName: 'size'
            },
            limit: 20,
            cols: [[
                {field: 'element', type: 'numbers', title: 'ID', width: 50, align: 'center', hide: true},
                {field: 'webName', title: '名字', width: 150, align: 'center', sort: true},
                {field: 'elementTypeName', title: '位置', width: 70, align: 'center', filter: true},
                {field: 'teamName', title: '球队', width: 80, align: 'center'},
                {field: 'value', title: '身价', width: 80, align: 'center', sort: true}
            ]], done: function () {
                soulTable.render(this)
            }
        });
    });
</script>

</body>

</html>