<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header(~{::title},~{})">
    <title>球员比较-数据查询-letletme</title>
    <!--    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}"/>-->
</head>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script th:src="@{/js/chartjs-plugin-annotation-nn.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://www.jqueryscript.net/demo/Transpose-Table-jQuery-Plugin/scripts/jquery.table.transpose.min.js"></script>

<body ng-controller="testCtrl">

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main" style="min-height: 900px">

        <div style="margin-top: 20px"></div>

        <h1 style="font-size: 28px">球员比较</h1>

        <div style="margin-top: 30px"></div>

        <div class="layui-tab" lay-allowClose="true" lay-filter="widowTab">
            <ul class="layui-tab-title">
                <li class="layui-this">球员列表</li>
                <li lay-id="window">window</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend> 选择两个球员进行比较</legend>
                    </fieldset>

                    <div class="layui-col-md6">
                        <table class="layui-table" id="playerTable" lay-filter="playerTable"></table>
                        <div id="page"></div>
                    </div>

                    <div class="layui-col-md6" style="margin-top: 50px">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">赛季</label>
                                <div class="layui-input-block">
                                    <input checked lay-filter="seasonRadio" name="1920" title="19/20" type="radio"
                                           value="1920">
                                    <input lay-filter="seasonRadio" name="2021" title="20/21" type="radio" value="2021">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">球员1</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="player1" type="text">
                                </div>
                                <button class="layui-btn layui-btn-sm" id="reset1"
                                        style="margin-top: 4px;margin-left: 8px"
                                        type="reset">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                </button>
                            </div>
                            <div style="margin-top: 30px"></div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">球员2</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="player2" type="text">
                                </div>
                                <button class="layui-btn layui-btn-sm" id="reset2"
                                        style="margin-top: 4px;margin-left: 8px"
                                        type="reset">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                </button>
                            </div>
                            <div style="margin-top: 30px"></div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" id="confirmButton" lay-filter="confirmButton"
                                            lay-submit="confirmButton" type="button">确定
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="layui-tab-item">

                    <div class="layui-row">

                        <div class="layui-col-md3">
                            Season:
                            <select id="season_select" onchange="selectSeason(this)">
                                <option selected value="1920">2019/2020</option>
                                <option value="2021">2020/2021</option>
                            </select><br>
                            Player 1:
                            <select id="playerList_select1" onchange="selectPlayer(this)">
                                <option value="-1">- Select -</option>
                            </select><br>
                            Player 2:
                            <select id="playerList_select2" onchange="selectPlayer(this)">
                                <option value="-1">- Select -</option>
                            </select><br><br>
                        </div>

                        <div class="layui-col-md3">
                            <table class="display" id="example" width="100%"></table>
                        </div>

                        <div class="layui-col-md-offset1 layui-col-md5" style="margin-top: -20px">
                            <canvas height="400" id="myRadarChart" width="400"></canvas>
                        </div>

                    </div>

                    <div style="margin-top: 30px"></div>

                    <div>
                        <canvas height="40" id="myChart" width="150"></canvas>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script>
    let player_id;
    let playerNameList = [];
    let entry_id;
    let entry_list = [];
    let point_dict;
    let event_picks;
    let datasetOrder;
    let selectedSeason;
    let playerTable;
    let tableDataSet = [
        [" - ", " - ", " - ", " - ",],
        [" - ", " - ", " - ", " - ",],
    ];

    // Line Chart
    let gameweek_labels = [];
    for (i = 0; i < 38; i++)
        gameweek_labels[i] = "GW" + (i + 1);
    let ctx = document.getElementById('myChart');
    let myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: gameweek_labels,
            datasets: [{}]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: '赛季得分'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            annotation: {
                annotations: []
            },
            plugins: {
                datalabels: {
                    backgroundColor: function (context) {
                        return context.dataset.borderColor;
                    },
                    color: 'white',
                    padding: 2,
                    borderRadius: 3,
                    font: {
                        weight: 'normal'
                    },
                    // formatter: function(value, context) {
                    //     return context.chart.data.labels[context.dataIndex];
                    // }
                }
            }
        }
    });

    // Radar Chart
    let radctx = document.getElementById('myRadarChart');
    let myRadarChart = new Chart(radctx, {
        type: 'radar',
        data: {
            // labels: ['Influence', 'Creativity', 'Threat', 'Bonus', 'ICT Index'],
            labels: ['Minutes', 'Influence', 'Creativity', 'Threat', 'Bps', 'ICT Index'],
            datasets: [],
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: true
            },
            title: {
                display: true,
                text: 'ICT and bps and Minutes'
            },
            scale: {
                angleLines: {
                    display: false
                },
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 1000,
                    maxTicksLimit: 8,
                }
            },
            plugins: {
                datalabels: {
                    display: false,
                    backgroundColor: function (context) {
                        return context.dataset.borderColor;
                    },
                    color: 'white',
                    padding: 2,
                    // borderRadius: 3,
                    font: {
                        size: 10,
                        weight: 'normal'
                    },
                    // formatter: function(value, context) {
                    //     return context.chart.data.labels[context.dataIndex];
                    // }
                }
            }
        },
    });

</script>

<script>
    function average(nums) {
        let total = 0;
        for (let i = 0; i < nums.length; i++)
            total += nums[i];
        return total / nums.length;
    }

    function addWindow(chart, startGW, endGW, difference) {
        pickingWindow = {
            type: 'box',
            xScaleID: 'x-axis-0',
            yscaleID: 'y-axis-0',
            xMin: startGW - 1.5,
            xMax: endGW - 0.5,
            yMax: 20,
            yMin: 0,
            borderColor: window.chartColors.grey,
            backgroundColor: window.chartAlphaColors[entryColour[entry_list.length - 1]],
            borderWidth: 2,
            // borderDash: [5, 5],
            label: {
                enabled: true,
                content: 'Diff:\r\n' + difference,
                fontSize: 11,
                fontColor: window.chartColors.black,
            }
        }
        chart.options.annotation.annotations.push(pickingWindow);
        chart.update();
    }

    function addAverage(chart, value, datasetOrder) {
        line = {
            type: 'line',
            mode: 'horizontal',
            scaleID: 'y-axis-0',
            value: value,
            // borderColor: 'rgb(75, 192, 192)',
            borderColor: window.chartColors[dataSetColour[datasetOrder]],
            borderWidth: 2,
            borderDash: [5, 5],
            label: {
                enabled: true,
                content: 'Average: ' + value,
                xPadding: 3,
                yPadding: 2,
                fontSize: 11,
                backgroundColor: window.chartAlphaColors.black,
                fontColor: window.chartColors.white,
            }
        }
        chart.options.annotation.annotations[datasetOrder] = line;
        chart.update();
    }

    function addPlayerDataForLine(chart, labels, newdata, avg, datasetOrder, playerName) {
        console.log(playerName);
        // currentDataID = chart.data.datasets.length;
        playerDataset = {
            label: playerName,
            borderColor: window.chartColors[dataSetColour[datasetOrder]],
            borderWidth: 2,
            fill: false,
            data: newdata
        };
        // chart.data.datasets[0].data = newdata;
        chart.data.datasets[datasetOrder] = playerDataset;
        addAverage(myChart, avg, datasetOrder);
        chart.update();
    }

    function addPlayerDataForRadar(chart, newdata, datasetOrder, playerName) {
        // currentDataID = chart.data.datasets.length;
        playerDataset = {
            label: playerName,
            borderColor: window.chartColors[dataSetColour[datasetOrder]],
            borderWidth: 2,
            // fill: false,
            data: newdata
        };
        chart.data.datasets[datasetOrder] = playerDataset;
        chart.update();
    }

    function getPlayerPoints(event_live) {
        let point_dict = {'events': [], 'presentPoints': [], 'MathPoints': []};
        console.log(event_live);
        for (e in event_live) {
            point_dict.events.push(event_live[e].event);
            point_dict.presentPoints.push(event_live[e].totalPoints);
        }
        if (point_dict.events.length > 38) {
            point_dict.presentPoints.splice(29, 9);
            point_dict.MathPoints = point_dict.presentPoints;
        } else if (point_dict.events[point_dict.events.length - 1] > 38) {
            point_dict.presentPoints.splice(29 - point_dict.events[0] + 1, 9);
            point_dict.MathPoints = point_dict.presentPoints;
            pad_list = [];
            for (i = 0; i <= point_dict.events.length; i++)
                pad_list[i] = NaN;
            point_dict.presentPoints = pad_list.concat(point_dict.MathPoints);
        }

        return point_dict;
    }

    function getEntryPicks(event_results) {
        console.log(event_results);
        event_picks = [];
        entry_list.push(event_results.entry);
        for (e in event_results.eventResultDatas)
            event_picks.push(event_results.eventResultDatas[e].eventPicks);
        // event_picks.splice(29, 9);
        if (event_picks.length > 38)
            event_picks.splice(29 - event_results.eventResultDatas[0].event + 1, 9);
        console.log(event_picks);
        return event_picks;
    }

    function removePlayerData(chart) {
        if (chart.data.datasets)
            chart.data.datasets = [{}];
        if ('annotation' in chart.options)
            chart.options.annotation.annotations = [];
        playerNameList = [];
        chart.update();
    }

    function updateChartTitle() {
        myChart.options.title.text = '20' + selectedSeason.slice(0, 2) + '/20' + selectedSeason.slice(2, 4) + ' 赛季得分';
        myRadarChart.options.title.text = '20' + selectedSeason.slice(0, 2) + '/20' + selectedSeason.slice(2, 4) + ' ICT and bps and Minutes';
        myChart.update();
        myRadarChart.update();
    }

    function getAllPlayerList(selectDropdown, response) {
        // allPlayerList = response.data;
        allPlayerList = response;
        let len = allPlayerList.length;
        console.log(len);
        selectDropdown.empty();
        selectDropdown.append("<option value=-1>- Select -</option>");
        for (let i = 0; i < len; i++) {
            let playerCode = allPlayerList[i]['code'];
            let player_id = allPlayerList[i]['element'];
            let playerName = allPlayerList[i]['webName'];
            selectDropdown.append("<option value='" + playerCode + "-" + player_id + "'>" + playerName + "</option>");
        }
        let selected = selectDropdown.val(); // cache selected value, before reordering
        let opts_list = selectDropdown.find('option');
        opts_list.sort(function (a, b) {
            return $(a).text() > $(b).text() ? 1 : -1;
        });
        selectDropdown.html('').append(opts_list);
        selectDropdown.val(selected);
    }

    function selectSeason(obj) {
        selectedSeason = obj.options[obj.selectedIndex].value
        $.getJSON("http://letletme.top/api/qryAllPlayers", {season: selectedSeason}, function (response) {
        }).done(function (response) {
            getAllPlayerList($('#playerList_select1'), response);
            getAllPlayerList($('#playerList_select2'), response);
        });
        updateChartTitle();
    }

    function selectPlayer(obj) {
        datasetOrder = obj.id[obj.id.length - 1] - 1;
        playerName = obj.options[obj.selectedIndex].label;
        playerCode = obj.options[obj.selectedIndex].value.split('-')[0];
        player_id = obj.options[obj.selectedIndex].value.split('-')[1];
        console.log(playerCode);

        let settings = {
            "url": "http://letletme.top/api/qryPlayerData",
            "method": "POST",
            "dataType": 'json',
            "contentType": "application/json",
            "data": JSON.stringify({"code": playerCode}),
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
            if (response.historySeasonList == null) {
                alert('无数据，请重新选择');
                removePlayerData(myChart);
                removePlayerData(myRadarChart);
            } else {
                for (s in response.historySeasonList) {
                    if (response.historySeasonList[s].season == selectedSeason)
                        player_dict = response.historySeasonList[s];
                }
                radarData = [player_dict.minutes, player_dict.influence, player_dict.creativity, player_dict.threat, player_dict.bps, player_dict.ictIndex];
                addPlayerDataForRadar(myRadarChart, radarData, datasetOrder, playerName);

                playerInfo = response.infoData;
                tableDataSet[datasetOrder] = [playerInfo.webName, playerInfo.elementTypeName, playerInfo.teamName, "£" + playerInfo.price + "m"];
                playerTable.clear();
                playerTable.rows.add(tableDataSet);
                playerTable.draw();
                $("#example").transpose("transpose");
            }
        });

        console.log(selectedSeason);
        $.getJSON("http://letletme.top/api/qryEventLiveAll", {
            season: selectedSeason,
            element: player_id
        }, function (response) {
            // $.getJSON("342.json", function(response){
            // event_live = response.data;
            event_live = response;
            point_dict = getPlayerPoints(event_live);
            addPlayerDataForLine(myChart, [], point_dict.presentPoints, average(point_dict.MathPoints).toPrecision(4), datasetOrder, playerName);
        });
    }

    function transposeTable() {
        if (!$("#example").is(":blk-transpose"))
            $("#example").transpose({mode: 0});
        if (!$("#example").is(":blk-transpose"))
            $("#example").transpose({mode: 1});

        let currentMode = $("#example").data("tp_mode");
        if (currentMode == undefined)
            $("#example").transpose("transpose");
        else
            $("#example").transpose("reset");
    }

    function initialiseTable() {
        let playerTable = $('#example').DataTable({
            data: tableDataSet,
            "bFilter": false,
            "paging": false,
            "ordering": false,
            "info": false,
            columns: [
                {title: "Player Name"},
                {title: "Position"},
                {title: "Team"},
                {title: "Price"}
            ]
        });
        transposeTable();

        return playerTable;
    }

    $(document).ready(function () {
        playerTable = initialiseTable();

        // let settings = {
        //     "url": "http://letletme.top/api/qryPlayerData",
        //     "method": "POST",
        //     "dataType": 'json',
        //     "contentType": "application/json",
        //     "data": JSON.stringify({"code": 75115}),
        // };

        // $.ajax(settings).done(function (response) {
        //     console.log(response);
        // });

        // fill the dropdown
        selectedSeason = $('#season_select option:selected').val()
        $.getJSON("http://letletme.top/api/qryAllPlayers", {"season": selectedSeason}, function (response) {
        }).done(function (response) {
            // console.log(response);
            getAllPlayerList($('#playerList_select1'), response);
            getAllPlayerList($('#playerList_select2'), response);
            updateChartTitle();
        });

        $("#entry_bnt1").click(function () {
            $.getJSON("http://letletme.top/api/qryEntryEventResult?event=47&entry=1404", function (response) {
                // $.getJSON("1404.json", function (response) {
                // $.getJSON("http://letletme.top/api/qryEntryResult", {season: 1920, entry: $("#entry_txt1").val()}, function(response) {
                event_results = response.data;
                event_picks = getEntryPicks(event_results);
                pickingWindows = getWindow(event_picks, point_dict.presentPoints, parseInt(player_id));
                for (i in pickingWindows) {
                    addWindow(myChart, pickingWindows[i].start, pickingWindows[i].end, pickingWindows[i].difference);
                }
            });
        });

        $("#entry_bnt2").click(function () {
            $.getJSON("http://letletme.top/api/qryEntryEventResult?event=47&entry=1404", function (response) {
                // $.getJSON("1829.json", function (response) {
                // $.getJSON("http://letletme.top/api/qryEntryResult", {season: 1920, entry: $("#entry_txt1").val()}, function(response) {
                event_results = response.data;
                event_picks = getEntryPicks(event_results);
                pickingWindows = getWindow(event_picks, point_dict.presentPoints, parseInt(player_id));
                for (i in pickingWindows) {
                    addWindow(myChart, pickingWindows[i].start, pickingWindows[i].end, pickingWindows[i].difference);
                }
            });
        });

        $("#reset_bnt").click(function () {
            removePlayerData(myChart);
            removePlayerData(myRadarChart);
        });

        $("#player_bnt1").click(function () {
            player_id = $("#player_txt1").val();
            $.getJSON("http://letletme.top/api/qryPlayerInfo", {
                season: 1920,
                element: $("#player_txt1").val()
            }, function (response) {
                // $.getJSON("players.json", function (response){
                // player_id = $("#player_txt1").val();
                // player_dict = response[player_id];
                player_dict = response.data;
                radarData = [player_dict.minutes, player_dict.influence, player_dict.creativity, player_dict.threat, player_dict.bps, player_dict.ictIndex];
                // radarData = [player_dict.influence/player_dict.minutes, player_dict.creativity/player_dict.minutes, player_dict.threat/player_dict.minutes, player_dict.bps/player_dict.minutes, player_dict.ictIndex/player_dict.minutes];
                playerName = player_dict.webName;
                addPlayerDataForRadar(myRadarChart, radarData, playerName);
                $.getJSON("http://letletme.top/api/qryEventLiveAll", {
                    season: 1920,
                    element: $("#player_txt1").val()
                }, function (response) {
                    // $.getJSON("239.json", function(response){
                    event_live = response.data;
                    point_dict = getPlayerPoints(event_live);
                    addPlayerDataForLine(myChart, [], point_dict.presentPoints, average(point_dict.MathPoints).toPrecision(4), playerName);
                });
            });
        });

        $("#player_bnt2").click(function () {
            player_id = $("#player_txt2").val();
            $.getJSON("http://letletme.top/api/qryPlayerInfo", {
                season: 1920,
                element: $("#player_txt2").val()
            }, function (response) {
                // $.getJSON("players.json", function (response){
                // player_id = $("#player_txt2").val();
                // player_dict = response[player_id];
                player_dict = response.data;
                radarData = [player_dict.minutes, player_dict.influence, player_dict.creativity, player_dict.threat, player_dict.bps, player_dict.ictIndex];
                // radarData = [player_dict.influence/player_dict.minutes, player_dict.creativity/player_dict.minutes, player_dict.threat/player_dict.minutes, player_dict.bps/player_dict.minutes, player_dict.ictIndex/player_dict.minutes];
                playerName = player_dict.webName;
                // playerNameList.push(playerName);
                addPlayerDataForRadar(myRadarChart, radarData, playerName);
                $.getJSON("http://letletme.top/api/qryEventLiveAll", {
                    season: 1920,
                    element: $("#player_txt2").val()
                }, function (response) {
                    // $.getJSON("342.json", function(response){
                    event_live = response.data;
                    point_dict = getPlayerPoints(event_live);
                    addPlayerDataForLine(myChart, [], point_dict.presentPoints, average(point_dict.MathPoints).toPrecision(4), playerName);
                });
            });

        });
    });
</script>

<script>
    function isGoodWindow(point_list, start_gw = 1, end_gw = 2) {
        expected_avg = average(point_list);
        // # print(expected_avg)
        window_point = point_list.slice(start_gw - 1, end_gw);
        console.log(window_point);
        difference = (average(window_point) - expected_avg).toPrecision(3);
        if (difference >= 0)
            console.log("GW" + start_gw + " - GW" + end_gw + ", Good window, difference: " + difference);
        else
            console.log("GW" + start_gw + " - GW" + end_gw + ", bad window, difference: " + difference);

        return difference;
    }

    function getWindow(event_picks, point_list, player_id) {
        start_gw = 1;
        is_own = false;
        end_gw = 1;
        // console.log(event_picks);
        pick_result = [];
        for (i in event_picks) {
            event_pick = event_picks[i];
            // console.log(event_pick);
            assets_list = [];
            for (a in event_pick)
                assets_list.push(event_pick[a].element);

            // console.log(' =');
            // # print('i {}'.format(i))
            // console.log(assets_list);
            i++;
            if (assets_list.includes(player_id) && is_own == false) {
                start_gw = i;
                is_own = true;
                // console.log('start: '+start_gw);
            }
            if ((!assets_list.includes(player_id) && is_own) || (is_own && i == 38)) {
                if (i != 38)
                    end_gw = i - 1;
                else {
                    end_gw = 38;
                    // console.log('end: '+end_gw);
                }
                if (end_gw >= start_gw) {
                    difference = isGoodWindow(point_list, start_gw, end_gw);
                    pick_result.push({
                        'start': start_gw,
                        'end': end_gw,
                        'difference': difference
                    });
                    // # print(isGoodWindow(point_list=point_list, start_gw=start_gw, end_gw=end_gw))
                    is_own = false;
                }
            }
        }
        return pick_result;
    }
</script>

<script>
    window.chartColors = {
        white: 'rgb(255, 255, 255)',
        black: 'rgb(0, 0, 0)',
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
    window.chartAlphaColors = {
        white: 'rgba(255, 255, 255, 0.4)',
        black: 'rgba(0, 0, 0, 0.7)',
        red: 'rgba(255, 99, 132, 0.4)',
        orange: 'rgba(255, 159, 64, 0.4)',
        yellow: 'rgba(255, 205, 86, 0.4)',
        green: 'rgba(75, 192, 192, 0.4)',
        blue: 'rgba(54, 162, 235, 0.4)',
        purple: 'rgba(153, 102, 255, 0.4)',
        grey: 'rgba(201, 203, 207, 0.4)'
    };
    dataSetColour = ['red', 'blue', 'green'];
    entryColour = ['yellow', 'purple'];
</script>

<script th:replace="layout::baseScript"></script>

<script th:inline="none">
    layui.use(['element', 'form', 'table', 'layer', 'soulTable'], function () {

        let $ = layui.jquery, element = layui.element, form = layui.form, table = layui.table,
            soulTable = layui.soulTable;

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        $(document).ready(function () {
            initPlayerData("1920");
        });

        function initPlayerData(season) {
            axios.get('/stat/qryPlayerList', {
                params: {
                    season: season
                }
            })
                .then(function (response) {
                    let pageData = response.data;
                    table.render({
                        elem: '#playerTable',
                        data: pageData,
                        limit: 15,
                        limits: [15, 30, 50, 100],
                        loading: true,
                        page: true,
                        width: 550,
                        cols: [[
                            {field: 'webName', title: '名字', align: 'center'},
                            {
                                field: 'elementTypeName',
                                title: '位置',
                                align: 'center',
                                width: 120,
                                filter: true,
                                sort: true
                            },
                            {field: 'teamName', title: '球队', align: 'center', width: 120, filter: true, sort: true},
                            {field: 'price', title: '身价', align: 'center', width: 120, filter: true, sort: true}
                        ]],
                        id: 'playerTable',
                        filter: {
                            items: ['data', 'condition'],
                            bottom: false
                        },
                        done: function () {
                            soulTable.render(this);
                        }
                    });
                })
                .catch(function (error) {
                    console.info(error.message);
                });
        };

        form

        $('#reset1').on('click', function () {
            $("input[name=player1]").val('');
        });

        $('#reset2').on('click', function () {
            $("input[name=player2]").val('');
        });

        $('#confirmButton').on('click', function () {
            // 切换选项卡
            element.tabChange('widowTab', 'window');
        });

        table.on('row(playerTable)', function (obj) {
            let webName = obj.data.webName;
            // 填充球员信息
            let select1Dom = $("input[name=player1]");
            let select2Dom = $("input[name=player2]");
            if (select1Dom.val() != '' && select2Dom.val() != '') {
                select1Dom.val('');
                select2Dom.val('');
            }
            if (select1Dom.val() == '') {
                select1Dom.val(webName);
                $("#playerList_select1").find("option").each(function () {
                    if ($(this).text() == webName) {
                        $(this).attr("selected", true);
                        $(this).trigger("change");
                    }
                });
            } else {
                if (select1Dom.val() == webName) {
                    return false;
                }
                select2Dom.val(webName);
                $("#playerList_select2").find("option").each(function () {
                    if ($(this).text() == webName) {
                        $(this).attr("selected", true);
                        $(this).trigger("change");
                    }
                });
            }
        });

    });
</script>

</html>