<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{})">
    <title>实时得分-实时结果-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <h1 style="font-size: 28px" th:text="'实时得分-'+${time}"></h1>

            <div style="margin-top: 20px"></div>

            <form class="layui-form">

                <div class="layui-form-item">
                    <label class="layui-form-label">自动刷新</label>
                    <div class="layui-input-inline">
                        <input lay-filter="refreshSwitch" lay-skin="switch" lay-text="开|关"
                               checked name="refreshSwitch" title="aaaa" type="checkbox">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="margin-left: -120px">开启后每分钟自动刷新得分</div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input autocomplete="on" class="layui-input" name="entryInput" placeholder="请输入要查看的team_id"
                               type="text">
                    </div>
                    <div class="layui-input-inline">
                        <button class="layui-btn" id="entryButton" lay-submit="entryButton" type="button">开始
                        </button>
                    </div>
                </div>

            </form>

            <table class="layui-table" id="liveEntryTable" lay-filter="liveEntryTable"></table>

            <table class="layui-table" id="liveElementTable" lay-filter="liveElementTable"></table>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script th:replace="layout::baseScript"></script>

<script th:replace="layout::entryInputLayer"></script>

<script th:inline="none">
    layui.use(['form', 'layer', 'table', 'soulTable'], function () {

        let $ = layui.jquery, form = layui.form, layer = layui.layer, table = layui.table, soulTable = layui.soulTable;

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        $(document).ready(function () {
            initData();
        });

        $("#entryButton").on('click', function () {
            initData();
        });

        form.on('switch(refreshSwitch)', function () {
            if (this.checked) {
                setTimeout(refresh, 60000);
            }
        });

        function initData() {
            let loadIndex = layer.load(2);

            let entry = 0;
            if (($("input[name=entryInput]").val() != "")) {
                entry = parseInt($("input[name=entryInput]").val());
            }
            console.info(entry);
            axios.get('/live/qryEntryLivePoints', {
                params: {
                    entry: entry
                }
            }).then(function (response) {
                layer.close(loadIndex);
                table.render({
                    elem: '#liveEntryTable',
                    method: 'get',
                    data: response.data,
                    loading: true,
                    cellMinWidth: 100,
                    cols: [[
                        {field: 'entryName', title: '队伍名字', align: 'center', width: 200},
                        {field: 'playerName', title: '玩家名字', align: 'center', width: 150},
                        {
                            field: 'chip', title: '开卡', align: 'center', templet: function (d) {
                                if (d.chip == null) {
                                    return "无";
                                } else {
                                    return d.chip;
                                }
                            }
                        },
                        {field: 'livePoints', title: '实时得分', align: 'center'},
                        {field: 'transferCost', title: '转会扣分', align: 'center'},
                        {field: 'liveNetPoints', title: '实时净得分', align: 'center'},
                        {
                            field: 'eventFinished', title: 'GW已结束', align: 'center', width: 120, templet: function (d) {
                                if (d.eventFinished == true) {
                                    return "是";
                                } else {
                                    return "否";
                                }
                            }
                        }
                    ]],
                    id: 'liveEntryTable',
                    done: function () {
                        soulTable.render(this);
                    }
                });

                table.render({
                    elem: '#liveElementTable',
                    data: response.data[0].pickList,
                    loading: true,
                    limit: 15,
                    cellMinWidth: 40,
                    cols: [[
                        {
                            fixed: 'left',
                            field: 'playStatus',
                            title: '状态',
                            icon: ['layui-icon layui-icon-triangle-r', 'layui-icon layui-icon-triangle-d'],
                            align: 'center',
                            sort: true,
                            templet: function (d) {
                                if (d.playStatus == 0) {
                                    return '<span style="color: red">比赛中</span>';
                                } else if (d.playStatus == 1) {
                                    return '<span style="color: black">未开始</span>';
                                } else if (d.playStatus == 2) {
                                    return '<span style="color: blue">已结束</span>';
                                }
                            },
                            children: [
                                {
                                    title: '详情',
                                    data: function (d) {
                                        return [d];
                                    },
                                    cols: [[
                                        {field: 'goalsScored', title: '进球', align: 'center'},
                                        {field: 'assists', title: '助攻', align: 'center'},
                                        {field: 'cleanSheets', title: '零封', align: 'center'},
                                        {field: 'goalsConceded', title: '丢球', align: 'center'},
                                        {field: 'ownGoals', title: '乌龙', align: 'center'},
                                        {field: 'penaltiesSaved', title: '扑点', align: 'center'},
                                        {field: 'penaltiesMissed', title: '丢点', align: 'center'},
                                        {field: 'yellowCards', title: '黄牌', align: 'center'},
                                        {field: 'redCards', title: '红牌', align: 'center'},
                                        {field: 'saves', title: '扑救', align: 'center'},
                                        {field: 'bps', title: 'bps', align: 'center'}
                                    ]],
                                    done: function () {
                                        soulTable.render(this);
                                    }
                                }
                            ]
                        },
                        {
                            field: 'webName', title: '球员', align: 'center', width: 150, templet: function (d) {
                                if (d.captain == true) {
                                    return d.webName + ' (c)';
                                } else {
                                    return d.webName;
                                }
                            }
                        },
                        {field: 'elementTypeName', title: '位置', align: 'center'},
                        {field: 'minutes', title: '时间', align: 'center'},
                        {field: 'totalPoints', title: '分数', align: 'center', sort: true},
                        {field: 'bonus', title: 'bonus', align: 'center'},
                        {
                            field: 'pickAvtive', title: '激活', align: 'center', templet: function (d) {
                                if (d.pickAvtive == true) {
                                    return "是";
                                } else {
                                    return "否";
                                }
                            }
                        }
                    ]],
                    id: "liveElementTable",
                    done: function (res) {
                        soulTable.render(this);
                        let that = this.elem.next();
                        res.data.forEach(function (d, index) {
                            if (d.pickAvtive == false) {
                                setTableRowColor(that, index, "#e2e2e2");
                            } else {
                                if (d.playStatus == 0) {
                                    setTableRowColor(that, index, "#5FB878");
                                }
                            }
                        });
                    }
                });

            });
        }

        function setTableRowColor(elem, index, color) {
            elem.find(".layui-table-box tbody tr[data-index='" + index + "']").css("background-color", color);
        }

        function refresh() {
            window.location.reload();
        }

    });

</script>

</html>