<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header(~{::title},~{::link})">
    <title>队长统计-数据查询-letletme</title>
    <link rel="stylesheet" th:href="@{/css/captain.css}"/>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <h1 style="font-size: 28px">队长统计</h1>

            <div style="margin-top: 50px"></div>

            <table class="layui-table" id="captainTable" lay-filter="captainTable"
                   style="width: 100%"></table>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

<script th:replace="layout::baseScript"></script>

</body>

<script id="qryEventTml" type="text/html">
    <select lay-filter="eventSelect" name="eventSelect" lay-search="">
        <option th:each="item,userStat:${gwMap}" th:text="${userStat.current.value}"
                th:value="${userStat.current.key}"></option>
    </select>
</script>

<script th:inline="none">

    layui.use(['table', 'layer', 'soulTable'], function () {

        let $ = layui.jquery, table = layui.table, soulTable = layui.soulTable;

        layui.soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        table.render({
            elem: '#captainTable',
            method: 'get',
            url: '/stat/qryEntryInfoByTournament',
            where: {tournamentId: 1, season: '1920'},
            page: true,
            limit: 150,
            limits: [20, 50, 100, 150],
            toolbar: true,
            loading: true,
            cols: [[
                // cols: [[
                //     {
                //         fixed: 'left', title: '', width: '5%', align: 'left', children: [
                //             {
                //                 title: '小组赛',
                //                 data: function (d) {
                //                     // d 为当前行数据
                //                     return [d];
                //                 },
                //                 cols: [[
                //                     {field: 'groupMode', title: '模式', align: 'center'}
                //                 ]],
                //                 done: function () {
                //                     soulTable.render(this);
                //                 }
                //             }
                //         ]
                //     },
                {title: '排名', type: 'numbers', templet: '#indexTpl'},
                {field: 'entryName', title: '队伍名字', align: 'center', width: '25%'},
                {field: 'playerName', title: '玩家名字', align: 'center', width: '20%'},
                {field: 'overallPoints', title: '总得分', align: 'center', width: '10%'},
                {field: 'overallRank', title: '总排名', align: 'center', width: '10%', sort: true},
                {field: 'capTotalPoints', title: '队长总分', align: 'center', width: '12%', sort: true},
                {field: 'percent', title: '占比', align: 'center', width: '10%', sort: true},
                {fixed: 'right', title: '选择比赛周', toolbar: '#qryEventTml', align: 'center', minWidth: 120}
            ]],
            initSort: {
                field: 'capTotalPoints',
                type: 'desc'
            },
            id: 'entry',
            done: function () {
                $(".layui-table-body, .layui-table-box, .layui-table-cell").css('overflow', 'visible');
                soulTable.render(this);
            }
        });
        //
        // form.on('select(eventSelect)', function (data) {
        //     let elem = data.othis.parents('tr');
        //     let event = data.value;
        // });

    });

</script>

<script id="nameTpl" type="text/html">
    <a href="/tournament/result?id={{d.tournamentId}}" class="layui-table-link">{{d.name}}</a>
</script>

</html>