<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<div th:replace="layout::topnav">
</div>

<div class="layui-main">
    <div class="site-content">
        <fieldset class="layui-elem-field layui-field-title site-title" style="margin-top: 30px">
            <legend><a name="compatibility">创建自定义赛事</a></legend>
        </fieldset>

        <form action="" class="layui-form">

            <div class="layui-form-item">
                <label class="layui-form-label">官方联赛url</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="title" name="title"
                           placeholder="https://fantasy.premierleague.com/leagues/xxx/standings/x" type="text">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">验证必填项</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-reqtext="用户名是必填项，岂能为空？" lay-verify="required"
                           name="username" placeholder="请输入" type="text">
                </div>
            </div>

        </form>

    </div>
</div>

<div th:replace="layout::footer">

</div>

</body>

<script>
    layui.use(['form', 'element'], function () {
    });
</script>

</html>