<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header(~{::title},~{})">
    <title>赛果-自定义赛事-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <h1 style="font-size: 28px" th:text="${tournamentInfo?.getName()}"></h1>

            <div style="margin-top: 20px"></div>

            <table class="layui-table"
                   th:attr="id='group'+${index}+'Table',
                   lay-data='{cellMinWidth:80, url:\'/tournament/qryGroupInfoListByGroupId?tournamentId='+${tournamentInfo?.getId()}+'&groupId='+${index}+'\'}',
                   lay-filter='group'+${index}+'Table'"
                   th:each="index:${#numbers.sequence(1,tournamentInfo?.groupNum)}">
                <thead>
                <tr>
                    <th lay-data="{field:'groupIdName', align:'center'}">组别</th>
                    <th lay-data="{field:'groupRank', align:'center', sort:true}">排名</th>
                    <th lay-data="{field:'entryName', align:'center', width: 200}">队伍名字</th>
                    <th lay-data="{field:'playerName', align:'center', width: 180}">玩家名字</th>
                    <th lay-data="{field:'groupPoints', align:'center', sort:true}">积分</th>
                    <th lay-data="{field:'play', align:'center'}">比赛</th>
                    <th lay-data="{field:'win', align:'center'}">赢</th>
                    <th lay-data="{field:'draw', align:'center'}">平</th>
                    <th lay-data="{field:'lose', align:'center'}">输</th>
                </tr>
                </thead>
            </table>

            <!--            <table class="layui-table" id="group1Table" lay-filter="group1Table">-->
            <!--                <tr>aaa</tr>-->
            <!--            </table>-->

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

<script th:replace="layout::baseScript"></script>

</body>

<script th:inline="none">
    layui.use(['table'], function () {

    });
</script>

</html>