<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header(~{::title},~{})">
    <title>赛果-自定义赛事-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <h1 style="font-size: 28px" th:text="${tournamentInfo?.getName()}"></h1>

            <div style="margin-top: 20px"></div>

            <!--            <table class="layui-table" th:each="index:${#numbers.sequence(1,tournamentInfo?.groupNum)}"-->
            <!--                   th:attr="id='group'+${index}+'Table',lay-filter='group'+${index}+'Table'"></table>-->

            <table class="layui-table" id="group1Table" lay-filter="group1Table"></table>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

<script th:replace="layout::baseScript"></script>

</body>

<script th:inline="none">

    layui.use(['element', 'table', 'layer', 'soulTable', 'laydate'], function () {

        let $ = layui.jquery, element = layui.element, table = layui.table, soulTable = layui.soulTable,
            laydate = layui.laydate;

    });

</script>

</html>