<!DOCTYPE html>
<html lang=zh-cmn-Hans>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/static/js/popper.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/bootbox.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap-table.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap-table-zh-CN.js" type="text/javascript"></script>
    <title>TOURNAMENT</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-light navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">let let me</a>
        </div>
    </div>
</nav>

<div class="d-flex" id="wrapper">

    <!-- 侧边导航区 -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <ui class="list-group list-group-flush" style="list-style-type:none">
            <li class="list-group-item list-group-item-action bg-light">
                <a class="text-dark" data-toggle="collapse" href="#collapseOne"><strong>创建新的杯赛</strong></a>
            </li>
            <li class="collapse show" id="collapseOne">
                <a class="list-group-item bg-light offset-sm-1 text-dark"
                   href="/cup/"><strong>使用标准联赛创建杯赛</strong></a>
            </li>
            <li class="list-group-item list-group-item-action bg-light">
                <a class="text-info" href="/result/">查看杯赛结果</a>
            </li>
        </ui>
    </div>

    <!-- 页面内容区 -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row mb-3"></div>
            <label>已创建的标准联赛链接("https://fantasy.premierleague.com/leagues/****/standings/c")
                <input class="form-control input-xxlarge" name="urlInput"
                       placeholder="https://fantasy.premierleague.com/leagues/****/standings/c"
                       required="required" type="text"/>
            </label>
            <div class="row mb-2"></div>
            <div class="p-2">
                <label>杯赛名称
                    <input class="form-control input-medium" name="nameInput" required="required"
                           type="text"/>
                </label>
                <label>创建者
                    <input class="form-control input-medium" name="creatorInput" required="required"
                           type="text"/>
                </label>
            </div>
            <div class="p-2">
                <label>小组赛轮次总数
                    <input class="form-control input-small" name="groupRoundsInput" required="required"
                           type="number"/>
                </label>
            </div>
            <div class="p-2">
                <label>开始轮次
                    <select class="form-control" id="startGwSelect" style="padding-right: 10px">
                        <option value="31+">31+</option>
                        <option value="32+">32+</option>
                        <option value="33+">33+</option>
                        <option value="34+">34+</option>
                        <option value="35+">35+</option>
                        <option value="36+">36+</option>
                        <option value="37+">37+</option>
                    </select>
                </label>
                <label>小组赛模式
                    <select class="form-control" id="groupModeSelect">
                        <option value="No_group">无小组赛</option>
                        <option value="Points_race">积分赛</option>
                        <option value="Battle_race">循环赛</option>
                    </select>
                </label>
            </div>
            <div class="p-2">
                <label>每组分配队伍数量
                    <input class="form-control input-small" name="teamPerGroupInput" required="required"
                           type="number"/>
                </label>
                <label>每组晋级队伍数量
                    <input class="form-control input-small" name="qualifiersInput" required="required"
                           type="number"/>
                </label>
            </div>
            <div class="p-2">
                <h6 class="p-2">增加平均分使每组分配的队伍数量一样多</h6>
                <label>
                    <select class="form-control" id="fillAverageSelect">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </label>
            </div>
            <div class="p-2">
                <label>淘汰模式
                    <select class="form-control" id="knockoutModeSelect">
                        <option value="No_knockout">无淘汰赛</option>
                        <option value="Single_round">单循环</option>
                        <option value="Home_away">主客场</option>
                    </select>
                </label>
                <!--                <label>淘汰赛轮次-->
                <!--                    <input class="form-control input-small" name="knockoutRoundsInput" required="required"-->
                <!--                           type="number"/>-->
                <!--                </label>-->
            </div>
            <div class="p-2">
                <button class="btn btn-outline-info" id="createTournamentButton" type="button">创建杯赛
                </button>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    $("#createTournamentButton").click(function () {
        var url = $("input[name='urlInput']").val();
        var tournamentName = $("input[name='nameInput']").val();
        var creator = $("input[name='creatorInput']").val();
        var groupMode = $("#groupModeSelect").val();
        var groupRounds = $("input[name='groupRoundsInput']").val();
        var startGw = $("#startGwSelect").val();
        var teamPerGroup = $("input[name='teamPerGroupInput']").val();
        var qualifiers = $("input[name='qualifiersInput']").val();
        var fillAverage = $("#fillAverageSelect").val();
        var knockoutMode = $("#knockoutModeSelect").val();
        var knockoutRounds = $("input[name='knockoutRoundsInput']").val();
        var drawAfterGroupQualify = $("#drawAfterGroupQualifySelect").val();
        // if (url.length == 0 || tournamentName.length == 0 || creator.length == 0 || groupRounds.length == 0 ||
        //     teamPerGroup.length == 0 || qualifiers.length == 0 || knockoutRounds.length == 0) {
        //     bootbox.alert({
        //         message: "请检查输入的信息！",
        //         locale: "zh_CN",
        //         backdrop: true
        //     });
        //     return false;
        // }
        var tournamentCreateData = {};
        tournamentCreateData.url = url;
        tournamentCreateData.tournamentName = tournamentName;
        tournamentCreateData.creator = creator;
        tournamentCreateData.groupMode = groupMode;
        tournamentCreateData.knockoutMode = knockoutMode;
        tournamentCreateData.knockoutRounds = knockoutRounds;
        tournamentCreateData.knockoutStartGw = 1;
        $.ajax({
            url: "/tournament/createNewTournament",
            type: "post",
            data: JSON.stringify(tournamentCreateData),
            dataType: "json",
            contentType: "application/json",
            beforeSend: function () {
                $("#createTournamentButton").attr({disabled: "disabled"});
            },
            complete: function () {
                bootbox.alert({
                    message: "创建成功！",
                    locale: "zh_CN",
                    backdrop: true
                });
                $("#createTournamentButton").removeAttr("disabled");
            }
        });
    })
</script>

</html>