<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{})">
    <title>实时赛果-实时结果-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <h1 style="font-size: 28px">实时赛果</h1>

            <div style="margin-top: 50px"></div>

            <div th:each="match,stat:${matchList}">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend th:text="${match.homeTeamName}+' '+${match.homeScore}+'-'+${match.awayScore}+' '+${match.awayTeamName}"></legend>
                </fieldset>
                <table class="layui-table"
                       th:attr="lay-data='{url:\'/live/qryLiveFixturePlayerList?teamId='+${match.homeTeamId}+'\', '+
                       'id:\'team'+${match.homeTeamId}+'Table\'}',
                       lay-filter='team'+${match.homeTeamId}+'Table'">
                    <thead>
                    <tr>
                        <th lay-data="{field:'webName', align: 'center', width:150}">姓名</th>
                        <th lay-data="{field:'totalPoints', align: 'center', style: 'background-color: #5FB878; color: #fff;'}">
                            分数
                        </th>
                        <th lay-data="{field:'bonus', align: 'center', width:70}">bonus</th>
                        <th lay-data="{field:'bps', align: 'center'}">bps</th>
                        <th lay-data="{field:'goalsScored', align: 'center'}">进球</th>
                        <th lay-data="{field:'assists', align: 'center'}">助攻</th>
                        <th lay-data="{field:'cleanSheets', align: 'center'}">零封</th>
                        <th lay-data="{field:'goalsConceded', align: 'center'}">丢球</th>
                        <th lay-data="{field:'ownGoals', align: 'center'}">乌龙</th>
                        <th lay-data="{field:'yellowCards', align: 'center'}">黄牌</th>
                        <th lay-data="{field:'redCards', align: 'center'}">红牌</th>
                        <th lay-data="{field:'penaltiesSaved', align: 'center'}">扑点</th>
                        <th lay-data="{field:'penaltiesMissed', align: 'center'}">丢点</th>
                        <th lay-data="{field:'saves', align: 'center'}">扑救</th>
                    </tr>
                    </thead>
                </table>
                <table class="layui-table"
                       th:attr="lay-data='{url:\'/live/qryLiveFixturePlayerList?teamId='+${match.awayTeamId}+'\', '+
                       'id:\'team'+${match.awayTeamId}+'Table\'}',
                       lay-filter='team'+${match.awayTeamId}+'Table'">
                    <thead>
                    <tr>
                        <th lay-data="{field:'webName', align: 'center', width:150}">姓名</th>
                        <th lay-data="{field:'totalPoints', align: 'center', style: 'background-color: #5FB878; color: #fff;'}">
                            分数
                        </th>
                        <th lay-data="{field:'bonus', align: 'center', width:70}">bonus</th>
                        <th lay-data="{field:'bps', align: 'center'}">bps</th>
                        <th lay-data="{field:'goalsScored', align: 'center'}">进球</th>
                        <th lay-data="{field:'assists', align: 'center'}">助攻</th>
                        <th lay-data="{field:'cleanSheets', align: 'center'}">零封</th>
                        <th lay-data="{field:'goalsConceded', align: 'center'}">丢球</th>
                        <th lay-data="{field:'ownGoals', align: 'center'}">乌龙</th>
                        <th lay-data="{field:'yellowCards', align: 'center'}">黄牌</th>
                        <th lay-data="{field:'redCards', align: 'center'}">红牌</th>
                        <th lay-data="{field:'penaltiesSaved', align: 'center'}">扑点</th>
                        <th lay-data="{field:'penaltiesMissed', align: 'center'}">丢点</th>
                        <th lay-data="{field:'saves', align: 'center'}">扑救</th>
                    </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script th:replace="layout::baseScript"></script>

<script th:inline="none">
    layui.use(['table'], function () {
    });
</script>

</html>