<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{})">
    <title>联赛统计-我的fpl-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <form class="layui-form">

                <div class="layui-form-item">

                    <div class="layui-input-inline">
                        <h1 style="font-size: 28px">联赛统计 - </h1>
                    </div>

                    <div class="layui-input-inline" style="width: 100px;margin-left: -60px;margin-top: 2px">
                        <select class="layui-select" lay-filter="gwSelect" lay-search="" name="gwSelect">
                            <option value="0">赛季</option>
                            <option th:each="item,userStat:${gwMap}"
                                    th:if="${userStat.current.key} != ''"
                                    th:text="${userStat.current.value}"
                                    th:value="${userStat.current.key}"></option>
                        </select>
                    </div>
                </div>

            </form>

            <div style="margin-top: 40px"></div>

            <div class="layui-tab" lay-allowClose="true" lay-filter="leagueTab" style="margin-left: -200px">
                <ul class="layui-tab-title">
                    <li class="layui-this" id="base" th:text="${leagueName}"></li>
                </ul>
                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">

                        <div style="margin-top: 20px"></div>

                        <div id="leagueReportStat">
                            <table class="layui-table" id="leagueReportStatTable"
                                   lay-filter="leagueReportStatTable"></table>
                        </div>

                        <div id="leagueEventReport">
                            <table class="layui-table" id="leagueEventReportTable"
                                   lay-filter="leagueEventReportTable"></table>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script th:replace="layout::baseScript"></script>

<div th:replace="layout::entryInputLayer"></div>

<script th:inline="none">
    layui.use(['element', 'form', 'table', 'layer', 'soulTable'], function () {

        let $ = layui.jquery, element = layui.element, form = layui.form, table = layui.table,
            soulTable = layui.soulTable;

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        let leagueId = getUrlParam("leagueId"), leagueType = getUrlParam("leagueType");

        table.render({
            elem: '#leagueReportStatTable',
            url: '/my_fpl/qryLeagueReportStat',
            where: {
                leagueId: leagueId,
                leagueType: leagueType,
            },
            parseData: function (res) {
                let data = [];
                $.each(res.data, function (index, item) {
                    item.captainTotalPoints = item.captainData.totalPoints;
                    item.captainTotalPointsByPercent = item.captainData.totalPointsByPercent;
                    item.captainMaxPointsEvent = item.captainData.maxPointsEvent;
                    item.captainMaxPoints = item.captainData.maxPoints;
                    item.captainMaxPointsWebName = item.captainData.maxPointsWebName;
                    item.captainMinPointsEvent = item.captainData.minPointsEvent;
                    item.captainMinPoints = item.captainData.minPoints;
                    item.captainMinPointsWebName = item.captainData.minPointsWebName;
                    item.mostSelectedCaptain = item.captainData.mostSelected;
                    item.mostSelectedCaptainWebName = item.captainData.mostSelectedWebName;
                    item.mostSelectedCaptainTimes = item.captainData.mostSelectedtimes;
                    item.captainBlankTimes = item.captainData.blankTimes;
                    item.captainHitTimes = item.captainData.hitTimes;
                    data.push(item);
                });
                return {
                    "code": res.code,
                    "msg": res.message,
                    "count": res.count,
                    "data": data
                };
            },
            loading: true,
            limit: 200,
            cellMinWidth: 80,
            cols: [
                [
                    {title: '排名', type: 'numbers', width: 50, rowspan: 2},
                    {field: 'entryName', title: '球队名称', align: 'center', width: 200, rowspan: 2},
                    {
                        field: 'overallPoints',
                        title: '总得分',
                        align: 'center',
                        width: 90,
                        rowspan: 2,
                        sort: true,
                        filter: true
                    },
                    {
                        field: 'overallRank',
                        title: '总排名',
                        align: 'center',
                        width: 90,
                        rowspan: 2,
                        sort: true,
                        filter: true,
                        templet: function (d) {
                            if (d.overallRank < 1000) {
                                return d.overallRank;
                            } else if (d.overallRank < 100000) {
                                return Math.floor(parseInt(d.overallRank) / 100) / 10 + 'k';
                            } else {
                                return Math.floor(parseInt(d.overallRank) / 10000) / 100 + 'm';
                            }
                        }
                    },
                    {
                        field: 'teamValue',
                        title: '阵容身价',
                        align: 'center',
                        width: 110,
                        rowspan: 2,
                        sort: true,
                        filter: true,
                        templet: function (d) {
                            return parseInt(d.teamValue) / 10 + 'm';
                        }
                    },
                    {
                        field: 'bank',
                        title: '余额',
                        align: 'center',
                        rowspan: 2,
                        sort: true,
                        filter: true,
                        templet: function (d) {
                            if (d.bank > 0) {
                                return parseInt(d.bank) / 10 + 'm';
                            } else {
                                return 0;
                            }
                        }
                    },
                    {title: '队长', align: 'center', colspan: 9}
                ],
                [
                    {
                        field: 'captainTotalPoints',
                        title: '总得分',
                        align: 'center',
                        width: 90,
                        style: 'background-color: #5FB878; color: #fff;',
                        sort: true,
                        filter: true
                    },
                    {
                        field: 'captainTotalPointsByPercent',
                        title: '得分占比',
                        align: 'center',
                        width: 110,
                        style: 'background-color: #5FB878; color: #fff;',
                        sort: true,
                        filter: true
                    },
                    {
                        field: 'captainMaxPoints',
                        title: '最高分',
                        align: 'center',
                        width: 90,
                        style: 'background-color: #5FB878; color: #fff;',
                        sort: true,
                        filter: true,
                        templet: function (d) {
                            return d.captainMaxPoints + '(GW' + d.captainMaxPointsEvent + ')';
                        }
                    },
                    {
                        field: 'captainMaxPointsWebName',
                        title: '球员',
                        align: 'center',
                        width: 120,
                        style: 'background-color: #5FB878; color: #fff;',
                        filter: true
                    },
                    {
                        field: 'captainMinPoints',
                        title: '最低分',
                        align: 'center',
                        width: 90,
                        style: 'background-color: #5FB878; color: #fff;',
                        sort: true,
                        filter: true
                    },
                    {
                        field: 'mostSelectedCaptainWebName',
                        title: '最多选择',
                        align: 'center',
                        width: 120,
                        style: 'background-color: #5FB878; color: #fff;',
                        filter: true
                    },
                    {
                        field: 'mostSelectedCaptainTimes',
                        title: '次数',
                        align: 'center',
                        width: 80,
                        style: 'background-color: #5FB878; color: #fff;',
                        sort: true,
                        filter: true,
                        templet: function (d) {
                            return d.mostSelectedCaptainTimes + '次';
                        }
                    },
                    {
                        field: 'captainBlankTimes',
                        title: 'blank',
                        align: 'center',
                        style: 'background-color: #5FB878; color: #fff;',
                        sort: true,
                        filter: true,
                        templet: function (d) {
                            return d.captainBlankTimes + '次';
                        }
                    },
                    {
                        field: 'captainHitTimes',
                        title: '命中周最高分',
                        align: 'center',
                        width: 140,
                        style: 'background-color: #5FB878; color: #fff;',
                        sort: true,
                        filter: true,
                        templet: function (d) {
                            return d.captainHitTimes + '次';
                        }
                    }
                ]
            ],
            filter: {
                items: ['data'],
                bottom: false
            },
            id: 'leagueReportStatTable',
            initSort: {
                field: 'captainTotalPoints',
                type: 'desc'
            },
            done: function () {
                soulTable.render(this);
            }
        });

        form.on('select(gwSelect)', function (data) {
            let event = data.value;
            if (event === '0') {
                $("#leagueReportStat").removeClass("layui-hide");
                $("#leagueEventReport").addClass("layui-hide");
                table.reload('leagueReportStatTable', {
                    url: '/my_fpl/qryLeagueReportStat',
                    where: {
                        leagueId: leagueId,
                        leagueType: leagueType,
                    },
                })
            } else {
                $("#leagueReportStat").addClass("layui-hide");
                $("#leagueEventReport").removeClass("layui-hide");
                table.render({
                    elem: '#leagueEventReportTable',
                    url: '/my_fpl/qryLeagueEventReportList',
                    where: {
                        leagueId: leagueId,
                        leagueType: leagueType,
                        event: event
                    },
                    loading: true,
                    limit: 200,
                    even: true,
                    cellMinWidth: 80,
                    cols: [
                        [
                            {title: '排名', type: 'numbers', rowspan: 2},
                            {field: 'entryName', title: '球队名称', align: 'center', width: 200, rowspan: 2},
                            {field: 'eventPoints', title: '得分', align: 'center', rowspan: 2, sort: true, filter: true},
                            {field: 'eventChip', title: '开卡', align: 'center', rowspan: 2},
                            {title: '队长', align: 'center', colspan: 5},
                            {title: '副队长', align: 'center', colspan: 3},
                            {title: '最高分', align: 'center', colspan: 3}
                        ],
                        [
                            {
                                field: 'captainWebName',
                                title: '名称',
                                align: 'center',
                                width: 120,
                                style: 'background-color: #5FB878; color: #fff;',
                                filter: true
                            },
                            {
                                field: 'captainPoints',
                                title: '得分',
                                align: 'center',
                                templet: function (d) {
                                    if (d.captainBlank) {
                                        return '<div style="background-color: gray;color: #fff;" className="layui-table-cell">' + d.captainPoints + '</div>';
                                    } else {
                                        return '<div style="background-color: #FFB800;color: #fff;" className="layui-table-cell">' + d.captainPoints + '</div>';
                                    }
                                },
                                sort: true,
                                filter: true
                            },
                            {
                                field: 'captainSelected',
                                title: '持有率',
                                align: 'center',
                                width: 90,
                                sort: true,
                                filter: true
                            },
                            {
                                field: 'captainPointsByPercent',
                                title: '得分占比',
                                align: 'center',
                                width: 110,
                                sort: true,
                                filter: true
                            },
                            {
                                field: 'captainSelectedInLeague',
                                title: '联赛选择',
                                align: 'center',
                                width: 110,
                                sort: true,
                                filter: true
                            },
                            {
                                field: 'viceCaptainWebName',
                                title: '名称',
                                align: 'center',
                                width: 120,
                                filter: true
                            },
                            {
                                field: 'viceCaptainPoints',
                                title: '得分',
                                align: 'center',
                                sort: true,
                                filter: true
                            },
                            {
                                field: 'viceCaptainSelected',
                                title: '持有率',
                                align: 'center',
                                width: 90,
                                sort: true,
                                filter: true
                            },
                            {field: 'highestScoreWebName', title: '名称', align: 'center', width: 120, filter: true},
                            {field: 'highestScorePoints', title: '得分', align: 'center', sort: true, filter: true},
                            {
                                field: 'highestScoreSelectedInLeague',
                                title: '联赛选择',
                                align: 'center',
                                width: 110,
                                sort: true,
                                filter: true
                            }
                        ]
                    ],
                    id: 'leagueEventReportTable',
                    filter: {
                        items: ['data'],
                        bottom: false
                    },
                    initSort: {
                        field: 'captainPoints',
                        type: 'desc'
                    },
                    done: function () {
                        soulTable.render(this);
                    }
                });
            }
        });

        // table.on('row(tournamentTable)', function (obj) {
        //     let tournamentId = obj.data.id, name = obj.data.name;
        //     // 是否存在
        //     if ($(".layui-tab-title li[lay-id='" + tournamentId + "']").length > 0) {
        //         //选项卡已经存在
        //         element.tabChange('leagueTab', tournamentId);
        //         return false;
        //     }
        //     // 增加标签页
        //     let tableId = 'captain' + tournamentId + 'Table';
        //     element.tabAdd('leagueTab', {
        //         title: name,
        //         content: '<table class="layui-table" id="' + tableId + '" lay-filter="' + tableId + '"></table>',
        //         id: tournamentId
        //     });
        //     // 切换
        //     element.tabChange('leagueTab', tournamentId);
        //     // 渲染
        //     axios.get('/live/qryTournamentLivePoints', {
        //         params: {
        //             tournamentId: tournamentId
        //         }
        //     })
        //         .then(function (response) {
        //             table.render({
        //                 elem: '#' + tableId,
        //                 data: response.data,
        //                 limit: 200,
        //                 loading: true,
        //                 toolbar: '#toolbar',
        //                 defaultToolbar: [{title: '筛选重置', layEvent: 'clearFilter', icon: 'layui-icon-refresh-3'}],
        //                 cellMinWidth: 120,
        //                 cols: [[
        //                     {title: '排名', type: 'numbers', width: 50, templet: '#indexTpl'},
        //                     {field: 'entryName', title: '队伍名字', align: 'center', width: 200, filter: true},
        //                     {field: 'playerName', title: '玩家名字', align: 'center', width: 150, filter: true},
        //                     {field: 'overallPoints', title: '总得分', align: 'center', sort: true, filter: true},
        //                     {field: 'overallRank', title: '总排名', align: 'center', sort: true, filter: true},
        //                     {field: 'capTotalPoints', title: '队长总分', align: 'center', width: 120, sort: true},
        //                     {field: 'percent', title: '占比', align: 'center', sort: true, filter: true}
        //                 ]],
        //                 filter: {
        //                     items: ['data'],
        //                     bottom: false
        //                 },
        //                 done: function () {
        //                     soulTable.render(this);
        //                 },
        //                 id: tableId
        //             });
        //         })
        //         .catch(function (error) {
        //             console.info(error.message);
        //         });
        //
        //     table.on('toolbar(' + tableId + ')', function (obj) {
        //         if (obj.event === 'clearFilter') {
        //             soulTable.clearFilter(tableId);
        //         }
        //     });
        //
        // });

        // axios.get('/stat/qryEntryInfoByTournament', {
        //     params: {
        //         tournamentId: 1,
        //         season: '2021'
        //     }
        // }).then(function (response) {
        //     table.render({
        //         elem: '#captainTable',
        //         data: response.data,
        //         page: true,
        //         limit: 20,
        //         limits: [20, 50, 100, 150],
        //         toolbar: '#captainBar',
        //         defaultToolbar: ['filter', {title: '筛选重置', layEvent: 'clearFilter', icon: 'layui-icon-refresh-3'}],
        //         loading: true,
        //         cellMinWidth: 100,
        //         cols: [[
        //             {title: '排名', type: 'numbers', width: 50, templet: '#indexTpl'},
        //             {field: 'entryName', title: '队伍名字', align: 'center', width: 200, filter: true},
        //             {field: 'playerName', title: '玩家名字', align: 'center', width: 150, filter: true},
        //             {field: 'overallPoints', title: '总得分', align: 'center', sort: true, filter: true},
        //             {field: 'overallRank', title: '总排名', align: 'center', sort: true, filter: true},
        //             {field: 'capTotalPoints', title: '队长总分', align: 'center', width: 120, sort: true},
        //             {field: 'percent', title: '占比', align: 'center', sort: true, filter: true}
        //         ]],
        //         filter: {
        //             items: ['data', 'condition'],
        //             bottom: false
        //         },
        //         id: 'captainTable',
        //         done: function () {
        //             soulTable.render(this);
        //         }
        //     });
        // })
        //     .catch(function (error) {
        //         console.info(error.message);
        //     });
        //
        // table.on('toolbar(captainTable)', function (obj) {
        //     if (obj.event === 'clearFilter') {
        //         soulTable.clearFilter('captainTable');
        //     }
        // });
        //
        // table.on('row(captainTable)', function (obj) {
        //     let entry = obj.data.entry, entryName = obj.data.entryName;
        //     // 是否存在
        //     if ($(".layui-tab-title li[lay-id='" + entry + "']").length > 0) {
        //         //选项卡已经存在
        //         element.tabChange('entryTab', entry);
        //         return false;
        //     }
        //     // 增加标签页
        //     let tableId = entry + "Table";
        //     element.tabAdd('entryTab', {
        //         title: entryName,
        //         content: '<table class="layui-table" id=' + tableId + ' lay-filter=' + tableId + '></table>',
        //         id: entry
        //     });
        //     // 切换
        //     element.tabChange('entryTab', entry);
        // });
        //
        // element.on('tab(entryTab)', function () {
        //     let entry = $(this).attr("lay-id");
        //     if (entry == null) {
        //         return false;
        //     }
        //     let tableId = entry + "Table";
        //     axios.get('/stat/qryEntryCaptainList', {
        //         params: {
        //             season: '2021',
        //             entry: entry
        //         }
        //     })
        //         .then(function (response) {
        //             table.render({
        //                 elem: '#' + tableId,
        //                 data: response.data,
        //                 page: true,
        //                 limit: 15,
        //                 limits: [15, 30, 40],
        //                 toolbar: '#toolbar',
        //                 defaultToolbar: ['filter', {
        //                     title: '筛选重置',
        //                     layEvent: 'clearFilter',
        //                     icon: 'layui-icon-refresh-3'
        //                 }],
        //                 loading: true,
        //                 cellMinWidth: 100,
        //                 cols: [[
        //                     {title: '排名', type: 'numbers'},
        //                     {field: 'event', title: '比赛周', align: 'center', sort: true, filter: true},
        //                     {field: 'chip', title: '开卡', align: 'center', filter: true},
        //                     {field: 'webName', title: '队长', align: 'center', width: 150, filter: true},
        //                     {field: 'points', title: '原始分', align: 'center', sort: true, filter: true},
        //                     {field: 'totalPoints', title: '总得分', align: 'center', sort: true, filter: true}
        //                 ]],
        //                 filter: {
        //                     items: ['data', 'condition'],
        //                     bottom: false,
        //                     clearFilter: true
        //                 },
        //                 done: function () {
        //                     soulTable.render(this);
        //                 },
        //                 id: tableId
        //             });
        //         })
        //         .catch(function (error) {
        //             console.info(error.message);
        //         });
        // });
        //
        // table.on('toolbar(tabTable)', function (obj) {
        //     if (obj.event === 'clearFilter') {
        //         soulTable.clearFilter('captainTable');
        //     }
        // });

    });
</script>

</html>