<!DO CTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{})">
    <title>查看联赛-我的fpl-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <h1 style="font-size: 28px">查看联赛</h1>

            <div class="layui-hide" id="currentGw" th:text="${currentGw}"></div>

            <div style="margin-top: 30px"></div>

            <form class="layui-form">

                <div class="layui-form-item">
                    <label class="layui-form-label">联赛名称</label>
                    <div class="layui-input-block">
                        <select lay-filter="leagueNameSelect" name="leagueNameSelect">
                            <option th:each="item,stat:${tournamentList}" th:text="${item.name}"
                                    th:value="${item.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">查看时间</label>
                    <div class="layui-input-inline">
                        <select lay-filter="gwSelect" name="gwSelect">
                            <option th:each="item,stat:${gwMap}" th:text="${stat.current.value}"
                                    th:value="${stat.current.key}"></option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="margin-left: 20px">
                        <button class="layui-btn" id="checkButton" type="button">开始</button>
                    </div>
                </div>

            </form>

            <table class="layui-table" id="tournamentResultTable" lay-filter="tournamentResultTable"></table>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script th:replace="layout::baseScript"></script>

<script th:replace="layout::entryInputLayer"></script>

<script th:inline="none">
    layui.use(['element', 'form', 'table', 'layer', 'soulTable'], function () {

        let $ = layui.jquery, element = layui.element, table = layui.table, soulTable = layui.soulTable;

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        let event = $("#currentGw").html();
        let optionValue = "dd[lay-value=" + event + "]";
        $("select[name=gwSelect]").siblings("div.layui-form-select").find("dl").find(optionValue).click();
        // $("#checkButton").click();

        $("#checkButton").on('click', function () {
            let loadIndex = layer.load(2);

            let tournamentId = $("select[name=leagueNameSelect]").val();
            let event = $("select[name=gwSelect]").val();

            axios.get('/my_fpl/qryTournamentResultList', {
                params: {
                    tournamentId: tournamentId,
                    event: event
                }
            })
                .then(function (response) {
                    let data = [];
                    $.each(response.data, function (index, value) {
                        let entryData = {};
                        entryData.groupRank = value.groupRank;
                        entryData.entryName = value.entryName;
                        entryData.playerName = value.playerName;
                        entryData.points = value.pointsGroupEventResult.points;
                        entryData.cost = value.pointsGroupEventResult.cost;
                        entryData.netPoints = value.pointsGroupEventResult.netPoints;
                        entryData.rank = value.pointsGroupEventResult.rank;
                        entryData.overallPoints = value.overallPoints;
                        entryData.overallRank = value.overallRank;
                        data.push(entryData);
                    });

                    layer.close(loadIndex);

                    table.render({
                        elem: '#tournamentResultTable',
                        data: data,
                        toolbar: '#toolbar',
                        defaultToolbar: [{title: '筛选重置', layEvent: 'clearFilter', icon: 'layui-icon-refresh-3'}],
                        page: true,
                        limit: 30,
                        limits: [30, 50, 100],
                        loading: true,
                        cellMinWidth: 80,
                        cols: [[
                            {field: 'groupRank', title: '排名', align: 'center'},
                            {field: 'entryName', title: '队伍', align: 'center', width: 200, filter: true},
                            {field: 'playerName', title: '玩家', align: 'center', width: 150, filter: true},
                            {field: 'points', title: '周得分', align: 'center', width: 100, sort: true, filter: true},
                            {field: 'cost', title: '周剁手', align: 'center', width: 100, sort: true, filter: true},
                            {field: 'netPoints', title: '周净得分', align: 'center', width: 120, sort: true, filter: true},
                            {field: 'rank', title: '周排名', align: 'center', width: 100, sort: true, filter: true},
                            {
                                field: 'overallPoints',
                                title: '总得分',
                                align: 'center',
                                width: 100,
                                sort: true,
                                filter: true
                            },
                            {field: 'overallRank', title: '总排名', align: 'center', width: 100, sort: true, filter: true}
                        ]],
                        filter: {
                            items: ['data'],
                            bottom: false
                        },
                        id: 'tournamentResultTable',
                        done: function () {
                            soulTable.render(this);
                        }
                    });

                })
                .catch(function (error) {
                    console.info(error.message);
                    layer.close(loadIndex);
                });

        })


    });
</script>

</html>