<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header(~{::title},~{})">
    <title>转会统计-我的fpl-letletme</title>
</head>

<body>

<div th:replace="layout::topnav"></div>

<div class="layui-fluid">
    <div class="layui-main">
        <div class="site-content">

            <form class="layui-form">

                <div class="layui-form-item">

                    <div class="layui-input-inline" style="margin-top: 5px">
                        <button class="layui-btn layui-btn-primary layui-btn-sm" id="returnButton" type="button">
                            <i class="layui-icon layui-icon-return"></i>
                        </button>
                    </div>

                    <div class="layui-input-inline" style="margin-left: -140px">
                        <h1 style="font-size: 28px">转会统计 - </h1>
                    </div>

                    <div class="layui-input-inline" style="width: 100px;margin-left: -60px;margin-top: 2px">
                        <select class="layui-select" lay-filter="gwSelect" lay-search="" name="gwSelect">
                            <option value="0">赛季</option>
                            <option th:each="item,userStat:${gwMap}"
                                    th:if="${userStat.current.key} != ''"
                                    th:text="${userStat.current.value}"
                                    th:value="${userStat.current.key}"></option>
                        </select>
                    </div>
                </div>

            </form>

            <div style="margin-top: 40px"></div>

            <div class="layui-tab" lay-allowClose="true" lay-filter="entryTab">
                <ul class="layui-tab-title">
                    <li class="layui-this" id="base" th:text="${leagueName}"></li>
                </ul>
                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">

                        <div style="margin-top: 20px"></div>

                        <div id="leagueTransferReportStat">
                            <table class="layui-table" id="leagueTransferReportStatTable"
                                   lay-filter="leagueTransferReportStatTable"></table>
                        </div>

                        <div id="leagueTransferEventReport">
                            <table class="layui-table" id="leagueTransferEventReportTable"
                                   lay-filter="leagueTransferEventReportTable"></table>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>

</body>

<script th:replace="layout::baseScript"></script>

<div th:replace="layout::entryInputLayer"></div>

<script id="entryNameTpl" type="text/html">
    <a href="javascript:void(0);" class="layui-table-link">{{d.entryName}}</a>
</script>

<script th:inline="none">
    layui.use(['element', 'form', 'table', 'soulTable'], function () {

        let $ = layui.jquery, element = layui.element, form = layui.form, table = layui.table,
            soulTable = layui.soulTable;

        soulTable.config({
            drag: false,
            overflow: {
                type: 'tips',
                header: true,
                total: true
            }
        });

        let leagueId = getUrlParam("leagueId"), leagueType = getUrlParam("leagueType");

        $("#returnButton").on('click', function () {
            window.location.replace("/my_fpl/league");
        });

        // table.render({
        //     elem: '#leagueTransferReportStatTable',
        //     url: '/my_fpl/qryLeagueTransferReportStat',
        //     where: {
        //         leagueId: leagueId,
        //         leagueType: leagueType
        //     },
        //     parseData: function (res) {
        //         let data = [];
        //         $.each(res.data, function (index, item) {
        //             item.captainTotalPoints = item.captainData.totalPoints;
        //             item.captainTotalPointsByPercent = item.captainData.totalPointsByPercent;
        //             item.captainMaxPointsEvent = item.captainData.maxPointsEvent;
        //             item.captainMaxPoints = item.captainData.maxPoints;
        //             item.captainMaxPointsWebName = item.captainData.maxPointsWebName;
        //             item.captainMinPointsEvent = item.captainData.minPointsEvent;
        //             item.captainMinPoints = item.captainData.minPoints;
        //             item.captainMinPointsWebName = item.captainData.minPointsWebName;
        //             item.mostSelectedCaptain = item.captainData.mostSelected;
        //             item.mostSelectedCaptainWebName = item.captainData.mostSelectedWebName;
        //             item.mostSelectedCaptainTimes = item.captainData.mostSelectedtimes;
        //             item.captainBlankTimes = item.captainData.blankTimes;
        //             item.captainHitTimes = item.captainData.hitTimes;
        //             data.push(item);
        //         });
        //         return {
        //             "code": res.code,
        //             "msg": res.message,
        //             "count": res.count,
        //             "data": data
        //         };
        //     },
        //     toolbar: true,
        //     defaultToolbar: ['filter'],
        //     loading: true,
        //     even: true,
        //     limit: 200,
        //     cellMinWidth: 80,
        //     cols: [
        //         [
        //             {title: '排名', type: 'numbers', width: 50, rowspan: 2},
        //             {
        //                 field: 'entryName',
        //                 title: '球队名称',
        //                 align: 'center',
        //                 width: 200,
        //                 rowspan: 2,
        //                 templet: '#entryNameTpl',
        //                 filter: true
        //             },
        //             {
        //                 field: 'overallPoints',
        //                 title: '总得分',
        //                 align: 'center',
        //                 width: 90,
        //                 rowspan: 2,
        //                 sort: true,
        //                 filter: true
        //             },
        //             {
        //                 field: 'overallRank',
        //                 title: '总排名',
        //                 align: 'center',
        //                 width: 90,
        //                 rowspan: 2,
        //                 sort: true,
        //                 filter: true,
        //                 templet: function (d) {
        //                     return showOverallRank(d.overallRank);
        //                 }
        //             },
        //             {title: '队长', align: 'center', colspan: 9}
        //         ],
        //         [
        //             {
        //                 field: 'captainTotalPoints',
        //                 title: '加权总分',
        //                 align: 'center',
        //                 width: 110,
        //                 style: 'background-color: #5FB878; color: #fff;',
        //                 sort: true,
        //                 filter: true
        //             },
        //             {
        //                 field: 'captainTotalPointsByPercent',
        //                 title: '得分占比',
        //                 align: 'center',
        //                 width: 110,
        //                 style: 'background-color: #5FB878; color: #fff;',
        //                 sort: true,
        //                 filter: true
        //             },
        //             {
        //                 field: 'captainMaxPoints',
        //                 title: '最高分',
        //                 align: 'center',
        //                 width: 100,
        //                 style: 'background-color: #5FB878; color: #fff;',
        //                 templet: function (d) {
        //                     return d.captainMaxPoints + '  (GW' + d.captainMaxPointsEvent + ') ';
        //                 },
        //                 sort: true,
        //                 filter: true
        //             },
        //             {
        //                 field: 'captainMaxPointsWebName',
        //                 title: '球员',
        //                 align: 'center',
        //                 width: 120,
        //                 style: 'background-color: #5FB878; color: #fff;',
        //                 filter: true
        //             },
        //             {
        //                 field: 'captainMinPoints',
        //                 title: '最低分',
        //                 align: 'center',
        //                 width: 100,
        //                 style: 'background-color: #5FB878; color: #fff;',
        //                 templet: function (d) {
        //                     return d.captainMinPoints + ' (GW' + d.captainMaxPointsEvent + ') ';
        //                 },
        //                 sort: true,
        //                 filter: true
        //             },
        //             {
        //                 field: 'mostSelectedCaptainWebName',
        //                 title: '最多选择',
        //                 align: 'center',
        //                 width: 150,
        //                 style: 'background-color: #5FB878; color: #fff;',
        //                 templet: function (d) {
        //                     return d.mostSelectedCaptainWebName + " (" + d.mostSelectedCaptainTimes + '次) ';
        //                 },
        //                 filter: true
        //             },
        //             {
        //                 field: 'captainBlankTimes',
        //                 title: 'blank',
        //                 align: 'center',
        //                 style: 'background-color: #5FB878; color: #fff;',
        //                 sort: true,
        //                 filter: true,
        //                 templet: function (d) {
        //                     return d.captainBlankTimes + '次';
        //                 }
        //             },
        //             {
        //                 field: 'captainHitTimes',
        //                 title: '命中最高分',
        //                 align: 'center',
        //                 width: 120,
        //                 style: 'background-color: #5FB878; color: #fff;',
        //                 sort: true,
        //                 filter: true,
        //                 templet: function (d) {
        //                     return d.captainHitTimes + '次';
        //                 }
        //             }
        //         ]
        //     ],
        //     filter: {
        //         items: ['data'],
        //         bottom: false
        //     },
        //     id: 'leagueTransferReportStatTable',
        //     initSort: {
        //         field: 'captainTotalPoints',
        //         type: 'desc'
        //     },
        //     done: function () {
        //         soulTable.render(this);
        //     }
        // });

        form.on('select(gwSelect)', function (data) {
            // 切换tab
            element.tabChange('entryTab', 'base');
            // 渲染
            let event = data.value;
            if (event === '0') {
                // $("#leagueTransferReportStat").removeClass("layui-hide");
                // $("#leagueTransferEventReport").addClass("layui-hide");
                // table.reload('leagueReportStatTable', {
                //     url: '/my_fpl/qryLeagueTransferReportStat',
                //     where: {
                //         leagueId: leagueId,
                //         leagueType: leagueType
                //     },
                // })
            } else {
                $("#leagueTransferReportStat").addClass("layui-hide");
                $("#leagueTransferEventReport").removeClass("layui-hide");
                table.render({
                    elem: '#leagueTransferEventReportTable',
                    url: '/my_fpl/qryLeagueTransferEventReportList',
                    where: {
                        leagueId: leagueId,
                        leagueType: leagueType,
                        event: event
                    },
                    toolbar: true,
                    defaultToolbar: ['filter'],
                    loading: true,
                    limit: 200,
                    even: true,
                    cellMinWidth: 80,
                    cols: [[
                        {title: '排名', type: 'numbers', rowspan: 2},
                        {
                            field: 'entryName',
                            title: '球队名称',
                            align: 'center',
                            width: 200,
                            templet: '#entryNameTpl',
                            filter: true
                        },
                        {
                            field: 'eventPoints',
                            title: '得分',
                            align: 'center',
                            templet: function (d) {
                                if (d.eventChip === 'wildcard') {
                                    return d.eventPoints + " (wc) ";
                                } else if (d.eventChip === '3xc') {
                                    return d.eventPoints + " (3c) ";
                                } else if (d.eventChip === 'bboost') {
                                    return d.eventPoints + " (bb) ";
                                } else if (d.eventChip === 'freehit') {
                                    return d.eventPoints + " (fh) ";
                                } else {
                                    return d.eventPoints;
                                }
                            },
                            sort: true,
                            filter: true
                        },
                        {field: 'eventTransfers', title: '转会数', align: 'center'},
                        {field: 'eventTransfersCost', title: '剁手', align: 'center'},
                        {field: 'transferInTotalPoints', title: '转入总分', align: 'center', width: 100},
                        {field: 'transferInTotalValue', title: '转入总价', align: 'center', width: 100},
                        {field: 'transferOutTotalPoints', title: '转出总分', align: 'center', width: 100},
                        {field: 'transferOutTotalValue', title: '转出总价', align: 'center', width: 100},
                        {field: 'transferNetPoints', title: '净收益', align: 'center'},
                    ]],
                    id: 'leagueTransferEventReportTable',
                    filter: {
                        items: ['data'],
                        bottom: false
                    },
                    done: function () {
                        soulTable.render(this);
                    }
                });
            }
        });

        // table.on('row(leagueTransferReportStatTable)', function (obj) {
        //     let entry = obj.data.entry, entryName = obj.data.entryName;
        //     initEntryTab(entry, entryName);
        // });
        //
        // table.on('row(leagueTransferEventReportTable)', function (obj) {
        //     let entry = obj.data.entry, entryName = obj.data.entryName;
        //     initEntryTab(entry, entryName);
        // });
        //
        // function initEntryTab(entry, entryName) {
        //     // 是否存在
        //     if ($(".layui-tab-title li[lay-id='" + entry + "']").length > 0) {
        //         //选项卡已经存在
        //         element.tabChange('entryTab', entry);
        //         return false;
        //     }
        //     // 增加标签页
        //     let tableId = entry + 'Table';
        //     element.tabAdd('entryTab', {
        //         title: entryName,
        //         content: '<table class="layui-table" id="' + tableId + '" lay-filter="' + tableId + '"></table>',
        //         id: entry
        //     });
        //     // 切换
        //     element.tabChange('entryTab', entry);
        //     // 渲染
        //     table.render({
        //         elem: '#' + tableId,
        //         url: '/my_fpl/qryEntryEventReportList',
        //         where: {
        //             leagueId: leagueId,
        //             leagueType: leagueType,
        //             entry: entry
        //         },
        //         limit: 40,
        //         loading: true,
        //         cellMinWidth: 60,
        //         cols: [
        //             [
        //                 {
        //                     field: 'event',
        //                     title: 'GW',
        //                     align: 'center',
        //                     width: 60,
        //                     rowspan: 2
        //                 },
        //                 {
        //                     field: 'eventNetPoints',
        //                     title: '净得分',
        //                     align: 'center',
        //                     width: 80,
        //                     rowspan: 2,
        //                     templet: function (d) {
        //                         if (d.eventTransfersCost > 0) {
        //                             return d.eventNetPoints + '(-' + d.eventTransfersCost + ')';
        //                         } else {
        //                             return d.eventNetPoints;
        //                         }
        //                     }
        //                 },
        //                 {
        //                     field: 'eventChip',
        //                     title: '开卡',
        //                     align: 'center',
        //                     rowspan: 2,
        //                     templet: function (d) {
        //                         if (d.eventChip === 'wildcard') {
        //                             return 'wc';
        //                         } else if (d.eventChip === '3xc') {
        //                             return '3c';
        //                         } else if (d.eventChip === 'bboost') {
        //                             return 'bb';
        //                         } else if (d.eventChip === 'freehit') {
        //                             return 'fh';
        //                         } else {
        //                             return d.eventChip;
        //                         }
        //                     }
        //                 },
        //                 {title: '队长', align: 'center', colspan: 5},
        //                 {title: '副队长', align: 'center', colspan: 4},
        //                 {title: '最高分', align: 'center', colspan: 3}
        //             ],
        //             [
        //                 {
        //                     field: 'captainWebName',
        //                     title: '名称',
        //                     align: 'center',
        //                     width: 140,
        //                     style: 'background-color: #5FB878; color: #fff;',
        //                     filter: true
        //                 },
        //                 {
        //                     field: 'captainPoints',
        //                     title: '加权分',
        //                     align: 'center',
        //                     width: 100,
        //                     templet: function (d) {
        //                         if (d.captainBlank) {
        //                             return '<div style="background-color: gray;color: #fff;" className="layui-table-cell">' + d.captainPoints + '</div>';
        //                         } else {
        //                             return '<div style="background-color: #FFB800;color: #fff;" className="layui-table-cell">' + d.captainPoints + '</div>';
        //                         }
        //                     },
        //                     sort: true,
        //                     filter: true
        //                 },
        //                 {
        //                     field: 'captainSelected',
        //                     title: '持有率',
        //                     align: 'center',
        //                     width: 80,
        //                     style: 'background-color: #5FB878; color: #fff;'
        //                 },
        //                 {
        //                     field: 'captainPointsByPercent',
        //                     title: '得分占比',
        //                     align: 'center',
        //                     width: 100,
        //                     style: 'background-color: #5FB878; color: #fff;'
        //                 },
        //                 {
        //                     field: 'captainSelectedInLeague',
        //                     title: '联赛选择',
        //                     align: 'center',
        //                     width: 100,
        //                     style: 'background-color: #5FB878; color: #fff;'
        //                 },
        //                 {
        //                     field: 'viceCaptainWebName',
        //                     title: '名称',
        //                     align: 'center',
        //                     width: 140,
        //                     filter: true
        //                 },
        //                 {
        //                     field: 'viceCaptainPoints',
        //                     title: '得分',
        //                     align: 'center'
        //                 },
        //                 {
        //                     field: 'viceCaptainBlank',
        //                     title: 'blank',
        //                     align: 'center',
        //                     width: 80,
        //                     templet: function (d) {
        //                         if (d.viceCaptainBlank) {
        //                             return '是';
        //                         } else {
        //                             return '否';
        //                         }
        //                     }
        //                 },
        //                 {
        //                     field: 'viceCaptainSelected',
        //                     title: '持有率',
        //                     align: 'center',
        //                     width: 80,
        //                     hide: true
        //                 },
        //                 {field: 'highestScoreWebName', title: '名称', align: 'center', width: 140, filter: true},
        //                 {field: 'highestScorePoints', title: '得分', align: 'center'},
        //                 {
        //                     field: 'highestScoreSelectedInLeague',
        //                     title: '联赛选择',
        //                     align: 'center',
        //                     width: 100
        //                 }
        //             ]
        //         ],
        //         filter: {
        //             items: ['data'],
        //             bottom: false
        //         },
        //         done: function () {
        //             soulTable.render(this);
        //         },
        //         id: tableId
        //     });
        // }

    });
</script>

</html>